[2019-05-01 05:17] ljvmiranda921 commented on #264
Closing this issue. Will be overriden by #335

[2019-05-01 05:17] #264 closed

[2019-05-04 10:46] shouvik-paul commented on #315
Hi Everyone,
I am trying to implement k-means clustering using PSO (actually I want to implement k means clustering using PYSwarms). Primarily I want to test it on Iris dataset then others.
I am new.  Can anyone help me by providing me  a  basic knowledge of the uses of PySwarm?
or Can anyone help me by providing a demo code for 'k means clustering using PYSwarms'?

[2019-05-06 04:46] AlOo2002 opened #337 "help me in my ORgate"
hi everyone
im new in coding and im trying to do OR gate by using neural network but it seems there is something wrong can any one help me
her is my code

import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
# Import PySwarms
import pyswarms as ps
%load_ext autoreload
%autoreload 2

X = np.array([[1,1],
              [0,1],
              [1,0],
              [0

[2019-05-07 00:07] ljvmiranda921 commented on #337
Hi, @AlOo2002 can you copy paste the whole error message here (the full traceback not just the `IndexError` message) so that I can diagnose the problem further :)

[2019-05-07 05:56] AlOo2002 commented on #337
@ljvmiranda921 thank you very much sir for replying back  I appreciate that .
and this is whole error message :
IndexError                                Traceback (most recent call last)
<timed exec> in <module>

~\Anaconda3\lib\site-packages\pyswarms\single\global_best.py in optimize(self, objective_func, iters, fast, **kwargs)
    181             # Compute cost for current position and personal

[2019-05-07 18:52] AlOo2002 commented on #337
@ljvmiranda921  than you sir very much for your time i solved the problem

[2019-05-07 18:52] #337 closed

[2019-05-07 22:42] tsehso opened #338 "Is it possible to only get the integer numbers?"
* PySwarms version: 1.0.2
* Python version: 3.6
* Operating System: Mac

### Description

Hi there,

I recently just finished my first optimization using pyswarms and found that all the results I got were floating numbers.

Since the later on manufacturing process doesn't have such high accuracy, the result of the final product will have a very large difference with my optimization result.

I'm th

[2019-05-07 23:30] #338 closed

[2019-05-08 00:17] ljvmiranda921 commented on #337
Oh ok! Would you mind sharing us the solution? @AlOo2002

[2019-05-08 00:18] ljvmiranda921 commented on #338
Hi @tsehso , have you already solved this problem? Would you mind sharing the solution?

[2019-05-08 00:27] AlOo2002 commented on #337
İ just changed the n-classes number to 2
But ım not sure if my code explane the gate system for OR AND gates 🙈 what do you think sir 🙈

[2019-05-08 00:30] ljvmiranda921 commented on #337
I think the OR gate should have the following inputs:

[code]

[code]

If the optimization goes well then it should work!

[2019-05-08 00:36] AlOo2002 commented on #337
Yaaa 🙊 it worked you are great 💪🏼 Thanx alot for every thing 🌸

[2019-05-08 01:09] ljvmiranda921 commented on #337
Glad to be of help!

[2019-05-09 16:46] bhaskatripathi commented on #110
I am still facing the error for best subset for feature selection.

# Perform optimization
cost, pos = optimizer.optimize(f,iters=700, fast=False)
The optimizer function returns the following output for _pos_-
1. I have 30 features and 903 rows
2. pos shows 903 returns an n-dimensional array of (903,30).
3. X_selected_features = X[:,pos==1] shows an "IndexError: too many indices for array" since i

[2019-05-09 19:06] whzup commented on #315
@shouvik-paul Hi! Your question might be better suited to be asked in the gitter channel https://gitter.im/pyswarms/Issues 😄 Just log in with your GitHub login.

[2019-05-09 19:08] whzup commented on #315
@Axoahi Could you maybe provide a minimal working example for the issue you run into? I'll be honest no one of us maintainers has the time and energy to debug code that runs 4 hours before getting any results😕.

[2019-05-09 19:25] shouvik-paul commented on #315
@whzup thank you for your reply. can you please tell me, How can I check Pbest or Gbest in the case of a dataset like wine dataset?

[2019-05-10 10:15] Axoahi commented on #315
Hi @whzup. Sorry, but I cant reproduce the error faster or with a minimal solution. I guess that inertia parameters can make that particles get outside initial boundaries. I started the algorithm at night, and when i woke up, i saw the error 😐

[2019-05-12 07:25] MohMehrnia opened #339 "How do Optimize 4 Parameter"
HI
How do optimize 4 parameter with fitness f(x) = a+b+c+d+e
and
a,b,c,d,e is a range

[2019-05-14 03:29] tsehso commented on #338
Hi @ljvmiranda921,  I haven't solved this problem yet since I am confused about whether this problem came from the module I used or from the PSO. I'm still working on it and if there is any update about this problem, I will share it

[2019-05-14 10:43] msat59 opened #340 "Verbose option is missing (it is in documents)"
Hi.

Please bring back the verbose option. I need to disable progress bar. I can disable it in the code; but it's better to have it as an option.

According to the documents, optimize should have the option; but both **verbose** and **print_step** have been removed.

`optimizer.optimize(f, print_step=100, iters=1000, verbose=2)`

Thanks.

[2019-05-14 12:30] ljvmiranda921 commented on #340
Yup, we’re fixing the docs now. Sorry for the confusion!

[2019-05-14 12:33] msat59 commented on #340
Any plan to add it to the code? I've already added it to the local version.

[code]

[2019-05-14 12:54] ljvmiranda921 commented on #340
As of now we’re planning to add it in the code, but I might release the new version this weekend. For now please use your local changes and maybe open up a PR. Sorry I haven’t been on top of Issues, work got reallyy busyy

[2019-05-14 15:02] BalasubramanyamEvani opened #341 "Mutation in PSO"
**Is your feature request related to a problem? Please describe.**
Hi !

I have been testing PSO for my research work, and came across the problem that PSO falls in the local minima if the particles gets attracted towards the best particle very quickly.

**Describe the solution you'd like**

Hence, i would like to add an option for mutation (like in GA). Gaussian, Cauchy are some that seemed to wo

[2019-05-17 08:52] resetscoder opened #342 "Mixed Integer and Continuous variables"
**Is your feature request related to a problem? Please describe.**
Hi! I am currently working on a plant Layout Optimization Problem, which is in my case a non-convex MINLP - Mixed Integer Non-Linear Programming problem. PSO could be well suited to my problem but I have to work with both integer and continuous variants. Currently PySwarms is implemented with only binary or only continuous variants

[2019-05-18 07:31] #335 closed

[2019-05-18 07:31] ljvmiranda921 commented on #340
Hi documentation is now updated! Will be closing this issue now :+1:

[2019-05-23 04:52] #9 closed

[2019-05-23 13:13] ljvmiranda921 commented on #341
Hi @BalasubramanyamEvani , sorry for the very late reply.
Mutation in PSO seems to be a pretty nice thing to add up. I'd suggest we can try it out first by adding a new optimizer, similar to `global_best` and `local_best` that involves the mutation parameter (rather than having it in the base class).

What do you think @whzup ?

[2019-05-23 13:15] ljvmiranda921 commented on #339
Hi @MohMehrnia , I was wondering what are the things you've already tried out so far? In your objective function, `f(x)`, how is the equation dependent on `x`?

[2019-05-23 13:17] MohMehrnia commented on #339
Hi, it is a sample
How can optimize funtion with 4 patameter

[2019-05-27 03:32] starfriend10 opened #346 "Parallel particle evaluation is stuck"
* PySwarms version: 1.1.0
* Python version: 3.6
* Operating System: WIN10 64bit

### Description

First, thanks for developing the parallel particle evaluation function.
I was trying to use it, but the program was stuck for a long time when using the function.
Specifically, it is okay without "n_processes" (parallel particle evaluation), but it is stuck with "n_processes".

### What I Did

**Part

[2019-05-27 04:04] ljvmiranda921 commented on #346
Oh no, this seems to be a critical bug. I'm sorry about that. You think you can carry this over? @whzup @danielcorreia96 ?

[2019-05-27 05:50] whzup commented on #341
@ljvmiranda921 Seems like a cool addition :+1:
@BalasubramanyamEvani I think it's best if you have a look at the GlobalOptimizer / LocalOptimizer / GeneralOptimizer classes [here](https://github.com/ljvmiranda921/pyswarms/tree/master/pyswarms/single) so you get a first impression on how the optimizers are constructed. Are you familiar with the git workflow? If yes just open up a PR and we discuss

[2019-05-27 05:57] whzup commented on #346
@ljvmiranda921 I'll have a look at it :+1:

[2019-05-27 10:40] starfriend10 commented on #346
**Some additional tests/info:**

- Tested a simple, built-in function, _rastrigin_; works well (although parallel is slower than non-parallel).

- Tested a simple machine learning function, _support vector regression (SVR)_, it was also stuck.

**Code for SVR:**
[code]

**output for SVR-PSO:**

%%time
cost, pos = optimizer.optimize(f, iters=2, n_processes = 10)
2019-05-27 04:11:04,874 - pyswarms.s

[2019-05-29 10:24] carloscruzdelatorre opened #347 "pyswarms in anaconda"
Would it be possible to work with pyswarms under Anaconda? I have experiences errors when running Spyder and it is found no module named 'pyswarms'. pyswarms works correctly in console. Thanks in advance. regards

[2019-05-29 10:36] ljvmiranda921 commented on #347
Hi @carloscruzdelatorre , I think it is possible to install `pyswarms` inside your `conda` environment via `pip`. You can double check where the Spyder path is pointing and see if pyswarms is installed there

[2019-06-01 18:38] whzup commented on #346
@starfriend10 Thank you for the additional information. Could you please provide the whole code you're running? I  get this error when running the code you provided:
[code]
Regarding the rastrigin function, I think this is because of the overhead of the scheduling for multicore processing where the decision is made which core computes what. As there are only 2 iterations and a simple function this

[2019-06-01 23:55] starfriend10 commented on #346
Here is a simplified code for the example of SVR-PSO:

[code]

I use Spyder 3.2.8 and Python 3.6.5. Note that without "n_processes = 10", it worked well.

Please download the sample data here:
https://github.com/starfriend10/ISMLR-application/raw/master/Sample%20data.xlsx

[2019-06-08 09:39] whzup commented on #346
Ok this seems to be an issue with Windows as it runs on Linux. @starfriend10 have you tried running the program by any other means than Jupyter?
Just for completeness, this is what I get when I run it in the Powershell:
[code]

[2019-06-08 10:43] starfriend10 commented on #346
I only use Spyder, so I don't know what would happen in other means.

[2019-06-12 11:18] #315 closed

[2019-06-24 12:16] ljvmiranda921 opened #348 "No yaml in dependencies"

[2019-06-25 13:42] #342 closed

[2019-06-28 13:29] ljvmiranda921 commented on #347
stalebot stop

[2019-06-29 06:20] #341 closed

[2019-06-29 12:50] starfriend10 commented on #346
Can I ask if there is any progress on this issue? I guess that you are all very busy, so I plan to investigate if I can use Linux to solve my problems next month.

[2019-06-29 13:33] ljvmiranda921 commented on #346
Hey @starfriend10 , sorry for not following this up. Will take a look at this next week. If possible, for the meantime, can you try running it on Linux as you mentioned? If it works then atleast we can zero-in that it is an OS problem.

Really sorry for the non-response, thank you for understanding!

[2019-06-29 13:38] starfriend10 commented on #346
@ljvmiranda921 No problem. I didn't use Python in Linux, but will give a try.

[2019-06-29 14:23] BalasubramanyamEvani commented on #341
Hi, I am very sorry for the late reply. It is my final year hence I was very busy with submission of my research project. I will go through the optimizers mentioned and yes I am new to the git workflow. So it would be great if @whzup can help me !

[2019-06-30 17:42] bhaskatripathi opened #349 "Feature subset for Regression"
Can we use the features selected by BPSO for regression models like SVR (not classification) ?
e.g. I use the below code to generate the feature subset. Next I use this feature subset as an input to a regressor like SVR and use it for prediction of results. It is possible in the current setting. ?
# Create two instances of LogisticRegression
classfier = linear_model.LogisticRegression()

# Get the

[2019-07-03 03:56] syvlabs opened #350 "parallelizing pyswarms"
I think this is a super amazing library, and the main author is super great as well.

Given that swarm optimization techniques are parallelizable, how can we go about doing pyswarms in a parallel way? I think it would be **SUPER** if we can scale this to big big BIG datasets

[2019-07-03 14:39] ljvmiranda921 commented on #350
Hi sylvabs, the [latest release](https://github.com/ljvmiranda921/pyswarms/releases/tag/v.1.1.0) now offers the ability to set the number of jobs for parallel compute. All thanks to @danielcorreia96 and @whzup for pushing this feature forward! You can try it out!

[2019-07-18 14:06] #339 closed

[2019-07-19 15:35] jeremysayz opened #351 "n_processes option eventually throws Too Many Open Files exception"
The n_processes option on a GlobalBestPSO optimizer seems to consume file handles. If you repeatedly create optimizers and run them (with n_processes other than None), you eventually get the Too Many Open Files exception.

The following code induces this for me with Python 3.6 with pyswarms 1.1.0:
[code]

Eventually get the message:

`ValueError: Unable to configure handler 'file_default': [Errno

[2019-07-19 19:59] vkremenetski opened #353 "User-provided initial positions (follow-up)"
I would like to have some feature where I can initialize the particle positions of the swarm.

I looked at post #119 with regards to this issue but when I tried to use the suggested workaround (optimizer.pos = my_own_positions.copy()) something odd happened: the optimizer returned a best cost that was far higher than the cost that was present at those initial positions.

This leads me to suspect t

[2019-07-24 13:21] ljvmiranda921 commented on #348
Remain open

[2019-07-29 00:48] SioKCronin commented on #9
Hi there! Just catching up with this Issue. Would it be helpful @d-lowl for you and I to discuss what you put together and flag areas for possible testing/development that I can support?

[2019-07-29 01:07] ljvmiranda921 commented on #347
stalebot stop

[2019-07-30 20:27] starfriend10 commented on #346
@ljvmiranda921  So I tried my codes under linux and they worked. The problem seems in the OS environment.

[2019-07-31 01:05] ljvmiranda921 commented on #351
Hmmm, we should definitely fix this, @whzup , what do you think?

[2019-07-31 01:06] ljvmiranda921 commented on #350
Closing this issue

[2019-07-31 01:06] #350 closed

[2019-07-31 01:07] ljvmiranda921 commented on #348
Resolved by #352

[2019-07-31 01:07] #348 closed

[2019-07-31 01:14] ljvmiranda921 commented on #353
Hi @vkremenetski , is it possible to provide a working example that reproduces this error?

[2019-07-31 01:15] ljvmiranda921 commented on #347
Closing this issue. The resolution is to install pyswarms within the conda environment.

[2019-07-31 01:15] #347 closed

[2019-08-02 18:42] #349 closed

[2019-08-06 09:19] brett18618 opened #355 "how to set the inertia weight 𝜔 dynamically"
Hi, I'd like to set the inertia weight 𝜔 with a linearly decreasing dynamic parameter framework descending from 𝜔𝑚𝑎𝑥 to 𝜔𝑚𝑖𝑛  as follows:
𝜔 = 𝜔𝑚𝑎𝑥 −(𝜔𝑚𝑎𝑥 − 𝜔𝑚𝑖𝑛)/ 𝐼𝑡𝑒𝑟s * 𝐼𝑡𝑒𝑟
Is it possible to accomplish that?

[2019-08-09 03:36] crcheng commented on #350
I hate **@ljvmiranda921**

[2019-08-09 04:34] ljvmiranda921 commented on #346
Gotcha! Awesome! Will close this issue for now, thanks a lot @starfriend10! We'll just add a note that there's still a bug on non-nix environments

[2019-08-17 13:12] MNCTTY opened #356 "'GlobalBestPSO' object has no attribute 'get_cost_history'"
Hello! I tried to run tutorial code from readme
And got this error:` 'GlobalBestPSO' object has no attribute 'get_cost_history'`
after

[code]

before this I've done these code strings and they were successful:

[code]
out:
[code]

what should I do to solve this issue??

[2019-08-17 13:15] MNCTTY commented on #356
ok, it's out of date readme, we should use:
[code]

[2019-08-19 09:59] Jendker opened #357 "Memory issues"
**Describe the bug**
When running `optimize` in loop I get the growth of memory consumptions without any limits. If I specify the `n_processes` parameter the growth is even faster, but the issue persists even without this parameter.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
No excessive memory consumption.

**Environment (please complete the following informa

[2019-08-20 01:10] ljvmiranda921 commented on #357
Hmm, it seems that we're having memory issues because of the new release. For now it's a bit buggy, would it help if you install 1.0.2 first?

[code]

[2019-08-20 09:18] Jendker commented on #357
Unfortunately with v1.0.2 there is still the same issue.
I have increased both `n_particles` and `dimensions` in the code above to 100 and the excessive memory use over time is clearly visible.

[2019-08-29 13:29] uttamkhatri opened #358 "from pyswarms.utils.console_utils import cli_print : i try to used this package but it doesn't work could you suggest it alternative"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - OS: [e.g. Linux]
 - Version [e.g. Ubuntu 16.04]
 - PySwarms Version [e.g. v.0.2.0]
 - Python Version [e.g. 3.6.X]

**Additio

[2019-08-30 02:34] ljvmiranda921 commented on #351
@stale stop

[2019-08-30 02:34] ljvmiranda921 commented on #353
@stale stop

[2019-08-30 02:34] ljvmiranda921 commented on #358
Hi @uttamkhatri , can you provide a reproducible example so that we can further pinpoint where the error is? Thank you!

[2019-08-30 02:43] uttamkhatri commented on #358
from pyswarms.utils.console_utils import cli_print

            if i % print_step == 0:
                cli_print(
                    "Iteration {}/{}, cost: {}".format(i + 1, iters, np.min(self.swarm.best_cost)),
                    verbose,
                    2,
                    logger=self.logger,
                )

[2019-09-11 05:44] #346 closed

[2019-09-19 11:23] Jendker commented on #357
It is still valid

[2019-09-19 15:05] #356 closed

[2019-09-19 17:14] dvida opened #359 "Giving a callback to the optimize function"
Hi!

Thanks for writing such a practical, readable, and well documented library!

It would be even greater if one could give a callback function to the optimize function which would get called at the end of every loop.

I'm running the PSO on a supercomputer and I'm using many particles. The eval function runs a complex simulation, so it takes a long time to finish an iteration. I would like to be

[2019-09-20 01:05] ljvmiranda921 commented on #357
Yup sorry about this!

[2019-09-30 23:06] bundasmanu opened #360 "Need Help to Understand some data of your Documentation"
Hi guys,

I started this week trying pyswarms.
First of all I would like to thank you for the tremendous contribution you have made to this very interesting and useful project.
Well, I've been analyzing a document of your project, and applying it to my dataset, and according to my data, I didn't realize which parameter should be passed to a function.
The Link to your document is: https://github.co

[2019-09-30 23:54] ljvmiranda921 commented on #360
Hi @bundasmanu , let me get back to you tonight! (GMT+8)

[2019-10-02 19:15] bundasmanu commented on #360
Hi again,

My only doubt is that in the documentation I mentioned, the function f receives an array as a parameter [nParticles] [dimensions], but when called in optimize, no argument is passed to it, why ??
And if I want to pass more than one parameter to my function f, which is my case, I inevitably have to pass this array, but as in the documentation the call of function f has no parameter, and

[2019-10-06 04:17] cembry26 opened #361 "out of bounds issue when compute_gbest is called"
* PySwarms version:1.1.0
* Python version:3.7.4
* Operating System:Windows 10

# Description

Howdy!

I'm trying to tune the hyperparameters of xgboost trees utilizing this library, and I'm hitting an issue with the compute_gbest of the ring class going out of bounds of the swarm.pbest_cost.

I'm not sure if my passing of results from my cost function is the issue or if it is on your end.

# What

[2019-10-07 03:24] ljvmiranda921 commented on #355
stop

[2019-10-09 01:22] starfriend10 commented on #357
I also have a similar issue. What I have been doing to use PSO to optimize machine learning models. It seems there is a serious memory issue when using PSO for keras-based models (Long short-term memory or multilayer perceptron). But it's fine for another test when I used PSO for another package. I'm not sure if this is a problem in PSO or keras. BTW, the environment is similar: Linux (Ubuntu 18),

[2019-10-09 01:45] ljvmiranda921 commented on #357
Hmm, I feel that PSO is not able to delete the model after each iteration or per particle. I'd really love to work on this but the only problem is that I don't have a lot of time given my day job. I'm wondering if someone can hopefully take up and open a PR so that we can start solving this!

Really apologize and I appreciate you guys following-up! @starfriend10 @Jendker

[2019-10-09 01:47] ljvmiranda921 commented on #360
Helllo @bundasmanu , I apologize for my late reply. The value `f` should be a function in this case. Would you mind sharing with me a simple minimum working example so that I can get started?

[2019-10-09 01:48] ljvmiranda921 commented on #358
Hi @uttamkhatri , I am wondering why you're using `cli_print`. It's not a public-facing function and it's only used when developing PySwarms! Please let me know where you are using it so that I can guide you better!

[2019-10-09 01:50] ljvmiranda921 commented on #359
Hello @dvida ! Thanks a lot, I'd definitely love to work on this but my greatest blocker is that I don't have much time. It would be nice to have someone take-up on this feature and work on a PR!

[2019-10-09 15:32] bundasmanu commented on #360
Hello @ljvmiranda921 , i really appreciate your help, but i already solve my problem.
I found an excellent document, that focuses in my question.
[](https://github.com/insideman02468/Miniconda/blob/master/PSO/PySwarms/tutorials/PySwarms_tutorial_Basic_optimization.ipynb).
The link does not seem to be working, but for days it worked.
Thanks for your patience and time

[2019-10-09 23:53] riyanshk commented on #359
@ljvmiranda921 I would love to work on this PR.

[2019-10-09 23:54] ironstein0 commented on #359
@ljvmiranda921 Can I pick up this work?

[2019-10-10 00:52] ljvmiranda921 commented on #359
Hi @ironstein0 ! Gladly! Thanks a lot!

[2019-10-17 12:08] ddrm86 commented on #357
Hi everybody! I ran some tests of the provided sample code using pympler and tracemalloc:

[code]

[code]

The outputs suggests that the position and velocity arrays are piling up:

[code]

[code]
If we avoid the copy with `temp_position = swarm.position` some tests fail, but pympler shows that the memory occupied by ndarrays is reduced to a half, and now the biggest memory problem according to tr

[2019-10-17 14:08] ljvmiranda921 commented on #357
Hello @ddrm86 ! Thank you so much for this comprehensive analysis! This is definitely a great starting point to find root-causes of our issues. I think yeah, the previous refactor that we did performs a lot of copying which might not scale very hard for larger use-cases.

I'm still holding off from a major refactor (to be honest the real blocker is that no one right now has the bandwidth to own th

[2019-10-17 14:10] ljvmiranda921 opened #362 "Migrate CI/CD to drone CI"

[2019-10-17 17:45] ddrm86 commented on #357
Ok, after some debugging I found that the problem is that all those history fields (self.cost_history, self.pos_history, self.velocity_history, etc.) are not reset during successive calls to `optimize`: they are reset just once when creating the optimizer object.

Thus, every iteration in `optimize` calls `self._populate_history(hist)`, that appends all the relevant data, including both position a

[2019-10-18 03:55] jsaraneta commented on #362
Hi @ljvmiranda921  can take this one?

[2019-10-18 04:00] ljvmiranda921 commented on #362
Sure @jsaraneta let's pair up on this!

[2019-11-04 05:16] #353 closed

[2019-11-04 05:16] #351 closed

[2019-11-08 16:51] #360 closed

[2019-11-09 03:49] #355 closed

[2019-11-11 02:07] #358 closed

[2019-11-12 02:25] #359 closed

[2019-11-16 18:51] ddrm86 commented on #357
I think it is easily fixable, but still waiting for an answer...

[2019-11-20 05:00] #362 closed

[2019-11-20 09:52] LouisdeBroglie opened #364 "User case of "Feature Subset Selection""
**Describe the bug**
I begin to use the pyswam to solve my real problem . When I follow the user guide, the last step to plot the feature subset. It turns out :

![image](https://user-images.githubusercontent.com/20769762/69228141-0394da00-0bbe-11ea-96ec-3e535e22ccd2.png)

The link is : https://pyswarms.readthedocs.io/en/latest/examples/usecases/feature_subset_selection.html

** solution **

I try

[2019-12-02 12:26] vectorkt opened #365 "Passing Discrete Values?"
Good day,

I have a two-argument function...

f(activation, solver)

...with discrete arguments...

['logistic','tanh']
['sgd','adam']

...and I'm trying to optimize both of them with a particle swarm.

 Something like:

import pyswarms as ps

bounds1=['logistic','tanh']
bounds2=['sgd','adam']

options = {'c1': 0.5, 'c2': 0.3, 'w':0.9}

optimizer = ps.single.GlobalBestPSO(n_particles=3, dimensions

[2019-12-17 15:03] Jendker commented on #357
Still not solved

[2019-12-20 02:56] NealWood opened #366 "Parallel computing problems"
**Describe the bug**
When I use paralell computing by parameter 'n_processes' and set it to '2' or  more over, the code running cost more time than the code which without parelell computing.

**Code**
import pyswarms as ps
import time
from pyswarms.utils.functions import single_obj as fx
options = {'c1': 0.5, 'c2': 0.3, 'w': 0.9}
optimizer = ps.single.GlobalBestPSO(n_particles=50, dimensions=2, op

[2019-12-24 03:24] #364 closed

[2019-12-31 09:16] ljvmiranda921 opened #367 "Automate release via Azure Pipelines"

[2020-01-03 14:58] sidml commented on #366
I think this happens because the time cost of starting a new process > computation time of function. I tried n_processes > 1 for more complicated functions and it does provide a speedup.

[2020-01-04 12:52] #365 closed

[2020-01-06 08:23] #366 closed

[2020-01-06 08:24] NealWood commented on #366
OK，Thanks for your help!

[2020-01-17 13:57] gabrielaleon opened #368 "Restrictions"
I was wondering if I could add a restriction rule.
I have for dimensions and each of them have bounds, but also I need to make sure that the sum of these dimensions is equal to 1.
In other words, every time that the particles are updated they need to respect the bounds and the sum of the dimensions of each particle must be 1.
Can I do it in this package ? Is possible to modify a function/class to

[2020-01-21 15:58] alisaffari97 opened #369 "How to Change Optimal Value?"
# Description

I wanna to use PSO algorithm to find optimal K(number of clusters) value for K-means clustering algorithm.

### What I Did

I used pyswarms.single.GlobalBestPSO function with my own fitness function, the problem is the algorithm find closest cost to zero as the best result, but I wanna  find the closest cost to 1 as best value. How to do that?
Also The algorithm produce float number

[2020-02-02 11:45] #367 closed

[2020-02-10 11:24] whzup commented on #365
@vectorkt So you want to pass strings to the optimization function?

[2020-02-10 11:26] whzup commented on #364
@LouisdeBroglie What exactly is the problem here?

[2020-02-10 11:30] whzup commented on #357
@ddrm86 Thank you a lot for your work! Calling `self.reset()` at the beginning of the `optimize` function seems good to me! Would you create a PR for that?

[2020-02-11 09:23] ddrm86 commented on #357
Done! PR #370

[2020-02-14 17:57] whzup commented on #357
By the way I just noticed the
[code]
in @Jendker 's code. Of course, it will fill up the memory because you are just calling the optimize function that many times. The optimize function has a loop inside of it so why would you wrap it in an infinite loop? Is there a reason for that? Because otherwise I think we don't even need the PR. from @ddrm86 😕.

[2020-02-14 19:27] Jendker commented on #357
Why should it fill up the memory? I am getting result from `optimize` to variables `best_cost` and `best_pos` which are getting overwritten so the user would expect it to behave stable. Why should user expect, that something gets filled up in the object? Maybe at least some information in the docu would be good as @ddrm86 has proposed, that `self.reset()` has to be called each time.

[2020-02-19 14:22] #368 closed

[2020-02-21 20:17] georgiek1 opened #371 "Optimising functions that use arrays"
* PySwarms version: 1.1.0
* Python version: 3.7
* Operating System: MacOS 10.14

### Description

I am trying to minimise an output of a PDE model, which uses arrays over a 2D 100x100 grid. I have previously tried using 'pyswarm', but it does not have a parallelisation option, so running it is far too slow and computationally expensive. I have turned to 'pyswarms', but have come across an issue wi

[2020-02-22 03:18] ljvmiranda921 commented on #371
Hi @georgiek1 , thanks for using Pyswarms, let me check on this for now and respond in a while!

[2020-02-24 13:25] #369 closed

[2020-02-24 19:26] whzup commented on #357
@Jendker Could you quantify the memory problem? How fast is it growing? Does it have a significant impact on the performance of your machine?
From the analysis of @ddrm86, it looks like it "only" occupies some 10 MB of memory for 100 iterations with extremely big dimensions (24). I would argue that the history of the swarm is quite useful for a posteriori error analysis (which may one want to do a

[2020-02-24 20:29] Jendker commented on #357
I see, sorry for taking your time. Good luck with your project nevertheless!

And thanks @ddrm86, I have learnt a bit about debugging the memory issues.

[2020-02-24 20:29] #357 closed

[2020-02-25 02:30] ljvmiranda921 commented on #357
Hello, really sorry for the very late replies. Things got swamped as well on my end. Will definitely think about a better way to handle issues from here on in.

Thank you so much @whzup for helping out in some of the current Issues. I really appreciate that! Yes, we should definitely add a note in the documentation. I can take point on that!
Thank you as well @Jendker and @ddrm86 for opening-up th

[2020-02-29 20:17] devkicks commented on #340
Where are you making these changes? I also need to turn off verbose option as it is constantly printing messages I dont want to see. To me this is quite essential option to have.

[2020-03-01 12:16] ljvmiranda921 commented on #340
Hi @devkicks , we haven't added it up in the codebase and just updated the documentation. Would you be able to help out in creating a PR for this?

[2020-03-04 10:00] BHAVANAGUBBI opened #372 "Index Error: "index 2 is out of bounds for axis 1 with size 2""
`*`
* Python version: 3.7.3
* Operating System: Windows

### Description

I am trying to implement the SVR model to predict the iris data set.
But am facing the below errors.

### What I Did

[code]
output:
Please find the error desc in the below link
<img width="413" alt="index error" src="https://user-images.githubusercontent.com/49832021/75867724-0645d300-5e2d-11ea-9b68-0ebdec9c90bd.png">

[2020-03-04 19:22] whzup commented on #372
@BHAVANAGUBBI Welcome on pyswarms! What exactly does your example have to do with pyswarms? 🤔 It seems to me, that this is an sklearn problem.

[2020-03-13 21:01] hakan-gecili opened #373 "Stopping Criteria"
* PySwarms version: All version
* Python version: Python 3
* Operating System: All OS

### Description
User should be able to define the stopping criteria as " If the objective function value does not improve for N iterations stop the optimization and return the best objective function value and other related objects".

This feature has been widely used in metaheuristic optimization and it is very

[2020-03-27 17:47] Timmenke opened #374 "Citing PySwarms in my work"
Hi PySwarms team, I've extensively used your package in my work on automatic design of quantum computing hardware: https://arxiv.org/abs/1912.03322. If you like, please add my preprint to the readme as work that is citing you. Great package, I love it!

[2020-03-28 14:31] whzup commented on #373
Hello @hakan-gecili, and welcome at PySwarms! How would you imagine this feature to look like? A parameter for tolerance `tol` and one for steps `n` and the condition will then be

"If the value of the last `n` steps are all within the tolerance `tol`, then stop"?

[2020-03-28 15:35] hakan-gecili commented on #373
Hi Aaron,

Your description is good but to make sure that we are on the same page.
I would define *tol* as the tolerance that will be compared with the
difference in objective function values (OFV) of consecutive iterations or
steps.
To be more specific:

delta_list = [None] * n
previous_best_cost = # run the PSO here and get an initial solution cost
for t in range(1, nb_iterations)
    new_best_c

[2020-03-28 15:37] hakan-gecili commented on #373
``delta_list = [None] * n
previous_best_cost = # run the PSO here and get an initial solution cost
for t in range(1, nb_iterations)
    new_best_cost = # run the PSO here and get a best_cost
    delta = new_best_cost - previous_best_cost
    if t < n:
        delta_list[t] = delta
    else:
        delta_list = delta_list[1:] + [delta]
        if all([j < tol for j in delta_list]):
            # C

[2020-03-28 15:39] hakan-gecili commented on #373
``

[2020-03-28 15:44] hakan-gecili commented on #373
Hi Aaron,

Your description is good but to make sure that we are on the same page.
I would define *tol* as the tolerance that will be compared with the
difference in objective function values (OFV) of consecutive iterations or
steps.
To be more specific:

[code]

I am working at Wright State University and we solve large scale
optimization problems, for those problems it is not possible to guess t

[2020-03-28 16:08] yasirroni opened #375 "Fully connected topology"
I'm new in PSO and confused in chosing topologies from pyswarms. This article [Comparative Study of Neighborhood](https://www.researchgate.net/publication/221616406_A_Comparative_Study_of_Neighborhood_Topologies_for_Particle_Swarm_Optimizers) explain it nicely. But, the standard or most used topology (based on the mentioned paper), fully connected topology, seems missing from pyswarms/pyswarms/bac

[2020-03-28 18:44] whzup commented on #375
Hello @yasirroni! Welcome to PySwarms! So in pyswarms we call the fully connected topology a star topology ([as you can verify for yourself in the code](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/backend/topology/star.py#L61)). I think this has something to do with the naming in the original publication but I'm not entirely sure. Maybe @ljvmiranda921 can say more about the orig

[2020-03-28 19:00] whzup commented on #368
Hello, @gabrielaleon! At the moment it is only possible if you are willing to write your own Optimizer (for which you could copy a lot of code from the [existing optimizers](https://github.com/ljvmiranda921/pyswarms/tree/master/pyswarms/single)). I think this is similar to #259. Due to the lack of time of the maintainer team at the moment we're sadly not ready to face such a big change, though.

[2020-03-28 19:03] whzup commented on #371
Hello @georgiek1! Could you provide us with your code? 😄 The error message does not really tell us a lot about where the problem happened😕.

[2020-03-28 19:19] whzup commented on #373
@hakan-gecili ok, so this would then be kind of an extension of the `ftol` option we already have. Only that instead of only 2 values we look at `n` values, right?

[2020-03-28 19:22] whzup commented on #340
@ljvmiranda921 I think we can easily implement this feature, though. We just add a `verbose` argument to the `optimize` method and then choose the iterator of the loop (because this generates the progress bar) and the local logging level. Do you think this works?

[2020-03-28 19:27] whzup commented on #361
Hello @cembry26! It seems like something is not correct with your cost function, what shape does its output have?

[2020-03-28 19:35] hakan-gecili commented on #373
Correct

[2020-03-28 22:30] yasirroni commented on #375
Thank you for the answer.

Then, it come to the next question. I've already trying  to understand the options but I can't fully understand it.

Since c and other parameters set how a particle communicate with their neighbors.

[2020-03-30 11:10] whzup commented on #375
@yasirroni There is a description in the [documentation](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.single.html#module-pyswarms.single.global_best). In short, it suffices if you set `c2 > 0`. The parameter `c2` is the social parameter that controls the influence of the neighbouring particles. If you set it to `0` a particle will have no contribution from its neighbours.

[2020-03-30 11:30] yasirroni commented on #375
Thank you very much. Silly me trying to find the explanation of each parameters in the code.

So, I'll take:
[code]
as the answer for fully connected default setting.

Thank you very much.

[2020-03-30 21:10] whzup commented on #374
@Timmenke Thanks a lot! We'll gladly add you as soon as we get around to it 😄 The paper looks very interesting by the way!

[2020-04-03 13:54] ljvmiranda921 commented on #374
Hi @whzup and @Timmenke , let me take point on updating the README. :) Unless @Timmenke wants to open up a Pull Request?

[2020-04-04 04:38] ljvmiranda921 commented on #375
Hi everyone!
The naming came from the original publication of PSO, as you hinted, you can find it at: J. Kennedy and R.C. Eberhart, "Particle Swarm Optimization," Proceedings of the IEEE International Joint Conference on Neural Networks, 1995, pp. 1942-1948.

I believe this Issue can now be closed :+1:
Thanks @yasirroni for opening-up the Issue and @whzup for taking point!

[2020-04-04 04:38] #375 closed

[2020-04-05 06:04] #374 closed

[2020-04-05 10:39] ayhaidar opened #381 "Optimizer Pickling not working"
I am trying to pickle the optimizer, but it is not working. Error returned:

`PicklingError: Can't pickle <class 'pyswarms.base.base_single.ToHistory'>: attribute lookup ToHistory on pyswarms.base.base_single failed`

Is there an easy way to save the optimizer after optimization finishes?

[2020-04-06 07:39] ljvmiranda921 commented on #381
Hi @ayhaidar ! Can you help me out by creating a minimum reproducible environment for this?

We haven't explicitly added a `save` feature for serialization but my assumption is that every class can be pickled. I want to test this assumption out first

[2020-04-07 04:22] #372 closed

[2020-04-07 18:46] Timmenke commented on #374
Thanks a lot for including my paper in the update!

[2020-04-07 22:37] ayhaidar commented on #381
Hi @ljvmiranda921 , Thanks very much for the quick reply.

Here is an example:

[code]

Results for the optimization:

Running on Python version: 3.6.8 |Anaconda, Inc.| (default, Feb 21 2019, 18:30:04) [MSC v.1916 64 bit (AMD64)]
2020-04-08 08:20:48,454 - pyswarms.single.global_best - INFO - Optimize for 30 iters with {'c1': 0.5, 'c2': 0.3, 'w': 0.3}
pyswarms.single.global_best: 100%|██████████|30

[2020-04-16 09:28] yasirroni opened #383 "DOI Link is broken."
**Describe the bug**
DOI Link is broken.

**To Reproduce**
Go to [https://doi.org/joss.00433](https://doi.org/joss.00433
) as explained in read me.

**Expected behavior**
PDF download or paper review

**Solution**
Replace the link with the one in bib: [https://doi.org/10.21105/joss.00433](https://doi.org/10.21105/joss.00433)

[2020-04-16 10:17] ljvmiranda921 commented on #383
Hi @yasirroni , welcome to Pyswarms! Thanks for catching this, would you like to contribute in this library by making a PR? I can help you out! 😄

[2020-04-16 10:21] yasirroni commented on #383
Sure, I'll help as much as I can.

[2020-04-16 11:46] #383 closed

[2020-04-16 14:50] ewekam commented on #373
Hi,
Is there a chance that this enhacement will be implemented in some near future?
In my project, we would like to to use this stopping criteria as well.
Thanks,
Ewelina

[2020-04-17 12:23] georgiek1 commented on #371
Hello @whzup, thanks for responding! I am attaching a notebook with my use of pyswarms on a test PDE model. I hope it is clear in itself but let me know if it's not. I would really appreciate knowing if the use of arrays in my model is not compatible with pyswarms or whether there is a way around the error.
[Pyswarms test.ipynb.zip](https://github.com/ljvmiranda921/pyswarms/files/4492856/Pyswarms.

[2020-04-18 07:48] whzup commented on #373
Hello @ewekam, would you be interested in creating a PR for this purpose? or you @hakan-gecili? Unfortunately, at the moment, I have a lot to do with my thesis 😕.

[2020-04-18 08:23] whzup commented on #371
@georgiek1, I had a look at the code and what I noticed is that your objective function takes the shape of only one particle. If you just define your function like this, have a look at the [inverse kinematics tutorial](https://github.com/ljvmiranda921/pyswarms/blob/master/docs/examples/usecases/inverse_kinematics.ipynb) and its objective function. Notice, that all the particles are processed at on

[2020-04-19 21:56] ckastner opened #387 "image sources for logo and circuit"
I'm packaging PySwarms for inclusion in the Debian archive. One minor issue I've encountered when building a documentation package is that I can't tell if the [logo](https://github.com/ljvmiranda921/pyswarms/blob/master/docs/pyswarms-header.png) is in its "original" form, or if it's the output of some tool (eg: Adobe Illustrator) based on another source file.

If it's the latter, then Debian requi

[2020-04-19 23:18] ljvmiranda921 commented on #387
Hi @ckastner , thank you so much for this initiative! I appreciate that!
* The logo was an output from Adobe Photoshop, I can't seem to remember where I saved the psd file, which is definitely a shame. Let me look for it and get back to you on Wednesday?
* If not, I can recreate the logo using Inkscape and output it as an SVG file, would that work?
* The circuit one is related to these issues: #20

[2020-04-20 07:39] ckastner commented on #387
Hi Lj,

* if you can confirm that the original source of the logo is no longer there, then that's fine, too. Then the current PNG becomes the base. Should you ever recreate the logo in Photoshop or some other tool, it would be great if you could include the base  document with which the PNG is created in the source.

* The circuit is not a big deal, either. Our doc building toolchain automatically

[2020-04-20 07:51] whzup commented on #387
Hey guys. I still have the TikZ source code for the circuit. It's only a few lines of code. @ljvmiranda921 is there a specific place you want the source to be?

[2020-04-20 08:06] ljvmiranda921 commented on #387
Hi @ckastner ,

Ok, I'd probably go with the route of least effort for now :joy: I'd check in my previous computer if I still have the source. I'll let you know tomorrow or on Wednesday!

It's good that @whzup still has the TikZ source code, since it's not required, up to you if you wish to upload it on this directory: https://github.com/ljvmiranda921/pyswarms/tree/master/docs/examples/usecases .

[2020-04-20 15:38] ljvmiranda921 commented on #340
^Hi @whzup sorry I wasn't able to reply properly, ok I think that works!

[2020-04-20 15:41] ljvmiranda921 opened #389 "Revisit and update documentation and examples"
I think one of the more common issues we encounter is that some examples don't work out of the box. We may have introduced a lot of changes in the API from the previous versions and weren't able to update the docs properly.

Let's scope this one out, right now we have docs located in:
- Our docstrings
- Jupyter notebooks

I know we did this exercise before, but it may be good to revisit it again j

[2020-04-20 16:17] ljvmiranda921 commented on #387
Gotcha!

[2020-04-20 17:01] ghost opened #390 "passing parameters"
Passing multiple parameters to function not working:

function signature: minFuncHestonWithJumps(x, spot, strikesMat, iR, q, optionTenorsYearFracs,
                               mktOptionPrices0)
x is ndarray with 6 components
args = (SPXSpot, strikes, spotInterestRate, 0.0, optionTenorsYearFracs, mktOptionPrices)
otherStuff = args
import pyswarms as ps
    options = {'c1': 0.5, 'c2': 0.3, 'w': 0

[2020-04-21 11:07] georgiek1 commented on #371
Thanks a lot, I will have a look and let you know if I can rework the objective function and suggested.
My mistake on the function - I renamed it to chem_timestep but did not update the name where it was called.

[2020-04-21 14:47] georgiek1 commented on #371
Sorry my mistake - the function it calls should be chem_timestep, I renamed it but did not correct where it is called.

Thanks for the suggestions, I've tried both ways and following the format of the inverse kinematics example is working for me. Using @ps.cost isn't returning the expected optimum but I may have made an error implementing it as I don't fully understand what it is doing. The change

[2020-04-21 16:53] whzup commented on #373
@hakan-gecili It seems like @nishnash54 has already taken on this issue! 🎊 Thanks a lot! 👍

[2020-04-21 17:51] whzup commented on #371
@georgiek1 What `@ps.cost` does, is it "vectorizes" the function similar to the way in the inverse kinematics example. Thus, you have to design your function for only one particle to work. See [here](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.utils.decorators.html) for the documentation and the expected in- and output for the decorated function.

Regarding the number of particles, if y

[2020-04-21 17:53] whzup commented on #389
I found some unrendered math [here](https://pyswarms.readthedocs.io/en/latest/examples/usecases/electric_circuit_problem.html).

[2020-04-21 17:55] whzup commented on #389
I also think we should open an issue for a collection of architecture updates we want to make (e.g. see #235, #259).

[2020-04-21 21:53] ljvmiranda921 commented on #389
^Agree! Or we can just reuse the existing issues #235 #259 and include them in this current effort.
Also, no pressure here, I appreciate that you're taking the time and holding the fort answering Issues and reviewing PRs, but focus on your thesis and graduation! I'm rooting for you!

[2020-04-21 21:58] ljvmiranda921 commented on #387
Hi @ckastner ,

1. For the logo, unfortunately, I can't really find the source anymore.
2. For the circuit image, @whzup made a PR and added the TeX file to `docs/examples/usecases/circuit.tex` hope that works! You can also find the PNG file there.

Let me know if you need anything more :smile: ! Have a good day!

[2020-04-22 11:23] nishnash54 commented on #381
This is one of the drawbacks of using `pickle`, it fails to handle nested classes.
In case you want to store just the history, you should be able to pickle that separately or save to a file in `json` or `csv` format.
If you want to store the `optimizer` object as is and reuse it later, I would recommend a package called [`dill`](https://dill.readthedocs.io/en/latest/dill.html). It can be used as a

[2020-04-22 11:47] ckastner commented on #387
I believe both issues are resolved now.

Thank you, both, for the quick action!

[2020-04-22 11:47] #387 closed

[2020-04-23 07:03] nishnash54 commented on #340
Adding the `full` verbose option would be great when running optimizations with fewer iterations. For a large number of iterations, the `print_step` parameter makes a lot of sense.
Currently you are using a logger for the results. May I suggest you have something like a tabular format that makes it easier to read, maybe something like `gplearn`. [Here's](https://github.com/trevorstephens/gplearn/b

[2020-04-24 00:10] msat59 commented on #340
There are three places:

pyswarms\single\global_best.py
pyswarms\single\general_optimizer.py
pyswarms\discrete\binary.py

search for **self.rep.hook(best_cost=self.swarm.best_cost)** and add that condition. In addition, you should add verbose=False in function declaration. I can change the code if it's required.

[2020-04-24 00:27] msat59 opened #394 "Multiprocessing pool is not closed"
**Describe the bug**
When the **n_processes** parameter in **optimize** method is used, n_processes new process is created; but they are not terminated after completion of the task.

**To Reproduce**
Steps to reproduce the behavior:
options = {'c1': 0.5, 'c2': 0.3, 'w':0.9}
optimizer = ps.single.GlobalBestPSO(n_particles=100, dimensions=2, options=options)
cost, pos = optimizer.optimize(fx.sphere,

[2020-04-24 01:03] ljvmiranda921 commented on #340
Hi @msat59 @nishnash54  sorry I don't have the bandwidth to do new updates. If you can open a PR on this that would be great! Let's do @msat59 's version first, then maybe work on @nishnash54 's suggestion.

[2020-04-24 01:14] msat59 commented on #340
I rechecked my fix now, after a year. It's not completely verbose. I will check it tomorrow morning.

[2020-04-24 15:04] msat59 commented on #340
I finally fixed the verbosity; but I don't know if can contribute to the code change or I should paste the modified code here

[2020-04-24 16:50] msat59 commented on #394
Fixed the issue and created a PR.

[2020-04-25 00:11] ljvmiranda921 commented on #373
Closing this issue now since it's resolved by #391
Will make a new release with this feature by end of month
Thanks everyone for the help!

[2020-04-25 00:11] #373 closed

[2020-04-25 08:05] whzup commented on #371
@georgiek1 May I just add to this that the multiprocessing part in the current version is a little buggy (see #394) and that it's been fixed and will be in the next release. Thus, I'd advise you to get the latest version as soon as it is out if you rely on this feature!

[2020-04-29 15:39] #340 closed

[2020-05-01 06:05] #361 closed

[2020-05-01 23:30] msat59 commented on #394
Already added to the code while adding the verbose switch.

[2020-05-01 23:30] #394 closed

[2020-05-01 23:49] msat59 commented on #235
@echo66 , are you still working on it?

[2020-05-01 23:52] msat59 commented on #389
In case of a n_process>2, an addition consideration must be given to Jupyter Notebook for windows users.

https://stackoverflow.com/questions/47313732/jupyter-notebook-never-finishes-processing-using-multiprocessing-python-3

[2020-05-02 13:05] georgiek1 commented on #371
Thanks so much, super useful info. I'll be sure to use the next release when it comes. Hope to update you at some point in the future with my use of pyswarms!

[2020-05-02 13:05] #371 closed

[2020-05-03 10:57] msat59 opened #397 "Early stropping (ftol) if cost isn't reduced"
**Describe the bug**
When the ftol is used and the best cost is equal in two consecutive iteration, the search is stopped even if the cost is high.

**To Reproduce**
`
options = {'c1': 0.5, 'c2': 0.3, 'w':0.9}
optimizer = ps.single.GlobalBestPSO(n_particles=100, dimensions=2, options=options, ftol=1e-10)
cost, pos = optimizer.optimize(fx.sphere, iters=1000, n_processes=None, verbose=True)
`

Outpu

[2020-05-03 11:21] msat59 commented on #397
It seems that a new argument, **ftol_iter**, has been added to GlobalBestPSO. It gives an error for me:

`File "C:\Miniconda3\lib\site-packages\pyswarms\single\global_best.py", line 138, in __init__
    init_pos=init_pos,
TypeError: __init__() got an unexpected keyword argument 'ftol_iter'`

[2020-05-03 11:44] ljvmiranda921 commented on #397
Hi @msat59 thanks for reporting this. The addition of `ftol_iter` came from the last PR I merged: https://github.com/ljvmiranda921/pyswarms/pull/391 The idea is that we stop the optimization if the objective function value does not improve over `ftol_iter` iterations.

Perhaps the default value must be updated? What do you think @msat59 ?
Any thoughts @nishnash54 ? :)

[2020-05-03 11:49] msat59 commented on #397
This ftol_iter does not fix the issue and I believe that we don't need it. By applying the fix I mentioned, there is no need to use ftol_iter.

For example, if I set ftol=1e-10 (with my fix) and also use  ftol_iter=5, the cost may go somewhere around 1e-15.

This doesn't make sense to me.

On the other hand, without my fix, the search may stop when cost is 1e-3 but 5 consecutive costs were equal (

[2020-05-03 12:07] msat59 commented on #397
I should also mention that ftol_inter increases the change of stopping in a local minima and miss the global one.

[2020-05-03 12:44] ljvmiranda921 commented on #397
Ok this makes sense, would you like to submit a PR so that we can check?

[2020-05-03 13:44] msat59 commented on #397
Using the version with or without ftol_inter?

An option should be added to disable ftol_inter if we are going to keep it. I can do it BTW.

[2020-05-03 13:46] ljvmiranda921 commented on #397
Good idea on adding a trigger to disable ftol_iter. How about we default that value to `None` (disabled?). So if `ftol_iter` has some value, then we use that?

[2020-05-03 14:12] msat59 opened #398 "'adjust' velocity handler does not converge"
**Describe the bug**
By using vh_strategy='adjust', the optimize method does not converge.

**To Reproduce**
Steps to reproduce the behavior:
Here is the code:

output:
`Position: [0.01021064 0.01986428], Cost: 0.0004988469301768021`

**Expected behavior**
Other vh_strategy values or even the default value ("periodic") converge easily. The position should be close to zero after 1000 iterations.

*

[2020-05-03 14:21] ljvmiranda921 commented on #398
I think @whzup is a good fit to tackle this :)

[2020-05-03 14:31] nishnash54 commented on #397
`ftol` and `ftol_iter` works as expected (mentioned in use case #373 and implemented as #391 ). Many larger optimization problems make use of a tolerance based approach to decide when to stop the algorithm (_early stopping when no improvement_). You can consider this case to be when the algorithm does not show any improvements (`ftol`) over a set number of iterations (`ftol_iter`).
The behavior of

[2020-05-03 16:31] msat59 commented on #397
@nishnash54, I added a switch named `fmin` in my local version. It worked great but the user needed to know what the minimum cost is.
It's possible if one tries to solve an equation or find the roots; but the minimum cost is unknown in several cases.

According to the code, the `ftol` is the difference between `best_cost` in  two consecutive iterations ( `swarm.best_cost - best_cost_yet_found`). M

[2020-05-03 16:52] msat59 commented on #397
@ljvmiranda921, why the `self.ftol` was not used directly so the `relative_measure = self.ftol * (1 + np.abs(best_cost_yet_found))` was used?

[2020-05-03 17:11] msat59 commented on #397
MATLAB documentation has explained everything quite well. Everything is based on a tolerance, not the iteration.

[](https://www.mathworks.com/help/optim/ug/tolerances-and-stopping-criteria.html)

[2020-05-03 17:46] msat59 commented on #397
I agree with you; but it doesn't work with metaheuristic algorithms, I think.

Just test sphere() with one particle and ftol_iter = 5.

[code]

It doesn't converge. So what's the point of using early stopping?

I think it's because of the nature of PSO. We don't deal with the current cost of a particle. We deal with the minimum found, so it's possible that a particle moves around the point previou

[2020-05-03 22:56] msat59 commented on #390
You didn't post the minFuncHestonWithJumps code. Something may be wrong there.

I checked a objective function with parameters and it worked !

[2020-05-04 01:20] ljvmiranda921 commented on #397
Hi @nishnash54 , thanks for clarifying and the prompt reply. I apologize that I got confused as well, it seems that we're talking about different use-cases that's why we're thinking of different tolerance strategies. My bad.

I'm a bit hesitant to add `fmin` for this reason. Let's park this idea for now.

## As for the fix and API usage

Activating both `ftol` and `ftol_iter` at the same time will

[2020-05-04 05:06] hakan-gecili commented on #397
I will comment only on ftol_iter part.
ftol_iter causes early stopping and can be stuck at a local optimum and that is what we intended to do by using ftol_iter. This option is for users who are only interested in finding a good feasible solution, but not an exact global solution because they have a big problem. In my case, each iteration takes 3 minutes, and I usually run more than 500 iterations

[2020-05-04 05:44] whzup commented on #389
More unrendered math https://pyswarms.readthedocs.io/en/latest/api/pyswarms.backend.html#module-pyswarms.backend.handlers

[2020-05-04 06:31] whzup commented on #398
Hey @msat59, thanks a lot for testing the package and all its internals 😄! So I remember that I added the [note in the documentation](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.backend.html#module-pyswarms.backend.handlers) for some reason. I think it was explained in some paper but I can't find it at the moment 😕. Have you tried it with other position handling strategies?
Looking at i

[2020-05-04 06:39] whzup commented on #355
Hello @brett18618, I don't think it is possible with the vanilla optimizers, but you could always build your own with the building blocks provided by pyswarms 😄. Also, please excuse the long waiting time, we have had some "time issues" in the maintainer team 😞.

[2020-05-04 08:39] whzup commented on #398
Ok, I did some more digging. I think the problem might be caused by the fact that [the velocity is calculated before the position](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/single/general_optimizer.py#L267). This would mean that the velocity after `adjust` is the difference of the unhandled position with the previous position, whereas one would like to have the difference of t

[2020-05-04 09:36] msat59 commented on #397
I agree with all of you; but early stopping is not working for particle swarm optimization. You may stop at second iteration. You will have nothing as a feasible solution. :)

Anyway, I don't want to force anyone to accept it. The main problem that I wanted to address is in the optimizer code, with and without ftol_iter.

When the best_cost stays constant at two consecutive iteration, regardless o

[2020-05-04 09:50] msat59 commented on #397
I will submit the solution, works with the current form of ftol_iter.

@nishnash54, if you don't mind, I am going to rename `delta` to a meaningful name. Actually, it's not a delta. It's _is delta less than relative measure_  . I am looking for a name, something like  `isBelew_ftol`.

[2020-05-04 10:06] msat59 commented on #397
The default value of `ftol_iter` is better to be `0`; otherwise we should add an if statement to convert it to `zero`.
I will fix it today after more tests.

[2020-05-04 11:36] whzup commented on #398
BUT we for the "shrink" strategy we need the velocity so we have to handle this conditionally...

[2020-05-04 13:10] hakan-gecili commented on #397
I agree that there must be a threshold parameter so that the optimizer can start counting non-improving global best values. If the user knows his problem and has a good estimate of what the objective function value should be, or the least acceptable value, then he/she should be able to put this knowledge into the optimizer. And the cost of implementation and computation is extremely low.

[2020-05-04 14:00] msat59 commented on #397
To fix the constant `best_cost`, I tested an idea with a relatively better results.

The approach is to use a small weight if the best_cost didn't changed.
If the difference between  `self.swarm.best_cost` and `best_cost_yet_found` is less than `relative_measure`, then add `1` to (iterations with) `nochange`, if the difference is **_zero_** (no improvement in th best_cost), then add **_0.5_** or l

[2020-05-04 14:11] nishnash54 commented on #397
I understand the use case you are referring to @msat59

According to my understanding of the current implementation of `ftol` and `ftol_iter`, the main aim is to stop running if we do not see acceptable improvements over a number of iterations. The use case you have mentioned is also important  and should be implemented. Before you make changes to the current case, I'm unclear about a few things :

[2020-05-04 14:42] msat59 commented on #397
1. Without using `ftol`, everything is fine. The implementation of the `ftol_iter` is fine too. The only problem is the previous implementation of `ftol`, even if `ftol_iter` is disabled. It's because of the randomness in PSO, having several parallel candidate solutions (particles) that go back and forth. When they pass the minuma, they need time to come back. The only way I found is to exclude th

[2020-05-04 16:25] msat59 commented on #397
A note, `ftol_iter` works very well with `fmin`, `base_line`, `f_limit` or whatever we name it. :smiley:

[2020-05-04 16:31] nishnash54 commented on #397
Okay. So, I guess `fmin` (or `target_error`) parameter is the best possible option.
Anyways, I think we have basically discussed most of the pros and cons. @ljvmiranda921 should take a call.

[2020-05-04 16:33] msat59 commented on #397
I will attach the modified files and some test cases to see how it works

[2020-05-04 22:17] ljvmiranda921 commented on #397
Let's park `fmin` for now and fix the current problem first. I'd suggest that we tackle this in the following manner:

1. @msat59 sends a PR to update `ftol` and `ftol_iter`, we review, iterate if possible then merge.
2. I think after the conversation above I am a bit convinced that `fmin` is viable, but we need to make an effort to update the documentation and give examples on how to use it prope

[2020-05-05 07:13] whzup commented on #259
@ljvmiranda921 I think this is actually pretty easy. Since the `compute_position` and `compute_velocity` methods of the topologies are actually not dependent on the class structure (they just call them from the `operators` module), we can just remove the method call in the optimizers and replace it with function calls directly with the functions from `operators`. I'm not entirely sure about how we

[2020-05-05 09:05] msat59 commented on #397
The progress bar implementation had a small bug when we broke the loop; but I fixed it.

I want to stopping reason to the logger. Please correct the reasons if you think it's not clear:

for max iteration: **Maximum iterations reached**
for `ftol`:  **ftol reached / cost gradient below ftol**
for `ftol_iter`: **ftol_iter reached**

The output of the logger will be:
`Optimization finished | Reason:

[2020-05-05 09:21] ljvmiranda921 commented on #397
^Good idea and I think that's clear! I suggest that you show what the value was as well:

[code]

I know it's small and a bit redundant, but can help the user too! @msat59
Nah, I think the "reached" at the reason is fine. :+1:

[2020-05-05 09:45] whzup commented on #235
Files to update:

- [ ] [pyswarms/backend/topology/random.py](https://github.com/ljvmiranda921/pyswarms/blob/119191489ad77020187e3bd135ac872ced17f5f9/pyswarms/backend/topology/random.py)
- [ ] [pyswarms/utils/search/random_search.py](https://github.com/ljvmiranda921/pyswarms/blob/5c22c830e8aed17c11d7985311d0ce6206d4d659/pyswarms/utils/search/random_search.py)
- [ ] [pyswarms/backend/generators.py]

[2020-05-05 10:04] whzup commented on #235
How about we fix the random state for a generated swarm? So all the operators can access it. I think this would also make it great for pickling. You could then pickle a swarm and it has the same behaviour regardless of the optimizer used (with the same parameters of course). But you could also argue, that the random state maybe makes more sense to be an attribute of the optimizers as it kind of is

[2020-05-05 11:32] ddathan opened #400 "Generalized discrete optimizer for non-binary integer problems?"
**Is your feature request related to a problem? Please describe.**
I am trying to use PSO to optimize the number of neurons in each layer of a neural network and thus require an integer implementation of the PSO algorithm. As I understand it at the moment there is only an "off the shelf" implementation of a binary version for discrete problems.

**Describe the solution you'd like**
A generalized i

[2020-05-05 12:07] whzup commented on #400
Hello @ddathan, and welcome to pyswarms!:smile: So I think this is an integer programming problem. The integer aspect may be a bit hard to implement, though. This kind of optimization should be possible but at the moment this needs some additional parts (I'm guessing). A quick Google search yielded [this paper](https://thalis.math.upatras.gr/~elena/papers/LPVInteger.pdf). Maybe this gives some dir

[2020-05-05 12:38] whzup commented on #389
@ljvmiranda921 Do you think it would be a good idea to build a MWE for a custom optimizer in [Writing your own optimization loop](https://pyswarms.readthedocs.io/en/latest/dev.loop.html)?

[2020-05-05 16:06] ljvmiranda921 commented on #389
^Ooooh, you meant like a scaffold of it? @whzup yeah that would be good to be honest. I think just describing what it looks like (what I did) isn't enough

[2020-05-07 16:02] whzup commented on #259
As a sidenote, @ljvmiranda921, if you want to keep the `compute_position` and `compute_velocity` we could just pass it to the topology as an argument.

[2020-05-07 16:05] hakan-gecili commented on #397
@msat59 , I tested the latest implementation of ftol_iter and now I understand better what you mean :)
even if I set the ftol_iter=60 where the total iterations set to 100, the algorithm stops at the first iteration. This is not how it should be.

 I corrected my local files by changing line 216 on GlobalBestPSO.py to the following:

[code]
and when I create the ps.single.GlobalBestPSO object, I d

[2020-05-07 17:31] whzup commented on #400
Hey @ddathan

I attached the source for a custom optimizer for integer programming. As we have already been thinking about making a tutorial on how to make a custom optimizer this was the perfect excuse to create a template 😄. The custom optimizer just casts all positions and velocities to integers and I'm not 100% how the convergence behaves in this case. I tried to comment on the crucial bits bu

[2020-05-07 17:31] whzup commented on #338
@tsehso Please see #400

[2020-05-07 17:32] whzup commented on #342
@resetscoder Please see #400

[2020-05-07 17:34] whzup commented on #369
Hello @alisaffari97

You can just transform your cost function such that its minimum is when it is closest to 1 (probably you can just add 1 to the cost).

[2020-05-07 17:49] ddathan commented on #400
This looks fantastic, many thanks for the great work and support!

[2020-05-07 18:17] msat59 commented on #397
I've fixed both the early stop and the progress bar bro

[2020-05-07 19:29] nishnash54 commented on #397
@hakan-gecili
Did you run your tests on this PR? or the latest changes on `master`? or on the stable PyPi `pyswarms v1.1.0`

This behavior is weird, there is a [test](https://github.com/ljvmiranda921/pyswarms/blob/master/tests/optimizers/test_general_optimizer.py#L113) that makes sure the required number of iterations (`> ftol_iter`) are completed before the optimization stops. Maybe we missed som

[2020-05-09 04:58] hakan-gecili commented on #397
Sorry @nishnash54, it is my bad. I think I was using an earlier commit. Anyway I spent some time of create a test problem. Here are details, it might be useful for somebody. So I am posting details:

First I created a 0-1 knapsack problem to test pyswarms PSO (code is given below)

Then I cloned the ```master``` on a docker image:
```git clone https://github.com/ljvmiranda921/pyswarms.git```

and

[2020-05-09 06:22] nishnash54 commented on #397
@hakan-gecili Thanks for taking out your time to test this and also for sharing your code and results.

I was wondering if I could use this code as a better and improved test case. I could simply copy the code or you can just dump it as a PR to my [fork](https://github.com/nishnash54/pyswarms)

[2020-05-09 07:01] ljvmiranda921 commented on #259
Yeah, hmm, I agree with you @whzup , it seems that from an API standpoint it's quite a lot to generalize or decouple. I think your latter suggestion works, pass the `compute_position` and `compute_velocity` to the topologies...

But hmm, I also have this pull that it's actually ok to **not decouple** between compute position and compute velocity from the topologies? Like the toplogy guides how the

[2020-05-09 08:14] whzup commented on #259
Ok so just as an example, I worked on an integer optimizer for #400 (see there for the source). For that integer optimizer, one needs to have custom `compute_position` and `compute_velocity` functions. It was then that I realized that I have to rewrite an entire topology class just to implement a small change in the operators (if I wanted to stay true to our architecture). Of course, I could've ju

[2020-05-09 14:00] hakan-gecili commented on #397
Hi @nishnash54,
You can use my code as it is.

[2020-05-13 16:51] hakan-gecili commented on #397
@ljvmiranda921 , I have more ideas to improve this library. let me know if I can be a contributor at this level of support. Thanks

[2020-05-13 19:58] whzup commented on #259
@ljvmiranda921 I have a branch prepared with the changes (all tests pass). If you approve of this change I'd be ready to put a PR.

[2020-05-13 21:03] ljvmiranda921 commented on #259
Ok you've convinced me on this part. I do agree that our custom operators are still unpolished, and I haven't seen users try to use them or build their own optimization logic from scratch. I think moving forward you're right, it's good that we decouple them as much as possible so that users can either (1) arrange the parts as they see fit, and/or (2) just use our premade optimizers.

Just note tha

[2020-05-17 13:11] ljvmiranda921 commented on #397
Hi @hakan-gecili , thanks for volunteering! If this is related to this Issue, I think giving your thoughts on #401 will be greatly appreciated. If this is on a different matter, then I recommend opening up an Issue and we can put this in our feature backlog! :bowing_man:

[2020-05-20 02:27] xud929 commented on #9
Hi there! Is there anything new about this issue?

[2020-05-21 13:24] msat59 commented on #400
I like this method which is the best one; but the easiest and fastest one is to convert  desired positions to int in the objective function, and leave other as float. So if one is not familiar with writing the custom optimizer, can use below method.

[code]

[2020-05-23 17:04] nishnash54 opened #406 "Verbose behavior"
**Describe the bug**
**_verbose_** refers to providing additional information (generally more than what is required). Verbose parameter behaves opposite to the expected conventional behavior.

**To Reproduce**
Steps to reproduce the behavior:
Default behavior of `verbose` set to `False` but displays the logs. Changing `verbose = True` turns off the logger output.

**Expected behavior**
In my opini

[2020-05-25 13:00] #381 closed

[2020-05-30 09:47] ljvmiranda921 commented on #406
Hi @nishnash54 , sorry I wasn’t able to see this last week! That’s so weird behaviour, sure feel free to make a fix!

[2020-06-08 09:47] SwapniilK099 opened #407 "Save position of each particle in the end so that it can be used as init_pos in next iteration"
Can there be a feature to print/store position of each particle at the end of the program along with its fitness value so that those positions can be used as an initial position of the swarm when next time it is to be run. Otherwise, all the time and learning of the model will be wasted if again particles are initialised randomly. This method can be used further to solve a complex problem with min

[2020-06-11 05:51] ljvmiranda921 commented on #407
Hi @SwapniilK099 , there is a [`cost_history` attribute](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/base/base_single.py#L197) in all optimizers if you want to have it saved.
There's also an [`init_pos` parameter](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.single.html#pyswarms.single.global_best.GlobalBestPSO.init_pos) if you wish to start on a predetermined position

[2020-06-11 07:43] SwapniilK099 commented on #407
Sir, but how will I access them, the documentation has nothing mentioned about these.
From the user end, one has access to **optimizer.optimize(obj_fn, init_pos, options)** function and **ps.single.general_optimizer(n_particles, dimensions, bounds, )** . How can I get this pos_history and cost_history of **all the particles** ?

[2020-06-11 13:00] ljvmiranda921 commented on #407
They’re attributes, so you can access them like optimizer.pos_history

[2020-06-11 15:13] galleguillosbm commented on #406
Hello, I installed the 1.1.0 version using pip. If I call the optimize function passing verbose=True or False, I get the following error:

Is there another way to suppress the output log? If don't pass the verbose argument there is no error.
Thanks

[2020-06-12 07:33] nishnash54 commented on #406
@galleguillosbm The `verbose` functionality is not part of the pypi package (pyswarms 1.1.0). It's part of the new developments in the package.  Sorry for the confusion in the docs.

You can make use of the optimizer without the `verbose` argument, or install the latest **dev** release by cloning the repository from `pyswarms:master` and installing using `python setup.py install`

@ljvmiranda921 T

[2020-06-12 19:27] SwapniilK099 commented on #407
Thanks a lot for the help. It works fine on discrete and continuous. Pls make it available for integer value based PSO also as given in 'issue #400' in a comment. If you could include that integer based PSO in documentation too that would be great. Thanks a lot for this library, its very user friendly.

[2020-06-12 23:28] #407 closed

[2020-06-15 23:06] ljvmiranda921 commented on #406
Oof noted, thanks for catching this @nishnash54 . Sorry for the confusion, @galleguillosbm !

[2020-06-15 23:07] #406 closed

[2020-06-17 06:23] ljvmiranda921 commented on #397
Still relevant, stalebot!

[2020-06-23 18:02] #400 closed

[2020-06-24 08:54] SwapniilK099 opened #411 "Particles getting initialized to very high negative value."
**Describe the bug**
When I try to give w between 1.5 or 2. The particle gets initialized with a very high value in second iteration even after providing bounds between 0 to 10, and raises error.  My input array gets initialized something like this:

[                   0      -9223372036854775808                    0
                    0                    0                    0

[2020-06-24 20:13] aa158 opened #412 "allow multiprocessing pool initialization"
**Is your feature request related to a problem? Please describe.**
I'm running an optimization using a matlab for python engine, which is an unpicklable object. To evaluate my objective function, I'd like to have each process of the pool start its own matlab engine. Multiprocessing pools accept a kwarg 'initializer' that specifies a function to call on forking or spawning the process, and by makin

[2020-07-11 01:46] #398 closed

[2020-07-11 11:26] agughalamDavis opened #414 "Feature subset selection use case is outdated on documentation"
* PySwarms version: 1.1.0
* Python version:3.7.4
* Operating System: Mac OS catalina

The use case for the feature subset selection is outdated as most of the codes are erroneous. I adapted the code to solve my problem but you should update the docs. I would be happy to help with that also.

[2020-07-12 06:57] ljvmiranda921 commented on #414
Hi @agughalamDavis ! I'm really sorry for that experience! Yeah, really need some help in updating the docs. Please feel free to update the PR on areas where it's erroneous!

[2020-07-25 03:53] #397 closed

[2020-07-29 05:24] #411 closed

[2020-07-29 05:24] #412 closed

[2020-08-07 14:51] bek0s opened #415 "Is calling `logging.config.dictConfig` by default a good idea?"
Hello,

Thanks a lot for this great and easy-to-use library for PSO! I have noticed that some parts of `pyswarms.utils.reporter.Reporter` make calls to `logging.config.dictConfig`. As a result, all messages emitted through `logging.getLogger(__name__).debug/info/warning/etc` in my software are printed to stdout twice because my application also makes a call to `logging.config.dictConfig`. Is there

[2020-08-25 13:50] zohimchandani opened #416 "TypeError: Cannot add invalid type to <class 'openfermion.ops._qubit_operator.QubitOperator'>."
I am trying to minimise a cost function which is itself a function of a quantum computing package that invokes the QubitOperator command from the package. When I run the pyswarms optimisation

[code]

I get the following error : TypeError: Cannot add invalid type to <class 'openfermion.ops._qubit_operator.QubitOperator'>.

Any ideas why this may be occurring?

[2020-08-25 16:07] whzup commented on #416
Hello @zohimchandani! Welcome to pyswarms 😄!

Could you provide more information? This is not an error that is yielded by pyswarms and after a quick look in the `openfermion` project, it also doesn't seem to stem from there. And it does not seem to be a standard CPython error either (according to a quick Google search). But just from the error message, I would guess that you are adding some other

[2020-08-25 16:11] whzup commented on #415
Hello @bek0s, welcome to pyswarms! 😄

I'm sure there is a better solution but I have little experience with logging and @ljvmiranda921 implemented this feature. So I think he'd be the right guy to talk to. Unfortunately, he has phases where he is really invested in work and only sparsely checks pyswarms. Maybe you'll have to be a little bit patient. Do you know a solution that would resolve this i

[2020-08-25 16:42] zohimchandani commented on #416
Please see below the main chunk of the code below. I appreciate you looking into this for me.

[code]

[2020-09-03 00:57] Marconefs opened #417 "Objective function getting multiple values to process (same number of settled n_particles parameter)"
Objective function getting multiple values to process (same number of settled n_particles parameter)

I thought it was expected to the objective function receives only 1 value(according to the data dimension), but instead it received n_particles values.

Is this behaviour correct? If so what I have to do, make the objective function returns a list of the output for each entry value?

[2020-09-05 15:30] whzup commented on #417
Hello @Marconefs, welcome to pyswarms! This is indeed the "correct" behaviour. If you want it to only take in one value you can use the [cost](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.utils.decorators.html) decorator.

[2020-09-05 15:39] whzup commented on #416
@zohimchandani Did you actually verify that your objective function works without `pyswarms`?

[2020-09-06 23:33] ljvmiranda921 commented on #415
Hey thanks for taking point on this @whzup !

Welcome to pyswarms @bek0s !

Sorry, I'm sparsely checking issues as of this moment. But to answer your question:
* I think the best way to do this is to configure the logger using a yaml file. You can see something similar to [this](https://stackoverflow.com/questions/7507825/where-is-a-complete-example-of-logging-config-dictconfig). You can disable t

[2020-09-06 23:33] #415 closed

[2020-09-06 23:33] ljvmiranda921 commented on #417
Closing this issue now

[2020-09-06 23:33] #417 closed

[2020-09-08 09:27] Kurt-Liuhf opened #418 "What is the default bounds of the fitness functions?"
Hi, thank you so much for building this interesting library and it's a great piece of work!

I'm now trying to build some applications using the pyswarms and it would great if you can tell me the **default bounds** of the fitness functions.
And by the way, **how to set the bounds**?  I have used the following test code and some errors occurred.
`optimizer = ps.single.GlobalBestPSO(n_particles=10,

[2020-09-08 15:01] Zero-maru opened #419 "Significant Difference"
* PySwarms version: 1.1.0
* Python version: 3.6.8
* Operating System: Windows 7 Ultimate

### Description

Hello. I am trying to create a new algorithm using the Global Best Model PSO as a base for my thesis. I have read some examples and tutorials in the documentations. My question is, is there a significant difference in using the global best PSO pre-installed in this module versus the one in th

[2020-09-13 10:44] whzup commented on #418
Hello @Kurt-Liuhf, welcome to pyswarms! Maybe [this section of the documentation](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.single.html#pyswarms.single.global_best.GlobalBestPSO.bounds) will answer your question. There are no default bounds so theoretically if you had a function that monotonically decreased from 0 to infinity you'll run into troubles.

[2020-09-13 10:53] whzup commented on #419
Hello @Zero-maru, welcome to pyswarms! So it seems to me that what you did was just stripping the entire GlobalBestPSO class and removing the logging and history part. If this works for you, you can surely go ahead with this version (which probably also allows you to have more control over the algorithm than the GlobalBestPSO class). To be honest, we have not yet profiled the optimizer classes and

[2020-09-14 07:55] Kurt-Liuhf commented on #418
Thanks a lot.

[2020-09-14 07:55] #418 closed

[2020-09-15 06:36] Zero-maru commented on #419
@whzup So is this like the GlobalBestPSO class minus the logging and history part? Does that mean that their process are approximately the same? Also, as for timings, when I use the GlobalBestPSO class, a 1000 iteration run for the sphere function will roughly take 1-2 hours. That's why I am on the fence in using said class on my 10k iteration run since it may take at least a day or two in my esti

[2020-09-16 10:00] whzup commented on #419
It should be more or less that yes. If this version is faster for you, I definitely recommend you go with it. There is not much more necessary functionality in the class than in your code.
I tested it on my hardware, it takes about the same time (in the range of 0.1 to 0.2 seconds) but of course it might be that there are some things that take a lot longer on your hardware.

[2020-09-16 12:00] Zero-maru commented on #419
Thank you for your reply. Can I ask on what to do if I want to plot  the best cost value on every iteration in my code? I am still not familiar with the decorator class. Also,

The GlobalBestPSO class or my own code?

[2020-09-16 12:09] whzup commented on #419
Plot like in plotting a graph or plot like plotting it on the command line? For the first one, you can just use matplotlib because you already have the best position for every iteration, so you have to store them somewhere.

Both, the class takes a little bit longer usually but sometimes it is even faster (of course I'm also using the computer during the computation so it's a little bit skewed).

[2020-09-21 11:45] blazewicz opened #420 "PyYAML is not included with pip installation"
**Describe the bug**
`PyYAML` package is not being installed with `pip install pyswarms` command and this leads to following error:

[code]

**To Reproduce**

Run `pip install pyswarms` is an isolated virtualenv and try to import `pyswarms`.

**Expected behavior**

`PyYAML` is installed along with `pyswarms` from PyPi.

**Environment (please complete the following information):**
 - OS: any
 - PyS

[2020-10-01 14:39] #419 closed

[2020-10-01 14:45] Zero-maru opened #422 "Addition of the Griewank Function for the included benchmark functions"
**Is your feature request related to a problem? Please describe.**
I think it will be a nice addition to the library of benchmark functions available since it adds another function that can be evaluated in a higher dimension. Currently, the pyswarms module only has three said functions: sphere, rastrigin, and rosenbrock. Two of them are multimodal while the sphere is the only unimodal function wit

[2020-10-01 17:09] Ron-Leizrowice opened #423 "How to vary inertia during optimisation?"
Hi, new to using Pyswarms, I'm wondering if there is a way to implement variable inertia optimisation using the "GeneralOptimizerPSO" module? I want to decrease the 'w' parameter in options as my optimisation progresses, but I don't know if updating the global variable of 'options' actually changes the optimiser hyperparameters?

[2020-10-03 10:35] ljvmiranda921 commented on #423
Hi @Ron-Leizrowice , yup updating the global variable options should change the optimizer hyperparameters :smile:

[2020-10-03 10:41] #420 closed

[2020-10-04 07:27] Ron-Leizrowice commented on #423
Amazing thank you!

[2020-10-07 20:20] tcrotzer64 commented on #60
Any progress on this? I'm interested in how its been going.

[2020-10-12 12:30] #416 closed

[2020-10-20 08:17] leocd91 opened #425 "Optimizing multiple paramters but only one parameter returned"
* PySwarms version: 1.1.0
* Python version: 3.7
* Operating System: windows

### Description

I am trying to optimize multiple parameters but only one parameter returned after optimization.

### What I Did

[code]

Result :
[code]

[2020-10-22 00:40] mamadyonline commented on #425
Hello @leocd91,

I think the behavior is the one expected. You specified the dimension to be 1, so here what you are doing is telling PYSWARMS to optimize the function 'fxtest' as a one dimensional function.

Maybe what you want to do is to set the dimension to 2! Hope this helps

[2020-10-22 01:46] leocd91 commented on #425
whoopsie my bad.

[2020-10-22 01:46] #425 closed

[2020-10-31 11:52] Antonio-Nappi opened #427 "How to change Hyperparameters on runtime?"
* pywarm = 1.1.0
* Python version: 3.7.8
* Operating System: Windows 10

### Description
Hi everybody, I'm new in pyswarm and I'm still studying its architecture but maybe you could help me to find the right answers. I would like to implement a PSO with TVAC (Time-Varying Acceleration Coefficients) and these coefficents depends on the current iteration and the max_iteration number. Looking in the

[2020-10-31 15:06] Antonio-Nappi commented on #423
could you post a code snippet to show how to change hyperparameters according to the current iterarion?

[2020-11-04 00:19] a310883 opened #428 "Typo on train_neural_network use case"
**Describe the bug**
There is a typo on pyswarms/docs/examples/usecases/train_neural_network.ipynb. In cells 6 and 9 logits_funciton is written instead of logits_function.

**Expected behavior**
It is expected to use logits_function because that is the defined function.

[2020-11-04 07:34] ljvmiranda921 commented on #422
Hi this is still relevant. Would you like to make a PR regarding this?

[2020-11-08 02:06] ljvmiranda921 commented on #428
Hi @a310883 , thanks for bringing it up! Would you like to open-up a PR for this? :)

[2020-11-08 02:24] a310883 commented on #428
@ljvmiranda921 Sure thing, I made the PR on #430

[2020-11-09 09:22] #428 closed

[2020-11-14 05:00] ljvmiranda921 opened #432 "Modernize CI"
- Publish artifacts automatically
- Use better version testing

[2020-11-14 05:09] #432 closed

[2020-12-05 16:07] r456r opened #437 "Why PySwarms is allocating too much memory?"
* PySwarms version:latest build
* Python version:3.8
* Operating System:Windows 10

### Description
Hello! I am trying to minimize a complex gap function with 112 variables. I already know the gap function becomes 0 at global minimum and I have received good results from scipy, pyomo etc on this particular problem.
I have tried Pyswarms before and it works brilliantly. I do not why this gap functi

[2020-12-06 07:40] ljvmiranda921 commented on #437
Hi @r456r , there may be two reasons:
1. Can you try setting the number of processes to a certain number? This may be to ensure that you're allocating enough memory to your function. Memory management is still something that we're improving, so thank you for the patience! You can do this by:

[code]

2. Ideally this shouldn't be a problem, but I'd recommend refactoring your code a bit to lessen th

[2020-12-06 07:42] ljvmiranda921 commented on #427
Hi @Antonio-Nappi , can you check the merged Pull Request above if this answers your request?
Right now, I don't see any possible way to update coefficients during runtime except for the newly-implemented handlers. Perhaps the best way to do PSO with TVAC is to implement your own handler (following the PR above), and pass it during the init stage

[2020-12-06 16:08] Antonio-Nappi commented on #427
Hi @ljvmiranda921, I think that with linear decay I could fix my problem. I've seen that it's an option handler and now I'm just looking at the doc to understand how to use it, but I don't find and example. Could you provide it to me? Could you also say me if it's possible to use an option handler with the GlobalBestPSO or should I make subclasses from yours?

[2020-12-06 18:56] r456r commented on #437
Thank you f

[2020-12-06 22:40] ljvmiranda921 commented on #427
Hi @Antonio-Nappi , can you try something like this?

[code]

[2020-12-07 09:54] Antonio-Nappi commented on #427
Yes, I have the latest version (downloaded specifying the version inside pycharm) but I got the following error
`TypeError: __init__() got an unexpected keyword argument 'oh_strategy'`
and can you also say me how it's possible to set boundaries for coeffients?

[2020-12-07 10:06] ljvmiranda921 commented on #427
I'm not sure if it's possible to set boundaries for coefficients. I don't think that has been implemented yet. Maybe for now you can always check the value of that coefficient, then clamp it once it's in the lower-bound?

TypeError: __init__() got an unexpected keyword argument 'oh_strategy'

Oh I'm really sorry, I thought this feature has already been released in 1.2.0! For now I suggest either:

[2020-12-07 10:16] Antonio-Nappi commented on #427
Ok, thanks for your help :)

[2020-12-07 10:16] #427 closed

[2020-12-09 11:09] nikhil-sethi opened #438 "Passing parameters to strategies"
* PySwarms version: 1.2.0
* Python version: 3.8.5
* Operating System: Linux. dist: Ubuntu 20.04

### Description
Current version does not allow passing of parameters specific to any strategy used in any of the handlers from outside of the optimization loop. (for eg. through the `Optimizer().optimize(..)` call.)
For example, for the `VelocityHandler` this might be the `z`( shrinking factor) for an

[2020-12-10 15:06] Antonio-Nappi opened #439 "Troubling in writing my own optimization loop"
* PySwarms version: 1.2
* Python version: 3.7
* Operating System: Windows 10

### Description
I want to implement my own optimization loop in order to manage coefficients in runtime. I followed the istructions present in the doc. The problem is raised by scipy, but if I use the pyswarms' optimizer this problem is not present. Why?

### What I Did
This is my code:
[code]
As you can see, I've even l

[2020-12-16 01:26] ljvmiranda921 opened #441 "Refactor: add typing"

[2020-12-25 11:07] #423 closed

[2020-12-25 11:07] #422 closed

[2020-12-29 09:33] iljastas opened #442 "Best Parameter Set after Keyboard Interrupt"
Hi,

great package/module. Thanks for that.
Currently, I always get the best cost and percentage of the optimization process.
I would be nice if also the best parameter set would be printed out by a keyboard interruption.
Best regards,
Ilja

[2021-01-03 16:43] Antonio-Nappi opened #443 "How to pass parameters to cost function in GridSearch?"
* PySwarms version:1.2
* Python version:3.7
* Operating System: Windows 10

### Description
Hello everybody, Happy new year :)
I want to compute the best hyperparameters for my problem, but my cost function requires some parameters, when I optimize it I can use the "params" dictionary to pass these extra arguments. Can I do the same with RandomSearch method and GridSearch?

[2021-01-03 21:29] ljvmiranda921 commented on #442
Hi @iljastas!

Can you tell me more about your use-case? Ideally we don't want the user to easily break the optimization process using a manual input. You can **get the best cost prior to the final iteration by using the cost history property**, `optimizer.cost_history`. It returns an array and you can index it on the iteration of your choice :+1:

[2021-01-16 13:19] Luucccyyyy6 opened #444 "Altering the update velocity parameter"
I'm new to programming, and have found PySwarms could be a potential lifesaver for a Masters module project I'm doing. I'm looking to create a version of the Fitness-Distance-Ratio PSO (Peram, Veeramachaneni and Mohan, 2003). In this algorithm there's an additional part of the update velocity parameter, a 'c3' - which is the 'neighbourhood best', where particles learn from the experience of neighb

[2021-01-16 17:56] Antonio-Nappi commented on #444
Since the velocity is update in the topology, I suggest you to create a subclass in order to modify the "update_velocity" method and add the new parameter you need. I'm not a developer of Pyswarms so maybe there is a better solution.

[2021-01-16 18:14] Antonio-Nappi opened #445 "Different behavior between my optimization loop and optimize"
* PySwarms version: 1.3
* Python version: 3.8
* Operating System: Windows 10

### Description
I want to write my own optimization loop, so I just copied and pasted the one present in the documentation. When the code executes the "compute_pbest" method it raises the "TypeError: 'bool' object is not subscriptable", while if I run
the code with the "optimize" method everything is ok, Why the behavior

[2021-01-19 06:19] mtartila opened #446 "Value operand error when computing best cost for arrays"
* PySwarms version: 1.3.0
* Python version: 3.8.3
* Operating System: Ubuntu 18.0.4

### Description

im doing a two 5x5 covariance (P estimate and Q process noice) tuning for my Unscented Kalman Filter system.
im having an error of

[code]
### What I Did
I first initialize the parameter with 10 dimension of X, 5 for P and 5 for Q with a testing swarm of 1 for testing :
`swarm_size = 1
dim = 10 #

[2021-01-19 12:38] Luucccyyyy6 commented on #259
Is there any update on this? Would be super useful to have this decoupling implemented if possible, so that variations on the standard PSO (such as an FDR-PSO) can be created in PySwarms?

[2021-01-20 21:12] Luucccyyyy6 commented on #444
@Antonio-Nappi what did you mean by this? how would i modify the method?

[2021-02-05 18:24] Antonio-Nappi commented on #444
just implement a subclass of the Star class in Topology script

[2021-02-07 20:08] msat59 commented on #443
I'm not sure if I got your question correctly.

Is your question about pyswarms or GridSearch?

[2021-02-07 21:56] D4T4-80Y opened #447 "wrong implementation/definition of ftol_iter"
**Description**

When **ftol** is used, for example 1e-10, pyswarm stops when `swarm.best_cost` is lower than `ftol`  for `ftol_iter` times. However, the correct naming of `ftol_iter` should be `stall_iter`.  This means that the search stops when best_cost isn't improved after x iterations, or when it is below `ftol`. However, when I search for a solution, I need to stop the search when the best_c

[2021-02-08 08:17] D4T4-80Y commented on #447
Another reason for saying that `ftol_iter` is not a good naming and it should be renamed to `stall_iter` is if a new option, xtol, is implemented, then a new name makes sense. It is absolutely pointless to define a new option, `xtol_iter`.

`xtol` defines a minimum accepted threshold for changes in positions, X, so the search can be stopped if the changes in postions below the given value.

[2021-02-08 11:11] Antonio-Nappi commented on #443
My question is about pyswarms. Since I can use Gridsearch to find the best hyperparameters for my objective function but my objective function requires some extra inputs, how can I pass these to the function?

[2021-02-08 12:22] msat59 commented on #443
If you mean passing to pyswarms, you can do it in optimize method. Look at example below:

[code]

Now you should pass them like this:

[code]

[2021-02-08 14:20] ljvmiranda921 commented on #447
Hi @D4T4-80Y , thanks for bringing this up. So far only one person commented on the naming of `ftol_iter`, and I don't want to run the risk of creating a lot of breaking changes by changing the parameter. I suggest that it may be better to just update the documentation or docstring of `ftol_iter` rather than changing it entirely. Would you mind opening up a PR for that?

[2021-02-08 15:12] Antonio-Nappi commented on #443
Ok, but with Gridsearch how can I do it?

[2021-02-08 16:14] D4T4-80Y commented on #447
Why don't you deprecate ftol_iter in the next versions and create a new and more intuitive parameter?

[2021-02-08 16:56] msat59 commented on #447
Hi @D4T4-80Y and @ljvmiranda921.
This is almost what I complained about few month ago. @D4T4-80Y  raised and explained it in a better way.

As I have had implemented this fix on my machine, I am ready to fix it and even implement new feature, xtol, and even `MaxStallTime` and `MaxTime` like MATLAB particleswarm().

[2021-02-08 19:04] msat59 commented on #443
Google it, search stackoverflow, or sklearn website. :wink:

There is an example in GridSearchCV documentation for SVC()

[code]

[2021-02-09 01:52] ljvmiranda921 commented on #447
Hi @msat59 , I will appreciate the PR, thanks a lot. Let's do the following instead:
* Rename `ftol_iter` to `stall_iter` and update the documentation (this should be a quick fix)
* Implement `xtol` with good defaults

Let's target this for a March release, sounds good?
Thanks for the issue @D4T4-80Y and would be great for you to help out atleast on action item 1

[2021-02-09 08:43] Antonio-Nappi commented on #443
but this is the GridSearch of sklearn, what about `pyswarms.utils.search.GridSearch`? I'm interested in this function [https://pyswarms.readthedocs.io/en/latest/api/pyswarms.utils.search.html](url).

[2021-02-09 09:06] msat59 commented on #447
Hi @ljvmiranda921 .

Thanks for your confirmation about changing the name. I personally use intuitive parameters and variables names in my codes. So I prefer `max_stall_iter`.  I believe `stall_iter` doesn't mean anything at first glance. In the same fashion, I really looking forward to renaming `iters` in `optimize` method to `max_iter`, which is more intuitive.

I know it's a big change, but we

[2021-02-09 10:03] msat59 commented on #443
Shame... that was my bad :cry:

It seems that GridSearch and RandomSearch don't get obj_fun parameters as **kwargs.

You may be able to use other parameters in your objective function using global variables for now.

[2021-02-09 14:54] Antonio-Nappi commented on #443
Don't worry. Yes, it's the same walk-around that I thought.

[2021-02-09 22:33] D4T4-80Y commented on #447
Hi @ljvmiranda921.

I'm not sure that I can assist properly in that case as @msat59 has had already a working code. However, I am more than happy to assist if needed.

[2021-02-11 15:09] LizzAlice commented on #443
I have a bit of a related question, how did you import GridSearch? When I try to use GridSearch or RandomSearch with `ps.utils.search.random_search.GridSearch(LocalBestPSO, n_particles=100, dimensions=p_size, options=options, objective_func=sobj_fun, iters=10)`, I get the Error _AttributeError: module 'pyswarms.utils' has no attribute 'search'_

[2021-02-12 13:04] msat59 commented on #443
You can find examples in the documentation, [here](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.utils.search.html)

[2021-02-14 06:19] nishnash54 commented on #447
@D4T4-80Y You make a great point about the having a `stall` option. I don't think this is currently a feature present in pyswarms. It'll be a great addition. Before we make any decisions about a new feature (which I would love to implement) I just want to make sure we are on the same page.

**`ftol` and `ftol_iter`**
The initial idea of the `ftol` parameter is to stop once the set tolerance is rea

[2021-02-14 09:29] #443 closed

[2021-02-14 09:46] D4T4-80Y commented on #447
Hi @nishnash54.

The **stall** means **no improvement** in the best_cost no matter what its value is, which means it stays constant in two consecutive iterations . In other word, diff=0 which is always less than `ftol`.

What you are referring to is called **Early Stopping** (mostly used in Neural Networks) and the main purpose is to avoid overfitting while training a model. So the algorithm stops

[2021-02-14 10:59] msat59 commented on #447
Hi @nishnash54  and @D4T4-80Y.

Thanks for your explanations. My concern is the practicality of `ftol_iter ` in the optimization context. I think we can have both stall_iter and ftol_iter, but we must be clear about its purpose. Let's define the purpose of PySwarm first, and then talk about the features. We can then conclude better.

1- PySwarms is an **_optimization_** package
or
2- PySwarms is a

[2021-02-14 13:32] ljvmiranda921 commented on #447
Hi all ,

So to round it up, the problem is on how we can incorporate @D4T4-80Y 's required functionality into Pyswarms, because as it turns out his/her expectation of `ftol_iter` is different. We now have three options:

* Option A: implement `stall_iter` that is different from `ftol_iter`. While **keeping** the latter's implementation the same.
* Option B: implement `stall_iter` that is differen

[2021-02-14 13:39] msat59 commented on #447
Thanks @ljvmiranda921 for the conclusion.

Option B is the best one to me, which satisfies @D4T4-80Y and @nishnash54, and both features won't have any conflict. We can also keep `ftol_iter` name as it is and update its definition as @nishnash54 posted.

[2021-02-15 06:37] nishnash54 commented on #447
@ljvmiranda921 @msat59 Let's go ahead with **option B**. Seems to solve the issues. Let me know how you want to rename `ftol_iter`. I'll update the documentation accordingly.

@msat59 If you have already implemented the `stall_iter` let's use that, otherwise I can work on a new PR.

[2021-02-15 07:53] msat59 commented on #447
@nishnash54, I have implemented it already. Just need to paste the code into BinaryPSO, and test it. I will submit it by this weekend.

[2021-02-15 08:27] nikhil-sethi commented on #445
Hi @Antonio-Nappi. Could you include some more information like: Where/which file did you copy the code from?, What was the full python Traceback error(to see where the error is exactly)?
If possible, include a minimal reproducible example that I can test.

[2021-02-16 06:06] ljvmiranda921 commented on #447
Thanks for everyone's cooperation! :bow:

[2021-02-18 18:20] Antonio-Nappi commented on #445
Hi @nikhil-sethi, I copied the code from the documentation [https://pyswarms.readthedocs.io/en/latest/examples/tutorials/custom_optimization_loop.html](url), and the traceback is
`
Traceback (most recent call last):
  File "C:\Program Files\JetBrains\PyCharm Community Edition 2020.3\plugins\python-ce\helpers\pydev\_pydevd_bundle\pydevd_exec2.py", line 3, in Exec
    exec(exp, global_vars, local_va

[2021-02-18 19:35] nikhil-sethi commented on #445
Hi @Antonio-Nappi. Thanks for the detailed example and Traceback. The non markdown formatting is no problem! I understood it just fine. For future references though:
[code]
Regarding the issue: [This] line does a conditional comparison with two *numpy* arrays to yield an array of boolean values(also called a mask). One of these two arrays is the `my_swarm.current_cost` array. At least it should be

[2021-02-18 20:11] Antonio-Nappi commented on #445
Oh my god, it was so simple. Thanks both for the issue and the markdown :)

[2021-02-18 20:11] #445 closed

[2021-02-19 09:48] msat59 commented on #447
Guys, there is an issue in creating pools.
Technically, no pool should be created for `n_processes=1`; but current implementation creates **one** pool, which costs around 1 second without having any benefit. It's not much; but the code should be fixed.

[code]

Should I fix it separately or can I fix it in this PR?
@ljvmiranda921

[2021-02-19 14:07] ljvmiranda921 commented on #447
Hi @msat59 , let's do it in another PR instead :+1:

[2021-02-19 14:11] nishnash54 commented on #447
Instead of `stall_iter` maybe we could use `n_iter_no_change`. It's a bit lengthy, but this naming is also followed by **sci-kit learn** methods and is more informative for the user.

[2021-02-19 16:17] msat59 commented on #447
@D4T4-80Y
@ljvmiranda921
@nishnash54

Guys, with modifications in default values of `ftol` and `ftol_iter` and the description of `ftol_iter`, it becomes what I implemented in a different way as the `stall_iter`.  :grimacing:

I had replicated the Matlab Toolbox code that I had, so it had looked different. Also, the description of ftol_iter had been confused me.  Today, I was doing the final check

[2021-02-19 22:31] msat59 commented on #447
Another reason for insisting on renaming `ftol_iter` to `stall_iter` or `MaxStallIter` is the implementation of `fmin`, which is the stop condition when `best_cost < fmin` and will use the same parameter. If we keep `ftol_iter`, it is not intuitive when using `fmin`. If we rename it to `stall_iter`, then both `ftol` and `fmin` can use the same parameter for checking the stop condition.

[2021-03-10 20:31] mnewls opened #450 "pathos instead of pool for multiprocessing"
After attempting to use the multiprocessing functionality to speed up my training it became apparent through some troubleshooting that using multiprocessing built in from python was not supporting the code I had set up. I implemented pathos instead to support what I needed. The following **could serve as a replacement if others have run into a similar problem.

I used `from pathos.pools import Pro

[2021-03-11 00:34] ljvmiranda921 commented on #450
Hey thanks for this @mnewls , not sure if we have bandwidth to work on a lot of multiprocessing for our end (although I know it's just a library change). But I'll definitely keep this one in mind! Thanks for finding a good workaround :bow:

Note: if others find this useful, please let me know in this thread so that I can put the conversion in the backlog

[2021-03-11 02:01] mnewls commented on #450
this is a WIP, I will post more findings as I continue to adapt it to this application. If I find an elegant solution I will submit a PR. Thanks for making the library :)

[2021-03-15 07:12] Kurt-Liuhf opened #451 "How can I prohibit the function of "storing cost history" to save memory?"
* PySwarms version: 1.3.0
* Python version: 3.8
* Operating System: Ubuntu 16.04

Hi, thank you for building this useful tool.
I am using the `pyswarms ` to slove some high-dimensional problems. But as the dimension gets larger, more memory are needed. One of a set of my parameters is:
`c1 = 0.5, c2 = 0.3, w = 0.9, n_particles=2000, dimensions=5120, iters=2000`
The cost function used for testing i

[2021-03-16 15:04] ksluck opened #452 "Setting velocity_clamp with default parameter changes behaviour of optimizer"
**Describe the bug**
I am not yet 100% sure if this is a documentation issue or actually a bug. I was experimenting with the single.local_best optimizer when I noticed that setting the velocity_clamp parameter leads to stuck particles. Initially I believed the clamp I used was too small, however, setting velocity_clamp to its default parameter of (0,1) leads to the same behavior (See [here](https:

[2021-03-25 16:40] DrVogt opened #453 "equality and inequality constraints for BinaryPSO"
Howdy,

I was just curious if there is some manner to have a constrained (inequality and/or equality) problem with your library? Of course one could use penalty method to have an unconstrained problem, and your library is readily available- but I think this library would be extremely strong having that support implemented.

In my case I'm interested in just a SOS1 constraint i.e sum(x_i) - C <=0

[2021-03-30 13:32] dvolgyes opened #454 "Python 3.8 and 3.9 support"
**Is your feature request related to a problem? Please describe.**
Python 3.8 and 3.9 are not currently supported, neither in the setup.py meta-information,
nor in the CI/CD pipeline.

**Describe the solution you'd like**
I don't see any version specific issue, so maybe adding python 3.8/3.9 to the CI/CD pipeline?
(Maybe even adding nightly/beta python to the CI/CD?)
As Ubuntu 16.04 reaches EOL, t

[2021-03-30 14:18] ljvmiranda921 commented on #454
Hi @dvolgyes thanks for this Issue. Yeah that can definitely be done! I think there's no problem adding them. Just a heads-up that work is really getting busy on my end, so I might be able to take care of these things in a week.

If it's too urgent, I'd definitely appreciate a PR atleast on setup.py. I can take care of the CI/CD pipeline! :+1:

[2021-03-30 14:23] dvolgyes commented on #454
Hi,
Thanks for the prompt feedback. :)
It is not urgent at all, but it is nice to be fixed.
I would rather avoid poking CI/CD.
I am also quite busy, but if I can, I will make a PR,
but it might be that you find time sooner than me.

[2021-03-30 14:24] ljvmiranda921 commented on #454
Awesome! Have a great day!

[2021-04-01 07:36] songyuc opened #457 "Is there a way of hyperparameter search for function containing both discrete and continuous parameters"
**Is your feature request related to a problem? Please describe.**

I am working on a optimization problem in which there is a objective function containing both discrete and continuous parameters.

**Describe the solution you'd like**

I hope that we can use both discrete and continuous parameters for a certain objective function.

[2021-04-05 15:48] dave-aimusic opened #459 "Parallelisation doesn't seem to work for me."
When I try and use Local PSO using multiple processes I get an error saying it can't concatenate the results. Please see below. I can only get it to run not using parallelisation.

`
Traceback (most recent call last):
  File "/Users/davidronan/Desktop/automatic-mix/automatic_mixing_script.py", line 363, in <module>
    main()
  File "/Users/davidronan/Desktop/automatic-mix/automatic_mixing_script.

[2021-04-09 12:50] #459 closed

[2021-04-15 17:12] louisdehaybe opened #460 "Pyswarm discrete: which syntax?"
Hello !

I am simulating the grasping of a textile in pybullet, and I use pyswarm to find which grasping points are the best. The thing is that my textile is in fact discretized in the simulator in the form of a mesh/grid, so it is not possible to grasp it everywhere; only at the "nodes" of the mesh.

Currently, I am using your GlobalBestPSO, so the continuous version of pyswarm. My variables are

[2021-04-21 12:37] Thothore opened #461 "Plotting the velocities of the particles"
* PySwarms version: latest ?
* Python version: latest ?
* Operating System: google colab environment

### Description

I'd like to show the velocities of the particles at each iteration, I already have the particles plotted with the function `plot_surface` / `plot_contour`. Also, maybe it could be an interesting feature to add ?

[2021-05-05 14:32] cslearning20xx commented on #60
hi, just checking if there is any update on this

[2021-05-18 10:09] PeterDomanski opened #462 "Logging"
Logging of pyswarms interfere with logging of absl-py. With every initialization, a new log file "report.log" is saved in the default directory. Moreover, LogLevel is always INFO for report.log. How can I use my absl-py logging file and disable pyswarm logging. In other words, how can I save output messages of pyswarm in my absl-py logging file. The suggested way (https://pyswarms.readthedocs.io/e

[2021-06-02 17:35] nickcorona opened #463 "n_processes doesn't work"
**Describe the bug**

If run in REPL:
[code]
If run as a process:
[code]

**To Reproduce**

Steps to reproduce the behavior:
cost, pos = optimizer.optimize(f, iters=ITERS, verbose=2, n_processes=6)

**Expected behaviour**
Run without error.

**Environment (please complete the following information):**
 - OS: windows
 - Version: latest
 - PySwarms : latest
 - Python Version: latest miniconda

**Add

[2021-06-03 01:15] ljvmiranda921 commented on #463
Let me check on this, do you have a reproducible example I can try out? What was your cost function?

[2021-06-03 01:16] ljvmiranda921 commented on #461
Hi @Thothore , I think it's a good feature, it's just that there's no bandwidth to work on it. If you're interested to contribute, then just send a PR this way! :bow:

[2021-06-03 01:18] ljvmiranda921 commented on #462
Yeah, @PeterDomanski , let me find a fix for that. Definitely planning to replace the logger some time in the future using loguru.
For now, not sure what's the best workaround. It may be on your side to filter the non-pyswarms logs. Sorry for the trouble and thanks for the patience!

[2021-06-03 01:18] ljvmiranda921 commented on #457
So far that functionality doesn't exist. It's not yet in the roadmap but if you're interested to contribute and flesh-out your thoughts on how to best tackle it, that would be really great!

[2021-06-10 16:58] lukebemish commented on #462
Logging of pyswarms interferes with ANY sort of logging, since as far as I can tell the Reporter class overwrites already set log levels and formats whenever pyswarms classes are used, since it effectively overwrites the root logger and all of its children.

A very basic example of this issue:

    from pyswarms.utils.reporter import Reporter
    import logging
    logging.root.setLevel(10)
    lo

[2021-06-10 17:00] lukebemish commented on #462
Part of what I'm unsure about is whether there's actually any advantage to Reporter existing; could it simply be replaced with a rather abstracted reference to logging that doesn't use mess with logger configs, and leave the logging configs to the end user?

[2021-06-10 17:07] ljvmiranda921 commented on #462
Hi @lukebemish yes it can be replaced. Thanks fir bringing it up. Just don't have the time, sorry. Would you like to do a PR?

[2021-06-10 20:00] lukebemish commented on #462
I have submitted a pull request; my solution was rather brute force, as I simply entirely removed the ability to set a custom logging location or format from Reporter, but this should probably be handled through the logging library instead anyways.

[2021-06-10 21:06] lukebemish opened #465 ""Forgetful" global best optimizer"
**Is your feature request related to a problem? Please describe.**
When using particularly noisy data, especially if the cost function tends to be noisy, the global best optimizer can hold on to a single particularly good data point that was simply caused by noise, causing the particles to tend towards a point that isn't the true global minimum.

**Describe the solution you'd like**
This could be

[2021-06-10 23:10] ljvmiranda921 opened #466 "Port logging to loguru"

[2021-06-10 23:11] #437 closed

[2021-06-10 23:11] ljvmiranda921 commented on #390
Closing stale issues. Please reopen again if you still encounter this problem

[2021-06-10 23:11] #390 closed

[2021-06-10 23:12] ljvmiranda921 commented on #259
Closing stale issues. Unfortunately, I think no one has the bandwidth to implement this feature. Please reopen this again if you think can contribute or still needed

[2021-06-10 23:12] #259 closed

[2021-06-10 23:13] ljvmiranda921 commented on #212
Closing stale and low-prio issues. Please reopen it again if you wish to work on it again

[2021-06-10 23:13] #212 closed

[2021-06-10 23:13] ljvmiranda921 commented on #206
Closing stale and low-priority issues

[2021-06-10 23:13] #206 closed

[2021-06-10 23:14] ljvmiranda921 commented on #156
Closing stale and low-priority issues

[2021-06-10 23:14] #156 closed

[2021-06-10 23:14] ljvmiranda921 commented on #442
Closing stale issues

[2021-06-10 23:14] #442 closed

[2021-06-10 23:15] #461 closed

[2021-06-10 23:17] ljvmiranda921 commented on #451
For now, I think there's no way to free-up this memory and may not be a priority for now. Closing this issue. Please reopen this if you discovered a way to easily do this! Thanks a lot!

[2021-06-10 23:17] #451 closed

[2021-06-22 11:21] anisagml opened #467 "IndexError: index 6 is out of bounds for axis 1 with size 1"
* PySwarms version: 1.3.0
* Python version: 3.7.4
* Operating System: Windows 10

Hi, I'm having this kind of traceback error which is out of bounds in my first element of y, my y value is a continous so it didnt have any specific classes. Its for predicting the ROP of drilling data
Here's my following traceback error

[code]

[2021-06-22 11:27] anisagml commented on #467
My Code:

[code]

[2021-06-22 11:39] fboundy commented on #467
You need p>1 for Local optimizer I think.

[2021-06-22 11:42] anisagml commented on #467
hi, it didnt work either, even if I try with the GlobalBestPSO, it has the same error here

[2021-06-22 12:10] ljvmiranda921 commented on #467
Hi @anisagml , I think it's an indexing error because of different expected shapes.

Can you check the shape of your `y` variable? In this [example](https://pyswarms.readthedocs.io/en/latest/examples/usecases/train_neural_network.html), the shape of `y` is `(num_samples, )`. What does `y = data['ROP1_(min/M)'].values` look like? Can you reshape yours similarly to the correct one and see if it work

[2021-06-22 14:15] anisagml commented on #467
y shape is (5035,) and y type is **int64** looks like this
[code]

[2021-06-26 20:17] ksluck commented on #452
I suppose this is still an issue and might be worth investigating

[2021-07-03 16:38] HugoFara opened #470 "Save cost"
I may be wrong, but I noticed ``swarm.current_cost`` is not saved to history, and we have to recompute it after the optimization to get it. This procedure saves memory, however it has important drawbacks:
* We do need to visualize the swarm *with* cost if dimension is above 3.
* It is a waste of resources to recompute the same data, especially when the cost function is heavy.
* Some stochastic cos

[2021-07-04 03:48] ljvmiranda921 commented on #470
Hi @HugoFara , [we do save the best cost for the swarm](https://github.com/ljvmiranda921/pyswarms/blob/d928dfda3c9ad78be731d432bb06aecd78c2a497/pyswarms/base/base_single.py#L113), but I'm not sure if that's what you're referring to. Or do you mean all the computed cost for each particle at a given iteration?

**If it's the latter, yeah, I do have an apprehension on memory.** I'm fine saving it, bu

[2021-07-04 09:31] HugoFara commented on #470
Yes I was referring to the current_cost matrix. The best cost is memory efficient but we loose a lot of information (which is normal).

I already have a functional branch with cost saving, so I can make a PR. I added a key ``all_cost_history`` (any idea for a better name?) to  `` ``ToHistory``.

My only concern is that ToHistory is a ``namedtuple``, so will be very awkward to have one version with

[2021-07-13 01:56] #441 closed

[2021-07-13 01:56] #439 closed

[2021-07-13 01:56] #438 closed

[2021-07-13 01:56] #444 closed

[2021-07-13 01:56] #446 closed

[2021-07-13 01:56] #447 closed

[2021-07-13 01:56] #450 closed

[2021-07-13 01:56] #453 closed

[2021-07-13 01:56] #460 closed

[2021-07-20 09:08] louisdehaybe commented on #460
Up please

[2021-07-20 13:55] LizzAlice opened #471 "IndexError: index 122 is out of bounds for axis 1 with size 1"
I am doing a LocalBestPSO. It runs without any problems. Now I wanted to include bounds, since the parameters are getting to small. The only thing I changed in my code was adding the bounds like this:
`options = {'c1': 3.4881250747716916, 'c2': 2.952051274747192, 'w': 0.618850762148508, 'k': 13, 'p': 2}`

`optimizer = ps.single.LocalBestPSO(n_particles=n_particles, dimensions=p_size, options=optio

[2021-07-21 03:00] #463 closed

[2021-07-21 03:00] #457 closed

[2021-07-21 03:00] #462 closed

[2021-07-21 03:00] #465 closed

[2021-07-21 03:00] #466 closed

[2021-07-21 08:32] LizzAlice commented on #471
Found the problem, I thought I had to give one bound for all parameters, but it was one bound per parameter.

[2021-07-21 08:32] #471 closed

[2021-07-24 19:41] busFred opened #472 "Annotate the code with type hint"
I am trying to add the adaptive particle swarm optimization algorithm to the library. However, the code in this library is not annotated with Python Type hint, which reduces the assistance that python linter can provide to users and developers. As a programmer who prefer to use C++, in which variables are strongly type, I strongly rely on the datatype information defined in function and class defi

[2021-07-26 00:43] lukebemish commented on #465
I have been thinking about this, and I realized that it may be simpler simply to integrate this functionality into the GlobalBestPSO; the user could provide a number of iterations after which to forget best points, and if this number is not provided, data points won't be forgotten. If anyone else thinks this is useful, I can write up some small changes to do this.

[2021-07-28 07:38] LuoYuanzhen opened #475 "best_pos would always be np.ndarray([]) when objective function return array with all being 'inf'"
**Describe the bug**
When objective function returns a ndarray with all 'inf' like [inf, inf, ..., inf], the attribute 'best_pos' of Swarm would still be the default value np.ndarray([]).  It seems that the intial swarm particle's loss is all inf or nan causes the bug.

**To Reproduce**
A simple test code can reproduce it:
[code]
run test_pso(), I got a Traceback of ValueError:

"Traceback (most r

[2021-07-28 15:20] lukebemish commented on #475
It seems, in the case where the objective function returns np.inf everywhere, that a lack of a best position would be the expected behavior. If a best position is actually set, that would imply that a best position could be found by the algorithm, which in this case it can not (as everywhere it samples it gets results it cannot understand).

Simply using a <= instead of a < would imply that a best

[2021-08-03 04:06] ElvisCuiHan opened #477 "Cuckoo search via PSO: are we going to have a similar function for Cuckoo search algorithm? I am very interested in developing similar metaheuristic toolkit for more researchers."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-03 04:06] ElvisCuiHan commented on #477
.

[2021-08-24 08:56] TristanVenot opened #478 "Values taken by the particles"
To begin, thank you for the rich and detailed documentation, all works perfectly fine
**Is your feature request related to a problem? Please describe.**
I use your algorithm for a 5 dimensions optimization problem, some of the dimensions are length of time window (eg integers) and others are frequencies (eg floats)
I have two main issues regarding the values the particles can take,

first, I did n

[2021-08-30 08:58] bowlderstudio opened #479 "Could you add an example to apply this package to solve discrete search problem, such as tsp?"
I can see the api has define pyswarms.discrete.binary, but no example how to use it. Could you give an example based on tsp?

[2021-09-08 12:38] scimax opened #480 "Replace multiprocessing with multiprocess"
Hello everyone,
I just started to use pyswarms, thank you a lot for the nice package. During exploring the features I came across a minor issue.

**Is your feature request related to a problem? Please describe.**
I'm mainly using jupyter notebooks (conda python 3.8, Windows 10), but when running the optimizer with multiple processes, i.e.
[code]
the jupyter notebook is busy, but does nothing and t

[2021-11-02 13:43] AfnanTurky opened #481 "Regarding creating my own optimization loop for binary particle swarm"
* PySwarms version:  pyswarms-1.3.0
* Python version:Python 3.7.3
* Operating System: Windows

### Description

I want to create my own optimization loop for binary particle swarm for feature selection

### What I Did

I create a discrete binary swarm as the following:
![image](https://user-images.githubusercontent.com/32077289/139858332-4ceac981-fa14-4d08-b70f-6c024f4a7073.png)

but when I am goi

[2021-11-03 16:41] AfnanTurky opened #482 "Regarding UFuncTypeError np error of 'same_kind' Rule"
**Describe the bug**
when trying to add float np array into int np array the following error occur:
![image](https://user-images.githubusercontent.com/32077289/140103821-3d0be08b-561c-46f6-9dd1-110293fae2ba.png)

Since the Adding operation "+=" cannot store float in int arry
**To Reproduce**
Replace this operation with this one:

temp_position  = temp_position  + swarm.velocity

[2021-11-12 11:04] Riely007 opened #483 "Address to Lj Miranda"
Hi Lj Miranda,

I tried to contact you via github and twitter, but seems your DM is not open. :(
I wonder if the "christmAIs" project is still running？

We'd love to make use of it and build something cool relate to web3 and opensource project!

Please let me know if you are interested! 😁

Best wishes,
Riely

[2021-11-12 11:49] ljvmiranda921 commented on #483
Hi @Riely007 , this repo is not an appropriate venue for this. Saw your email, I'll reply there.

[2021-11-12 11:49] #483 closed

[2021-11-13 11:11] jmmcd opened #484 "Extra documentation for custom objective function"
I found it surprising that the objective function has to accept the entire population (not a single particle) and return one value per particle. My students found it surprising too. In most treatments of optimisation, we define an objective function as a function that accepts a single solution and returns a single real number.

I see that it's documented at https://pyswarms.readthedocs.io/en/lates

[2021-11-13 12:50] jmmcd commented on #484
I implemented these changes here:
https://github.com/jmmcd/pyswarms/

Unfortunately I won't have time to setup tests, CI etc to make an official PR for the code (item 2). For the docs (item 1) I can if needed.

[2021-11-15 06:04] ljvmiranda921 commented on #484
Hi @jmmcd , thanks a lot for putting this together!

You're definitely right, the new user is not confronted with the issue when built-in ones are used. I also agree that the problem occurs one we start writing our own objective function. We do have a decorator for that, I guess that should be properly documented as well

Thanks for catching! I'll check with your fork and do the appropriate change

[2021-11-15 09:53] jmmcd commented on #484
Hi @ljvmiranda921, I will just create the PR containing both the docs and the extra check. I won't have time to do tests etc so I will leave it in your hands :) Hope it helps.

[2021-12-06 13:16] sailew opened #487 "Performance and boundary conditions for pyswarms.discrete package"
I used the `pyswarms.discrete.binary` module for a custum objective function. However, I noticed that the discrete optimizer remains very close to the initial conditions, or goes directly to [1, 1] and stays there, also for modified version of standard test functions such as Rosenbrock and the sphere function (f = \vec{x}^2). The particle swarm only searches around the starting position for the di

[2022-01-21 20:30] chrisotoro commented on #480
I'm interested in this. Is there a quick way to implement it?

[2022-01-23 17:40] scimax commented on #480
@chrisotoro sorry, I'm pretty busy right now and had no time to look at it so far. But as far as I remember I did exactly what I mentioned above. But if you give me a day, I can look it up.

[2022-02-28 15:40] EdoF90 opened #488 "Linear Function Test"
**Describe the bug**
The code does not act as it should on a simple linear function.

**To Reproduce**
This is the code that I am running:
[code]

**Expected behavior**
I would expect to return the point (0,0) or the point (10,10).

**Environment (please complete the following information):**
 - OS: Linux
 - Version Ubuntu 20.04
 - Python Version 3.8.5

[2022-03-03 16:08] starfriend10 opened #489 "multiprocessing doesn't work as before"
**Describe the bug**
After 1 year not running the same data/code (it's an ordinary deep learning optimization task), I used the same PC,  system (ubuntu), Python (maybe some packages updated or added), but the computation time increases 6 more times. For example, last year, to run 100 particles, it cost 5 min per iteration in average, but now it can cost 30 min per iteration.

**To Reproduce**
It'

[2022-03-11 15:19] hakonanes commented on #347
Hi @ljvmiranda921, is there still interest in releasing `pyswarms` on `conda-forge`?

We're using your package in an optimization problem in [PyEBSDIndex](https://github.com/USNavalResearchLaboratory/PyEBSDIndex), and we'd like to release it on `conda-forge`. Could I have a go? I should say that while I maintain [four packages](https://github.com/orgs/conda-forge/people?query=hakonanes) on `conda-

[2022-03-24 13:09] manjunathnilugal opened #490 "Multivariate optimization"
I am currently working with pyswarms PSO.
I have **1 objective function and 7 variables** to be optimised. Is this possible? PSO.
How to implement it in python with lower and upper bounds for 7 variables.
Are there any simple examples with 'n' bounds and 1 objective function.

[2022-04-01 10:23] mohammadpasha opened #491 "You have mentioned that job shop scheduling can be done using pyswarms. Can you please give a example of mapping 'n' tasks to 'm' virtual machines using PSO with pyswarms api. I am unable to find a working example. Thanks in advance."
* PySwarms version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2022-04-16 10:53] #467 closed

[2022-04-16 10:53] #452 closed

[2022-04-16 10:53] #470 closed

[2022-04-16 10:53] #472 closed

[2022-04-16 10:53] #475 closed

[2022-04-16 10:53] #477 closed

[2022-04-16 10:53] #479 closed

[2022-04-16 10:53] #478 closed

[2022-04-16 10:53] #481 closed

[2022-04-16 10:53] #482 closed

[2022-04-16 10:53] #487 closed

[2022-04-16 10:53] #484 closed

[2022-04-19 09:53] #488 closed

[2022-04-19 09:53] #489 closed

[2022-04-27 18:41] #480 closed

[2022-05-01 12:41] #490 closed

[2022-05-02 05:09] #491 closed

[2022-05-27 00:16] hakan-gecili opened #492 "Citing Pyswarms in my article"
Hi Pyswarm team, I combined your particle swarm optimization implementation with Constraint Programming and called this hybrid method as  PSO-CP.  I hope my article improves the visibility of this library. Following is the citation of my work:

Gecili, H., Parikh, P.J., Joint shelf design and shelf space allocation problem for retailers, Omega, Volume 111, 2022, 102634,
ISSN 0305-0483, https://doi

[2022-06-28 07:55] hakonanes commented on #347
@ljvmiranda921 and other maintainers, I've made a PR to `conda-forge` which will make PySwarms downloadable as `conda install pyswarms -c conda-forge`. I'll add you as maintainers of the pyswarms-feedstock if you ask for it.

[2022-06-28 07:57] hakonanes commented on #347
The PR is here: https://github.com/conda-forge/staged-recipes/pull/19460. I'll wait a week (Tuesday July 5) for your response before asking for a review from the conda-forge maintainers. I can of course add you as maintainers later on if you want.

[2022-06-28 19:48] hakonanes commented on #347
Also, the fact that the package can be downloaded from Anaconda should perhaps be added as an installation option in the docs?

[2022-06-29 05:50] ljvmiranda921 commented on #347
Hi @hakonanes , sorry for not being into this for quite some time. To answer your questions:

- Sure, let's release pyswarms on conda-forge 👍

Sure, I appreciate being added as a maintainer for the feedstock

Ok, I can update that installation option in the docs!

Thanks again @hakonanes  for the help on this! 💯

[2022-07-07 18:10] Berlyli866 opened #495 "Enable GPU/parallelize for pyswarms"
Is it possible to use gpu for pyswarms (in python)? My loss function calls the simulator so it takes a lot of time and I wonder if it is possible to parallelize the calculation for the particles of the swarm in each iteration?

or do we have an existing function to use?

thanks for the help.

[2022-07-28 12:54] soso-maitha opened #496 "Optimizing using pre-defined options of positive integers"
Hello,
Thanks for this great library.
I want to minimize an objective function that takes two parameters k and a. But the parameters values have to be from these predifned options which are k=[3,4,5,6,7,8,9,10], a=[500,1000,2000,3000,4000,5000,6000,7000]

The reason I am using PSO because some long operation needs to be done in between.

But PSO works with random floats. Is there any current optio

[2022-08-05 12:58] juhonkang opened #497 "How to integrate it in Pytorch or Paddlepaddle training loop?"
[code]

[2022-08-08 08:54] heliolei opened #498 "How to define a constrained bounds?"
Dear all,

My bounds is like this:
[code]
However, in my optimization problem,
[code]
should always be constrained within the current bounds for all the particles

How can I realise this in our pyswarms code.

Tnank you in advance

Regrads,

Lei CAI

[2022-09-05 15:29] amirhszd opened #500 "Passing verbose and n_processes to hyperparameter tuning algorithms"
I don't think this needs much explanation, but if user could pass verbose and n_processes to the hyperparamter tuning algorithms like RandomSearch or GridSearch along with other parameters (e.g., bounds) that would be great. Great job putting this together.

[2022-09-06 14:54] K1one44 opened #501 "compute_Pbest - compute gbest weird behavior"
Hello,
thanks for that job.
i encounter an issue in usage:
I prepare my own optimization loops and an issu eoccurs in gbest computing the output value is not the minimum value.

i modify and try directly using GlobalBestPSO or GeneralOptimizerPSO and both return me that error at the end of first iterations run :
    "mask_cost = swarm.current_cost < swarm.pbest_cost
TypeError: '>' not supported be

[2022-10-04 13:25] someparsa opened #502 "Problem with conditional functions in multi-dimension particles"
I believe the package cannot handle a few complex-conditioned functions. This is an example.

The function defined in the tutorial for ["Basic Optimization with Arguments"](https://pyswarms.readthedocs.io/en/latest/examples/tutorials/basic_optimization.html#Basic-Optimization-with-Arguments) is a simple non-conditional function.

Imagine we change such function to a more complex one which has a fe