[2017-07-22 07:22] ljvmiranda921 opened #1 "Fix .travis.yml"
* PySwarms version: 0.1.0
* Python version: 3.6.2
* Operating System: Windows 10

### Description
Uh-oh, I think I messed up with `travis.yml`, breaking up the build. Now, I just turned off the sync to
Travis CI so that it will stop sending me notifications of my failure :(

### What I Did
I added these lines of code in `.travis.yml`. My test suite uses the `numpy` package so I decided to install

[2017-07-22 08:13] ljvmiranda921 commented on #1
Fixed! The build should be passing right now.

It turns out that you don't have to manually set-up your own environments just to install `numpy` and `scipy`. You can simply update your `requirements_dev.txt` file and your `setup.py` so that Travis can install everything for you.

For more information, check [this](https://docs.travis-ci.com/user/getting-started/).

[2017-07-22 08:13] #1 closed

[2017-07-23 15:19] ljvmiranda921 opened #3 "Implement Local Best PSO"

[2017-07-24 03:10] ljvmiranda921 opened #4 "Implement hyperparameter search techniques in utils"

[2017-07-24 08:24] ljvmiranda921 commented on #3
Yup yup! Working on it.

[2017-07-25 05:27] #3 closed

[2017-07-25 10:33] ljvmiranda921 opened #5 "Development Roadmap"
## Development Roadmap

Here is the feature list needed for the major release. We will be implementing different PSO variants, more test functions, and a hyperparameter search utility.

### Optimizers

- [x] Binary PSO (`pyswarms.single.BPSO`) [1]
- [ ] Vanilla Multi-Objective PSO (`pyswarms.multi.MOPSO`)  [2]
- [ ] Constrained PSO (`pyswarms.constrained.CPSO`) [3]

### Test Functions
Most of the

[2017-07-25 12:39] ljvmiranda921 opened #6 "Implement single-objective test functions"
Thank you for checking-out this issue, help us build our way to our First Major Release! (#5 )

### What you'll learn
-  Learn writing basic methods in Python, especially in Numpy

### What you'll do
TL;DR,
- Write a single method for a single-objective function.

We wanted you to write some single-objective test functions for our optimization algorithm. For an optimization perspective, single-obj

[2017-07-25 18:20] Carl-K commented on #5
I'll do Beale's Function!

[2017-07-25 22:19] ljvmiranda921 commented on #5
Hey @Carl-K! Go ahead! Just leave a message in #6 if you ran into any problem/confusion 👍 😄

[2017-07-26 04:27] ljvmiranda921 opened #7 "Implement Discrete PSO Variants"
Hi! Thank you for checking out this issue!

Currently, this whole part is pretty much __open__. As of now, I'm planning to give PySwarms four major optimization capabilities:

* single-objective continuous optimization
* single-objective discrete optimization
* multi-objective optimization, and
* constrained optimization.

We've established some grounds on single-objective continuous optimization

[2017-07-26 04:27] ljvmiranda921 opened #8 "Implement Constrained PSO Variants"
Hi! Thank you for checking out this issue!

Currently, this whole part is pretty much __open__. As of now, I'm planning to give PySwarms four major optimization capabilities:

* single-objective continuous optimization
* single-objective discrete optimization
* multi-objective optimization, and
* constrained optimization.

We've established some grounds on single-objective continuous optimization

[2017-07-26 04:28] ljvmiranda921 opened #9 "Implement Multi-Objective PSO Variants"
Hi! Thank you for checking out this issue!

Currently, this whole part is pretty much __open__. As of now, I'm planning to give PySwarms four major optimization capabilities:

* single-objective continuous optimization
* single-objective discrete optimization
* multi-objective optimization, and
* constrained optimization.

We've established some grounds on single-objective continuous optimization

[2017-07-27 16:20] ljvmiranda921 commented on #5
Hey @Carl-K , wow, that would be really helpful! You can implement the rest of the functions in `single_obj.py` for now.

I forgot to mention, it would be really nice if we follow [PEP8 standards in writing equations](https://www.python.org/dev/peps/pep-0008/#should-a-line-break-before-or-after-a-binary-operator). So for the Beale's function, we can write something like this:

[code]

With regard

[2017-07-27 19:14] Carl-K commented on #5
Hello @ljvmiranda921 thank you for the guidance it is much helpful.  I would just like to bring something to your attention about the tests you have written regarding
[code]

consider

[code]

vs

[code]

for Beale's function.  The array [3, 0.5] does not raise an assertion error within beale_func(x) because it is valid input, so the test for bounds should fail.  In the first example the test does

[2017-07-28 02:41] ljvmiranda921 commented on #5
Hmmm... interesting. Turns out that context managers (`with self.assertRaises(AssertionError)`) work in an `any` perspective. Already fixed it (and the others) in the latest commit.

Thanks for catching it! 👍

[2017-07-28 12:57] ljvmiranda921 opened #16 "Improve API documentation"
Currently the documentation is untouched, and much of the docstrings in the modules are not yet presented. Can you lend us a hand?

[2017-07-29 00:56] ljvmiranda921 commented on #6
Done with this issue. Single-objective functions in the feature list are all implemented! Thank you for helping us out @Carl-K! Hope you had fun contributing in our optimization library! I've added you to the Contributor's list. 👍 👍

[2017-07-29 00:56] #6 closed

[2017-07-29 00:57] ljvmiranda921 commented on #16
Nah. I can do it.

[2017-07-29 00:57] #16 closed

[2017-07-31 16:13] luisdelatorre012 commented on #8
Saw this on the python subreddit "what are you working on this week". I'm interested in contributing on this. Is there a specific constrained PSO algorithm that you want to implement? A quick search of the literature shows a few different implementations. I'm also happy to suggest some that look promising. I don't have a ton of experience with nature-inspired algorithms, but I have pretty good gra

[2017-07-31 17:34] ljvmiranda921 commented on #8
Hey @luisdelatorre012 , I have updated the description for this issue. Check the comment above!
Currently, contributions for this issue won't require a pull request. But I like your idea! If there are promising implementations of constrained PSO in literature, please comment them here with the corresponding research title and link (it's okay if it's behind a paywall!). Then from that we can review

[2017-07-31 17:59] luisdelatorre012 commented on #8
Thanks for the update. Constrained problems are huge for me (my work is in operations research, and I solve problems with a lot of business-related side constraints). I'll see what I find on constrained PSO.

[2017-08-02 03:23] ljvmiranda921 opened #17 "Example on Binary PSO for Feature Selection"
Hi everyone, I have already completed the Binary PSO algorithm and I would like it to be tested. This issue may require some domain expertise, but beginners are also welcome to join!

So I need some help on providing an example in using Binary PSO for Feature Selection. As you can see, we would like to expand our [use-cases in the documentation](https://pyswarms.readthedocs.io/en/latest/examples/u

[2017-08-03 12:57] #17 closed

[2017-08-11 19:53] SioKCronin commented on #5
Hi @ljvmiranda921 I'm a CS grad student just beginning to use PSO in my work, and can help out with documentation and the Jupyter examples notebook.

[2017-08-12 00:56] ljvmiranda921 commented on #5
Hi @SioKCronin! That's awesome!

Just fork this repo and do a pull request once you're done. The steps can be seen in [this link](https://pyswarms.readthedocs.io/en/latest/contributing.html)

Also, if you have questions, need help, or found some bugs, please don't hesitate to contact/raise an issue!

Thank you so much!

[2017-08-16 17:14] SioKCronin commented on #4
I'd like to help with this. Is it ok if we add sklearn as a dependency to take advantage of their GridSearchCV and RandomizedSearchCV?

[2017-08-16 20:50] ljvmiranda921 commented on #4
Hi, sorry I haven't done any commits lately, currently on a trip. I am also thinking about that. But if we are to use scikit-learn's hyperparameter search tools, maybe we can just scrap this feature altogether? Unless we provide a more convenient API in using them then it is fine. What do you think?

[2017-08-17 03:07] SioKCronin commented on #4
I compared scikit-learn's implementation of GridSearch and RandomizedSearch with Optunity's, and I think it should be straightforward to implement these here. I haven't found another PSO library that has this functionality, and I imagine people would be more apt to tune if it was built in. I can start with GridSearch and see how it goes?

[2017-08-17 03:15] ljvmiranda921 commented on #4
I see I see. Sure! Let's try GridSearch first and iterate from there.

Thanks a lot! @SioKCronin!

[2017-08-18 08:44] dhariyalbhaskar opened #19 "CUDA implematation"
Does this PSO supports CUDA?

[2017-08-18 23:12] SioKCronin commented on #4
Great. I should be able to get this going next week, and will reach out if I hit any snags.

[2017-08-21 14:58] abougouffa commented on #5
Hi @ljvmiranda921, I'm working on a project in which I implemented another PSO variant named [GLIR-PSO](https://doi.org/10.1109/IHMSC.2015.59) and I can port it to work with **pyswarms**.

I don't know if you are interested in implementing existing PSO variants or just implement a generic framework?

[2017-08-21 15:12] ljvmiranda921 commented on #19
Hi, @dhariyalbhaskar , as of now, there's no support for CUDA in this library yet.

For the short-term, I'm planning to use the [multiprocessing](https://docs.python.org/2/library/multiprocessing.html) module to atleast perform parallelization and more efficient computation.

If you're interested in contributing CUDA support, then it would be really nice! 😄

[2017-08-21 15:15] ljvmiranda921 commented on #5
Hi @abougouffa, sure please do port it here in PySwarms! The idea is that we can pool different variants in the library to ease benchmarking for researchers. 👍

However, please do check if the base classes can support GLIR-PSO. Hopefully it does, if there's a need to create a new base class, or improve the existing base classes, just write a message here!

[2017-08-21 15:27] abougouffa commented on #5
OK, great, I will port it when I get some free time 😃.

Thank you for your responsiveness 😃

[2017-08-25 07:43] #19 closed

[2017-09-03 07:29] ljvmiranda921 opened #22 "Fix issue on Ackley Function"
* PySwarms version: 0.1.5
* Python version: 2.7
* Operating System: Linux

### Description

It seems that the Ackley function is not working on Python 2.7 version

[code]

When given an input `np.zeros([3,2])`, most Python 3.X versions return something that `isclose` to `np.zeros(3)`. But when ran against a Python 2.7.X version, we're getting `[1.718, 1.718, 1.718]`

[2017-09-03 07:39] ljvmiranda921 commented on #22
Fixed. Just change to `float(d)`. Read more [here](https://docs.python.org/3/howto/pyporting.html#division)

[2017-09-03 07:39] #22 closed

[2017-09-15 06:52] #4 closed

[2017-09-15 07:02] ljvmiranda921 opened #27 "Implement assertions() in search methods"
Thanks to @SioKCronin , we're now able to implement hyperparameter search tools such as `GridSearch` and `RandomSearch` . These are awesome implementations, but we can maximize its robustness by adding an `assertions()` method in our classes. Would you like to try?

## What you'll do
Simply put, you will just add an `assertions()` method in the `SearchBase` class. This should contain various
check

[2017-09-15 07:06] ljvmiranda921 commented on #8
Hi @luisdelatorre012 , how's this going? 😄

[2017-09-16 12:00] jazcap53 commented on #27
Hi!
I'd like to take this on as my (very) first OSS contribution.
Best,
Andy

[2017-09-16 12:03] ljvmiranda921 commented on #27
Hi @jazcap53, awesome! Just leave a message here if you're stuck or need some help! 👍

[2017-09-16 12:06] jazcap53 commented on #27
Hi @ljvmiranda921, Will do! Thanks.

On Sat, Sep 16, 2017 at 8:03 AM, Lj Miranda <notifications@github.com>
wrote:

[2017-09-16 12:06] DewaldDeJager commented on #7
Why was this closed?

I have implemented set-based PSO by Langeveld and Engelbrecht but need to make some changes before making a pull request. It needs modifications to the discrete base class as well.

[2017-09-16 12:08] ljvmiranda921 commented on #7
Oops sorry, I just thought no one will take it so I'll write my own. 😞

Okay, will open this up! 👍  Thanks @DewaldDeJager!

[2017-09-16 12:08] DewaldDeJager commented on #7
Nevermind, I see now that Binary PSO already meets the requirements for this issue to be closed. I will open a new issue some time.

[2017-09-16 12:08] ljvmiranda921 commented on #7
Ohhhh I see, are the two different? Do you have a link to the paper?

[2017-09-16 12:10] ljvmiranda921 commented on #7
Hmmm...well the Discrete PSO doesn't have to be just one implementation. Right now we've only implemented a Binary PSO. As long as it falls under the Discrete class, then it's fine!

At the same time, you can also check the Base Discrete PSO class that I wrote and see if it would fit in general Discrete PSO cases. What do you think, @DewaldDeJager?

[2017-09-16 12:16] DewaldDeJager commented on #7
I can't find the exact paper right now but a masters thesis by the same author is available here:
https://repository.up.ac.za/bitstream/handle/2263/55834/Langeveld_Set_2016.pdf
See chapter 4, page 71.

I have looked at the discrete base class and it seems good for in general but it definitely needs changes for the set-based PSO.

Is there a Gitter or IRC channel for pyswarms? Have been wanting to

[2017-09-16 12:24] ljvmiranda921 commented on #7
Awesome! Okay, do you wanna make a pull request for set-based PSO?
If that's so, then I can leave this issue open. 👍

Maybe we can check the implementation first and decide if we will refactor the discrete base class (which might affect the already implemented binary PSO) or just go with adding methods to the child class of set-based PSO.

As of now there is no Gitter nor IRC channel for pyswarms.

[2017-09-16 22:23] jazcap53 commented on #27
@ljvmiranda921 Making good progress on #27. Just had to overcome a little nervousness :-)

[2017-09-17 01:47] ljvmiranda921 commented on #27
Okay! Thanks a lot!

Nerves are good, if you encounter any problem, question, or stuck on
something, just leave a comment here :)

On Sun, 17 Sep 2017 at 7:23 AM Andrew Jarcho <notifications@github.com>
wrote:

--
Lester James V. Miranda
BS Electronics and Communications Engineering,
Minor in Philosophy (Class of 2016)
Ateneo de Manila University
lester.miranda@ <lester.miranda@obf.ateneo.edu>*o
<

[2017-09-17 12:06] jazcap53 commented on #27
Hi @ljvmiranda921
Just checking that:
    `SearchBase` should check that param `optimizer` is of type `LocalBestPSO` or `GlobalBestPSO`
    `GridSearch` does not need an `assertions` method since all its params are checked in `SearchBase`
    `RandomSearch` will need an `assertions` method only if you want me to  check that the value of param `n_selection_iters` falls within a certain range

[2017-09-17 12:17] ljvmiranda921 commented on #27
Yes you are correct! It should check if `optimizer` is of type `LocalBestPSO` or `GlobalBestPSO`. The `SearchBase` also accepts other values when initialization, but I think they don't need to be asserted because they can be caught by the PSO implementations. What do you think about that?

Yes you are correct. Since it inherits everything from `SearchBase`. No need to declare an assertions method.

[2017-09-17 13:27] jazcap53 commented on #27
Oops! I missed that. I put in some unnecessary checks which I'll remove.

I'll do the type check on n_selection_iters.

Yes, this *is* fun! I'm learning...

[2017-09-17 20:24] jazcap53 commented on #27
@ljvmiranda921 Hi! I have two related questions:
1) I can't figure out where to add my tests.
I've put in two assertions, one in `SearchBase` and one in `RandomSearch`. Both raise `TypeError` on bad input.
File `tests/utils/search/test_randomsearch.py` has classes to test return types, and return values.
File `tests/utils/search/test_gridsearch.py` is similar.
Do I add a new class in each file tha

[2017-09-18 00:02] ljvmiranda921 commented on #27
Hi @jazcap53! regarding your questions,

### For Question 1
Just add another class, `Instantiation`, which inherits from `Base` in `tests/utils/search/test_randomsearch.py` and `tests/utils/search/test_gridsearch.py`. So all the tests inside that `Instantiation` class are only concerned for cases when instantiating the `RandomSearch` and `GridSearch` classes. 👍  Also, make sure that each test meth

[2017-09-18 00:06] jazcap53 commented on #27
@ljvmiranda921 Thanks very much!

[2017-09-20 00:21] jazcap53 commented on #27
Hi @ljvmiranda921,
I've pushed a commit to my fork of pyswarms that I think fulfills the requirements of issue #27. I'd like to issue a pull request so that you can review.

The new code adds no new Errors or Warnings to the output of flake8, passes `python -m unittest discover`, and passes `tox` for py27, py34, py35, and py36. On my system, the `python` command runs py27.

I haven't yet done the

[2017-09-20 11:43] ljvmiranda921 commented on #27
Awesome @jazcap53!

Many things happened recently, I got quite busy, but I will check your fork this weekend! 👍

__Maybe some minor comment:__ It would be nice if you can `rebase` and `reword` your commit title
into something shorter. Maybe `Implement assertions() in search` would be nice! You can be as explicit as you want in the commit description 😄

Thank you so much for your effort and time as

[2017-09-21 16:09] ljvmiranda921 opened #30 "Add tests for plot_environment"
_Hi Contributor! This might get messy and unreadable because this is just a self-assigned issue that I will work on. In case you pieced out something from my garbled notes and want to help out, feel free to leave a comment below!_

TODO:
- Make sure that conda installs ffmpeg during setup.py and during travis check
- Should it automatically install ffmpeg? Or have it as an option?

[2017-09-22 23:55] luisdelatorre012 commented on #8
Sorry it's been awhile, but I'm still interested in this!

I've spent some time getting acquainted with pyswarms and used it for solving some continuous and binary bound-constrained problems. I'm just now looking into constraint handling. I'll see if this paper gives some promising leads: https://link.springer.com/article/10.1007/s00521-014-1808-5

I'll keep you posted.

[2017-09-23 15:20] ljvmiranda921 commented on #8
Awesome! I'll read through this!

How did you find PySwarms? As of now, we don't release quite often, so I think it's better to test the bleeding-edge version by cloning this repository, and running `python setup.py`

Okay sure! Thanks a lot for your help @luisdelatorre012 !

[2017-09-24 00:22] #30 closed

[2017-09-24 00:22] ljvmiranda921 commented on #30
Closing this issue as it was already solved by PR #31

[2017-09-25 01:29] ljvmiranda921 opened #33 "Binary PSO cost problem"
* PySwarms version: 0.1.6a

### Description

"The cost doesn't seem to monotonically decrease from one iteration to the next.  It seems like the cost that should be returned each iteration as the best cost is the one that is the historically best across all particles, yet on some iterations the cost seems to jump up, and the final cost when the algorithm completes isn't the minimum cost it encount

[2017-09-25 01:47] ljvmiranda921 commented on #33
Possible culprit is self assigning personal best PSO without keeping a history of positions and cost.
See the relevant code [here].(https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/discrete/binary.py#L165:L200)

[2017-09-25 04:22] CPapadim commented on #33
I submitted a pull request for review to fix this issue here:  https://github.com/ljvmiranda921/pyswarms/pull/34

[2017-09-25 08:02] #33 closed

[2017-09-26 22:36] luisdelatorre012 commented on #8
I'm finding the package easy to use. Appreciate the good use of docstrings.

The review paper doesn't do any computational tests comparing the methods it reviews. I'd say that the scientific thing to do is to do such a comparison. That is a lot of work, and it's not obvious that any one of the methods reviewed is much better than the others. I'm inclined to start by implementing the method it iden

[2017-09-27 01:44] ljvmiranda921 commented on #8
Hi @luisdelatorre012 ,

I'd trust your judgement and we can start with the constrained PSO by Deb et. al. In the long run, it's also possible to implement other variants described in the earlier paper. But we can start with the one you suggested first.

My plan is to create a base class `ConstrainedSwarmBase` similar to `SwarmBase` and `DiscreteSwarmBase`, in which all other constrained PSO implem

[2017-09-28 19:58] ljvmiranda921 commented on #27
Hi @jazcap53, how's it going? I'm wondering how's your progress on this. If you have any problems or stuck, feel free to comment :)

[2017-09-28 20:06] jazcap53 commented on #27
Hi @ljvmiranda921,
I was working on this but got distracted. What I came up with so far was
not useful or correct -- I'll have questions for you by tomorrow.
Thank you for contacting me; I really want to move forward on this
immediately. 👍

On Thu, Sep 28, 2017 at 3:58 PM, Lj Miranda <notifications@github.com>
wrote:

[2017-09-28 20:09] ljvmiranda921 commented on #27
Sure sure! No pressure, I was just concerned if you are still interested on working in it. Thanks a lot Andrew @jazcap53! Hope you're fine and well!

[2017-09-28 20:11] jazcap53 commented on #27
Very interested and I'm glad no-one has taken it over due to my inactivity.
Looking forward to tackling this! :-)

On Thu, Sep 28, 2017 at 4:09 PM, Lj Miranda <notifications@github.com>
wrote:

[2017-09-30 03:29] jazcap53 commented on #27
Hi @ljvmiranda921!

I've got a question and a comment.

The question:
I don't want to test anything in `tests/utils/search/test_randomsearch.py` that is already being tested somewhere else.

For example if I put a `test_keyword_check_fail()` into `test_randomsearch.py`, will that duplicate the similar test in  `tests/optimizers/test_global_best.py`?

I _think_ the answer to that question is "no".

[2017-09-30 17:22] jazcap53 commented on #27
Hmm! Am looking at the use-cases in your doc to try and answer my own question.

[2017-09-30 19:00] jazcap53 commented on #27
Nope. I've still got questions.
1) It looks like the `Instantiation` subclass in `test_randomsearch.py` only needs to test the types of `optimizer` and `n_selection_iters`.  The `Instantiation` subclass in `test_gridsearch.py` only needs to test the type of `optimizer`. Is this correct?
2) To check the type assertions I made in class `RandomSearch`, I need to create instances of `RandomSearch`. I

[2017-10-01 00:07] ljvmiranda921 commented on #27
Hey Andrew,

Sorry I cannot reply properly, currently on a trip until Tuesday so don't
have a laptop and reliable internet connection.

1. Yes for the #1 you are correct. No need perhaps of testing the inputs
for the optimizer. Hmmm what do you think is a more efficient design though?

2.  Hmmm, normally what we do is put the class instantiations in the
setUp(). So we have a self.my_object, but th

[2017-10-01 00:28] jazcap53 commented on #27
Hey Lester,

Thanks for your reply -- it's much appreciated.

My knowledge and understanding around testing is limited; but I'll think
hard about these issues between now and Tuesday.

Have a safe and pleasant trip!

On Sat, Sep 30, 2017 at 8:07 PM, Lj Miranda <notifications@github.com>
wrote:

[2017-10-02 10:21] ljvmiranda921 commented on #27
Hi Andrew @jazcap53,

I am back already, hopefully I can reply to your messages quickly. Just ping me if you have any questions/concerns! 👍

[2017-10-03 04:04] jazcap53 commented on #27
Hi Lester @ljvmiranda921,

I've been thinking about testing the instantiations for `RandomSearch`.

It looks to me like that may not work here. In file `tests/optimizers/test_global_best.py`, the `class Instantiation` tests all work by checking for exceptions raised on object creation. So the `GlobalBestPSO` objects are created in the tests themselves.

My instantiation tests also work by checking

[2017-10-03 04:10] ljvmiranda921 commented on #27
Hi Andrew @jazcap53 !

I see, I think what you said is correct. Thank you for catching my mistake. I guess your design is all good, it would be much better then to have the objects be created in the tests themselves. I tried out the search utilities earlier and I figured that your design is the way to go.

Awesome! Thank you so much! 💯

[2017-10-03 04:18] jazcap53 commented on #27
Hi Lester @ljvmiranda921 ,

Great! I'll finish up and check my work tomorrow morning!

[2017-10-03 04:21] ljvmiranda921 commented on #27
Great! I'm looking forward to it!

Take care and have a good rest! 👍

[2017-10-03 21:46] jazcap53 commented on #27
Hi @ljvmiranda921 !
Travis doesn't like my pull request. It's erroring out for Py 3.4 (only) with the message:
`The command "pip install -U tox-travis" failed and exited with 2 during . `
I don't think that's under my control. Am I correct, or should I make some change?

[2017-10-03 22:04] ljvmiranda921 commented on #27
Hi @jazcap53 ,

Let me check that one first. Sometimes travis makes a build error randomly and it's weird. I'll get back to you! 😄

[2017-10-03 22:09] ljvmiranda921 commented on #27
It's working now, I just clicked the Restart Build button 👍

[2017-10-03 22:28] ljvmiranda921 commented on #27
Hey @jazcap53, I have merged your PR already. Thank you so much for your contribution! It was really nice working with you. Just drop-by anytime you wish to contribute.

Take care and have a nice day! 💯  👍

[2017-10-03 22:28] #27 closed

[2017-10-03 23:05] jazcap53 commented on #27
Thank you @ljvmiranda921 !

This was fun! 👍

On Tue, Oct 3, 2017 at 6:28 PM, Lj Miranda <notifications@github.com> wrote:

[2017-10-03 23:54] JaveJao opened #41 "IndexError: index 5309 is out of bounds for axis 1 with size 1"
Sir, I'm having problems with the out of bounds error. '5309' is the first element in my y. Here is the complete traceback:

[code]

[2017-10-03 23:55] JaveJao commented on #41
Here is my complete code:
# Import modules
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from tensorflow.contrib import learn
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn import datasets, linear_model
from sklearn import model_selection
from sklearn import preprocessing

import tensorflo

[2017-10-03 23:57] JaveJao commented on #41
Here is my code:

# Import modules
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from tensorflow.contrib import learn
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn import datasets, linear_model
from sklearn import model_selection
from sklearn import preprocessing

import tensorflow as tf

[2017-10-04 00:39] ljvmiranda921 commented on #41
Hi,

It seems that the problem is coming from your neural network code and not from the PySwarms module. But I'll try my best to help and interpret your problem:

The `IndexError` is looking for an index or a placeholder, not the value 5309. Can you please show me what the shape of `Y_train` is? What is the value of `Y_train.shape`?

[2017-10-04 00:42] JaveJao commented on #41
Hello sir! thanks for your reply. The value of Y_train.shape is (84,1).

[2017-10-04 00:44] ljvmiranda921 commented on #41
Moreover, in the example found [here](https://pyswarms.readthedocs.io/en/latest/examples/train_neural_network.html) in the documentation, the labels are in a multi-class scheme and of shape `(n_samples, )` (because we have 150 samples, it is `(150, )`. If you print it, it will look like this (where each number corresponds to a particular class):

[code]

The output of `y` is:
[code]

[2017-10-04 00:45] ljvmiranda921 commented on #41
I see, so you need to remove that extra column in your `Y_train`. Can you show me what `Y_train` looks like? Try `print(Y_train)`.

[2017-10-04 00:46] JaveJao commented on #41
This is what Y_train looks like, sir:
[[5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5309]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5285]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5597]
 [5707]
 [5707]
 [5707]
 [5707]
 [5707]
 [5707]
 [5707]
 [5707]
 [5707]
 [

[2017-10-04 00:48] ljvmiranda921 commented on #41
Hmmm, try "flattening" your `Y_train` first. This means that instead of feeding it with a matrix of shape `(84,1)`, you should feed it with a matrix of shape `(84,)`.

This means that:

[code]

Try using `Y_train_new` as your new input and let's see how it will work.

[2017-10-04 00:51] JaveJao commented on #41
Y_train_new is now
[5309 5309 5309 5309 5309 5309 5309 5309 5309 5309 5309 5309 5285 5285 5285
 5285 5285 5285 5285 5285 5285 5285 5285 5285 5597 5597 5597 5597 5597 5597
 5597 5597 5597 5597 5597 5597 5707 5707 5707 5707 5707 5707 5707 5707 5707
 5707 5707 5707 5989 5989 5989 5989 5989 5989 5989 5989 5989 5989 5989 5989
 6307 6307 6307 6307 6307 6307 6307 6307 6307 6307 6307 6307 6586 6586 6586

[2017-10-04 00:54] ljvmiranda921 commented on #41
Hmmm, I think it's because you still need to transform your actual labels, 5309 5285 etc into class labels. As I can see in your matrix, you probably have 5/6 different labels. So for all 5309, they should be assigned as 0, for all 5285 would be 1 etc. etc.

This means that you need to map these numbers into a range from 0 to `num_classes`

[2017-10-04 00:55] JaveJao commented on #41
I'm sorry sir but I'm really just a beginner. How can I accomplish that?

[2017-10-04 00:57] ljvmiranda921 commented on #41
Check [this](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder)

[2017-10-04 01:04] JaveJao commented on #41
Sir, is this right?
le = preprocessing.LabelEncoder()
le.fit(Y_train_new)
le.classes_
Y_train_transformed = le.transform(Y_train_new)
le.inverse_transform(le.transform(Y_train_new))
print(Y_train_transformed)

I ran those and here is what I got:
[1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 3
 3 3 3 3 3 3 3 3 3 3 3 4 4 4 4 4 4 4 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5 5 6 6
 6 6

[2017-10-04 01:18] ljvmiranda921 commented on #41
I believe it is correct, would you try that one out in your neural network?

[2017-10-04 01:20] JaveJao commented on #41
Sir, it now says "IndexError: index 1 is out of bounds for axis 1 with size 1"

[2017-10-04 01:21] ljvmiranda921 commented on #41
Can you print the value of `probs`?

[2017-10-04 01:22] JaveJao commented on #41
Probs output:
[[ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]
 [ 1.]

[2017-10-04 01:34] ljvmiranda921 commented on #41
I see, that I think is another culprit. The shape of probs should be `(n_samples, n_classes)`. In case of the iris dataset with 150 samples and 3 classes, it is `(150,3)`.

I think it depends on the neural network configuration that you have set-up. Going back to your code, I realized that the number of classes you set is `1`. Why did you set it as 1? I may be interpreting your problem wrong.

I b

[2017-10-04 01:41] JaveJao commented on #41
OMG SIR!!! It now worked! thank you very much!
Why classes = 1? Because I really wanted to predict electricity consumption, which is a numerical value. However, I have another problem that says "array indexes should only be integer or boolean". That's why I tested to predict first the population, which are all integers. I thought that a numerical output is of 1 class only. Am I wrong sir?

[2017-10-04 01:47] JaveJao commented on #41
This is a regression problem, sir. I want to output a numerical value, which is the electricity consumption using 4 features namely population, temperature, GDP, and employment rate.

[2017-10-04 01:47] ljvmiranda921 commented on #41
I see, it worked but I guess we're solving the wrong problem hehehe. I'm sorry I wasn't able to ask you that beforehand. 🍔

I believe that you are solving a regression problem, not a classification problem. We often use regression to perform forecasting or prediction of future values. Classification is often used for image recognition, etc. 🐱 🐶 🐦

I suggest you look up how neural networks can be u

[2017-10-04 01:47] #41 closed

[2017-10-04 01:49] ljvmiranda921 commented on #41
In addition, you can come back here again and open another issue if you have created a sample code for a neural network for regression. I can probably help you with that again on how to incorporate PySwarms or PSO in general. 👍

[2017-10-04 01:52] JaveJao opened #42 "How can I implement PySwarms in regression problems?"
I actually have one, sir! I am trying to compare the implementation of BP NN vs PSO NN. I have a code for BP NN using TensorFlow. Here is my code:

from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from tensorflow.contrib import learn
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn import datas

[2017-10-04 01:55] JaveJao commented on #41
Thank you for your help, sir! I appreciate it very much. I now opened a new issue hehehe :D I'm just trying to compare the results of BP NN vs PSO NN

[2017-10-04 01:57] ljvmiranda921 commented on #42
Hmmm, I am not sure how we can incorporate a different optimization scheme in Tensorflow because it's backend is different and might break its training process.

If you have a code for regression using only numpy and the like, You can post it here.
You can probably try writing your own, learn how regression works and start writing it from scratch. In fact, you can actually use the PSO NN code that

[2017-10-04 01:59] JaveJao commented on #42
I will try it, sir! Thank you very much. I'll leave for school now :D Will comeback some other time!

[2017-10-04 11:42] ljvmiranda921 commented on #42
Closing this because it's not related to the actual PySwarms module itself

[2017-10-04 11:42] #42 closed

[2017-10-04 15:40] SioKCronin commented on #9
Hi @ljvmiranda921 ! I've been thinking about this issue a lot, and would love to help implement this. Have you begun work on a base class? I like your idea of getting the base set up first and then iterating. I'll have some time starting next week to cull relevant case studies/applications from the ML space that can help shape the development roadmap.

[2017-10-05 00:00] ljvmiranda921 commented on #7
Hi @DewaldDeJager, I'm closing this issue for now. If you wish to open-up a Pull Request regarding the set-based PSO you've proposed, please open up a new issue and we can converse from there. 👍

[2017-10-05 00:00] #7 closed

[2017-10-05 00:02] ljvmiranda921 commented on #9
Hi @SioKCronin ! Thanks for your help! Unfortunately, I haven't started writing code for the base class here. I hit a bump after writing the Discrete PSO base class. I have some few rough ideas, hopefully I can open up a PR by next week and you can see what I came up with. I believe it will  just be a Base class full of `NotImplementedError`s, but you can check it and see if the "skeleton" is good

[2017-10-07 09:57] ljvmiranda921 opened #44 "JOSS Submission"

[2017-10-07 10:26] #44 closed

[2017-10-08 18:16] JaveJao opened #46 "Successfully implemented PySwarms in my regression problem!"
Good day, sir! I just want to thank you for helping me in my assignment. I really appreciate you and most especially, PySwarms <3 I really love it! I am happy that I was able to implement PySwarms in a regression problem using MSE as the loss function. I will not be able to accomplish it if it weren't for your kindness. Once again, thank you very much and may you have a bright future 👍

[2017-10-09 06:08] JaveJao commented on #41
Good day, sir! I just want to thank you for helping me in my assignment. I really appreciate you and most especially, PySwarms <3 I really love it! I am happy that I was able to implement PySwarms in a regression problem using MSE as the loss function. I will not be able to accomplish it if it weren't for your kindness. Once again, thank you very much and may you have a bright future 👍

[2017-10-09 06:19] ljvmiranda921 commented on #46
Hi @JaveJao, I'm happy that you were able to implement a neural network using MSE on your own. Congratulations to you as well! 🥇 Hope it piqued your interest more in machine learning and optimization. Glad that I became of help. Goodluck to your studies and I hope that you achieve your dreams. 👍

[2017-10-09 06:19] #46 closed

[2017-10-09 17:15] luisdelatorre012 commented on #8
Assuming that you want to be able to express any problem of the form

min f(x) s.t. g(x) \leq 0, h(x) = 0

your suggestion seems like the right way to do it. I'd separate equality and inequality constraints:

[code]

You could allow only inequality constraints, and require h(x) = 0 to be written as h(x) <= 0, -h(x) <= 0, but this seems unnecessarily complicated for the user.

What other options ar

[2017-10-11 14:24] dhariyalbhaskar opened #47 "GPU Implementation?"
How can I use this package with Keras in optimiser class?
Any thoughts on GPU implementation?

[2017-10-12 13:49] ljvmiranda921 commented on #47
Hi, I've realized you're the same person in Issue #19

As of now, implementing this package on GPU (perhaps via CUDA) is not yet being considered in the Development Roadmap for v.0.2.0 (#5). In all honesty I don't have any experience in CUDA 😞 . If you can help and show us a lead, then perhaps we can add this feature for v.0.3.0.

For your first question, what you can do is take the `update_*` and

[2017-10-13 00:29] dhariyalbhaskar commented on #47
@ljvmiranda921 I have written a GPU PSO code with pyCUDA. I will share with you once you start v.0.3.0.
Thanks.

[2017-10-13 00:29] #47 closed

[2017-10-13 01:22] ljvmiranda921 commented on #47
Awesome! Okay, I will ping you once we've started tackling this feature. Thanks a lot!

[2017-10-19 16:27] SioKCronin commented on #9
Hi @ljvmiranda921 The talk went very well, and people were particularly excited about PySwarms. 🎊

I've carved out time this weekend to do a proper literature review, but was wondering if you had come across this paper:
![image](https://user-images.githubusercontent.com/19956669/31782253-4b7a8134-b4af-11e7-8cec-2df992ee8881.png)

I need to give it a closer read, but I find the transportation conte

[2017-10-20 14:39] ljvmiranda921 commented on #9
Awesome! Glad they liked it, and thanks for including it for your talk and demo! 🍻

No I haven't read this one, will probably spend the weekend filling myself with various MPSO techniques (+ Constrained optimization in #8 ).  It's true, transportation is a good use-case for MPSO, it would be a nice addition in the docs once we've completed this. It would also be nice to provide built-in objective

[2017-10-20 14:55] ljvmiranda921 commented on #8
Hi @luisdelatorre012 , sorry for my very late reply.
Actually I'm also considering a class that holds both objective function and constraints, but it might seem a bit overkill for that (in addition to what you said). Yes, maybe we can start of with that.

I'm just wondering why we need to separate both equality and inequality constraints? Hmmm, I'm not sure if this is generally difficult for other

[2017-10-29 22:32] jazcap53 opened #54 "Fix PEP-8 Violations"
As of 2017-10-28, `flake8` was reporting 397 violations.

A summary of the output of `flake8 --statistics --count pyswarms test` is below:

`6      E125 continuation line with same indent as next logical line`
`3      E127 continuation line over-indented for visual indent`
`46    E128 continuation line under-indented for visual indent`
`1      E202 whitespace before ')'  `
`4      E211 whitespace

[2017-10-30 02:52] ljvmiranda921 commented on #54
Kinda scary that we incurred these violations. Python's PEP8 is really picky (but for a good reason!) 😕
Keep it up and thank you so much,@jazcap53 !

[2017-10-30 03:18] ljvmiranda921 opened #56 "More explicit documentation"
- [x] Clarify the statement of need, explain what a "high-level interface" is in README.rst, ReadTheDocs, and Paper.md
- [x] I think it would be better to explicitly acknowledge the v.0.1.7 committers aside from the README.rst, and their respective Issues and PRs in the Changelog. And if possible, in the Paper.md

[2017-10-30 03:20] ljvmiranda921 commented on #56
Reference: openjournals/joss-reviews#433

[2017-10-30 04:09] jazcap53 commented on #54
My pleasure! Glad to make myself useful!

On Sun, Oct 29, 2017 at 10:52 PM, Lj Miranda <notifications@github.com>
wrote:

[2017-11-01 15:26] stsievert commented on #56
#57 adds this sentence:

Is PySwarms composed of classes or functions? Here's a suggestion

I'm sure this needs more edits.

[2017-11-01 15:45] ljvmiranda921 commented on #56
Hi @stsievert , I like your suggestion. Do you mean that I change

Into this?

Just a small edit for flow, how about something like [...?]:

I just modified "PSO optimization", because it might read a little awkward if "PSO optimization" = "particle swarm optimization _optimization_"

Thank you so much for your suggestion and help 👍

[2017-11-01 15:54] stsievert commented on #56
Small wording suggestion: maybe change "high-level interface" to "declarative interface"? Or maybe "high-level declarative interface"?

Yup, looks good!

Yeah, I wondering about that as I was typing.

[2017-11-01 15:55] ljvmiranda921 commented on #56
Awesome! Okay, so it becomes

[2017-11-01 18:18] stsievert commented on #56
This looks good to me!

[2017-11-01 18:19] stsievert commented on #56
Will README.rst also update the docs? I'd like to see an update to the docs too.

[2017-11-02 02:58] #56 closed

[2017-11-02 03:04] ljvmiranda921 commented on #56
Hi @stsievert , I didn't link README.rst with the docs so I edited them separately. Either way, the docs, README, and the Paper has been updated by commit fd00cc8582aeee370325c74b40b05ad313f3113a 😄

[2017-11-02 03:05] #54 closed

[2017-11-02 03:26] ljvmiranda921 commented on #8
I forgot that the general form for constrained optimization has the equality and inequality constraints separated. Pardon me for asking in the previous comment. I guess for now I'd prefer the use of *normal* methods in place of lambda expressions, just to keep with the coherence and "only-one-solution" in Python.

[2017-11-02 04:54] ljvmiranda921 opened #60 "Implement Constrained Objective Functions"
## Context

For the v.0.2.0 release (#5), we're planning to add two new major features, and one of them is constrained optimization via PSO (#8). As with PySwarms, we don't only provide primitives for optimizers, but also built-in objective functions to test various methods (such as in the [single-objective case](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.utils.functions.html#module-py

[2017-11-02 04:55] ljvmiranda921 commented on #60
Hi @taylorSpencer , you might be interested in this 👍

[2017-11-02 19:46] stsievert opened #61 "[DOC] Allow easier access to different doc pages"
Going from two pages on the documentation requires going to an intermediate page. For example, going from [discrete.binary] to [single.global_best module] requires two clicks.

On the discrete.binary page, I see no link to single.global_best. That's illustrated by the figures below:

| discrete.binary | single.global_best |
| :--:|:---:|
| <img width="299" alt="screen shot 2017-11-02 at 2 43 31 pm

[2017-11-02 19:47] stsievert commented on #61
I think this could be resolved by calling "API Documentation" a section (not a subsection)

[2017-11-03 17:12] ljvmiranda921 commented on #61
Hi @stsievert , sorry I just saw this now. Thank you for the feedback and I’ll work on this right away.

[2017-11-07 03:50] bishwascg commented on #60
Hi Miranda!
I would like to work on this

[2017-11-08 03:08] ljvmiranda921 commented on #61
Hi @stsievert ,

I accomplished moving the **API Documentation** subsection in its own section, which I think is a really good suggestion, but the problem

still persists. It turns out that one really has to click the specific package (`pyswarms.single` or `pyswarms.discrete`) to access the modules inside of it.

I'm thinking of removing the upper-level hierarchy (`pyswarms.single`, `pyswarms.disc

[2017-11-08 03:10] ljvmiranda921 commented on #60
Since @taylorSpencer hasn't replied here for more than 3 days, I'll give this one to @bishwascg .

Hi @bishwascg ! Awesome! Okay, just ping me if you ran into any problems/questions!

[2017-11-08 13:49] stsievert commented on #61
A JS solution feels like a hack, and it looks like reduced the number of clicks required to navigate (ie, going from optimizers to utilizes looks easier).

[2017-11-08 16:04] ljvmiranda921 commented on #61
Hi @stsievert ,

Well I feel the same way. I think it's part of Sphinx that the dropdown only appears depending on the page you are in.

Another way would be to remove the package hierarchy altogether (`single`, `discrete`), so as to expose the modules inside (`global_best`, `local_best`, `discrete`)&mdash; but I believe it's better to maintain the current structure, so the problem domains are muc

[2017-11-08 16:16] stsievert commented on #61
I think the hierarchy should stay, it sounds like it adds some useful information.

Then this issue is addressed. I’m comfortable closing it.

[2017-11-08 16:16] #61 closed

[2017-11-08 16:25] ljvmiranda921 commented on #61
Thanks a lot, @stsievert !

Merged #64

[2017-11-13 09:13] bishwascg commented on #60
@ljvmiranda921 what should the behavior be when the constraints are not satisfied?

[2017-11-13 13:59] ljvmiranda921 commented on #60
Hi @bishwascg , do you mean no solution was found? If that's the case, just print that no solutions were found via `logger.info` 👍

[2017-11-13 18:58] bishwascg commented on #60
@ljvmiranda921 Just to clarify, as an example, if I have the Rosenbrock function constrained to a disk then the constraint is $X^2+Y^2 < 2$. So, if the constraint is not satisfied, i should print that no solutions were found. Am I right?

[2017-11-13 22:07] ljvmiranda921 commented on #60
Oops, I apologize for my confusion. I've been thinking of the constrained optimizer 😕

Yes, you're correct, please raise a `ValueError` instead 👍

[2017-11-17 13:13] bishwascg commented on #60
Hey @ljvmiranda921 ... my end sem exams are starting from Monday so I'll resume work after a week

[2017-11-17 13:36] ljvmiranda921 commented on #60
Sure! Take your time and goodluck with your exams!

On Fri, 17 Nov 2017 at 10:13 PM Bishwas C Gupta <notifications@github.com>
wrote:

--
Lester James V. Miranda
BS Electronics and Communications Engineering,
Minor in Philosophy (Class of 2016)
Ateneo de Manila University
lester.miranda@ <lester.miranda@obf.ateneo.edu>*o
<http://toki.waseda.jp>bf.ateneo.edu <http://bf.ateneo.edu>*

[2017-11-30 08:03] ljvmiranda921 commented on #60
![](https://github.trello.services/images/mini-trello-icon.png) [Implement constrained optimization in PySwarms](https://trello.com/c/nnmuOnBb/9-implement-constrained-optimization-in-pyswarms)

[2017-12-05 05:43] ljvmiranda921 commented on #47
Hmmm, I just realized that maybe I can leverage Pytorch (as a substitute to numpy) to take advantage of GPU computations. This is just an idea in the clouds but I'll cook something up this winter vacation.

[2017-12-05 13:01] bishwascg commented on #60
Hi @ljvmiranda921, the link above is not opening

Also, the objective functions have been implemented. I'm just reading up on the unittest package

[2017-12-07 03:02] ljvmiranda921 commented on #60
Hi @bishwascg ,
Yup, sorry, it's my kinda personal trello board that's why it's on private 👍 I'm currently working on constrained PSO and check how well it will interface with the objective functions you're doing.

Hmmm, the constraints are often defined by the problem already, we just need to write them as a method, and have them returned by `ineq_const`. Usually we define all these constraints a

[2018-01-10 12:40] ljvmiranda921 opened #70 "More explicit documentation in paper.md"
Reference: openjournals/joss-reviews#433

[2018-01-10 17:18] #70 closed

[2018-01-23 12:47] shakeel608 opened #75 "How can we implement Multi layered PSO"
* PySwarms version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2018-01-24 01:31] ljvmiranda921 commented on #75
Hi, I'm sorry I'm not familiar with Multilayer PSO, do you mean a multi-layer neural network optimized via PSO? Or a different PSO topology? A link to a relevant paper may be enough :+1:  Thanks a lot!

[2018-01-24 05:10] shakeel608 commented on #75
You can Check the paper link below.
I am done with basic implementation of PSO but I am confused how shoul I implement the layers in the proposed algorithm
https://www.sciencedirect.com/science/article/pii/S0020025514002564
Thanks in anticipation

[2018-01-25 09:42] shakeel608 commented on #75
Please find the paper in the attachment

On Wed, Jan 24, 2018 at 4:31 AM, Lj Miranda <notifications@github.com>
wrote:

--
*Kind Regards,*
*Shakeel Ahmad Sheikh*

[2018-01-28 10:45] ljvmiranda921 commented on #75
Sorry for the late reply, currently travelling. I’ll get back to this right away 👍

[2018-02-02 03:23] ljvmiranda921 commented on #75
Hi @shakeel608 , as of now we have no current implementation of a multi-layer structure in PSO. But here's how I am planning to solve this:

1. I suggest you create a class that inherits from `SwarmBase` so you can get access to most attributes. This class creates a large swarm that is described by the attribute `self.pos` with size `(n_particles, dims)`.
2. From this, you can try to partition thi

[2018-02-02 16:08] shakeel608 commented on #75
Greetings,
I am facing the problem in order to implement the layers.How can I do that,
ı need to create 4 layered PSO.

On 02-Feb-2018 6:23 AM, "Lj Miranda" <notifications@github.com> wrote:

[2018-02-17 19:32] parkerduckworth commented on #60
Is this issue still ongoing/available?

[2018-02-18 01:55] ljvmiranda921 commented on #60
Hi, this is still ongoing but may have been stale. Any updates on this @bishwascg ?

[2018-04-05 07:31] mamadyonline opened #91 "Is there a way as of now to give a guess to PSO optimize ?"

[2018-04-05 13:56] ljvmiranda921 commented on #91
Hi, I'm sorry I cannot catch what you are trying to ask. Would you mind to give an example?

[2018-04-05 14:11] mamadyonline commented on #91
Thanks for your reply.
Actually, you generate the swarm using only the information based on the bounds, if they are provided you set accordingly the low and high of the uniform distribution, else they are left to default.
Sometimes one might want to give an initial point to use to generate the swarm. Like in the optimize package of scipy you can provide a guess.
I hope it is clear now.

[2018-04-05 14:48] ljvmiranda921 commented on #91
Hi @mamadyonline ,

Unfortunately it's not implemented yet. Although it's a good feature to explicitly have.

**A hacky method:**
Normally, when the swarm is initialized, it goes to `self.pos`. What you can probably do is explicitly assign your initial positions to `self.pos` *after* initializing a swarm class and *before* calling the `optimize()` method.

[code]

You can confirm this when you run

[2018-04-05 15:32] mamadyonline commented on #91
Thank you for the reply @ljvmiranda921

I think the implementation is straightforward. One way is the user provides an array of dim(dimensions) and you just have to multiply that by the uniform distribution when setting the self.pos.

Another feature is the possibility to set manually the tolerance on the cost function between two iterations. Say you name it ftol, one might want to test the tolera

[2018-04-05 16:26] ljvmiranda921 commented on #91
Currently there’s no implementation yet in this version, although I’ll take
note of that feature request :)

On Fri, 6 Apr 2018 at 00:33 Mamady <notifications@github.com> wrote:

--
Lester James V. Miranda
BS Electronics and Communications Engineering,
Minor in Philosophy (Class of 2016)
Ateneo de Manila University
lester.miranda@ <lester.miranda@obf.ateneo.edu>*o
<http://toki.waseda.jp>bf.ateneo.

[2018-04-05 17:02] mamadyonline commented on #91
Thank you. I think it is quite useful. For example in comparing it with other methods you might want to put them on equal footing like having the same number of maximum iteration and the same ftol.
I think this also is straighforward you just have to compare the absolute value of the difference between the best_cost found in the previous iterations and the minimum of the personal best cost evaluat

[2018-04-05 17:08] ljvmiranda921 commented on #91
Unfortunately, I am not sure when I can release a version with the features
you requested.

I’ve been meaning to update pyswarms for a long time but research work
caught up so fast. Really sorry.

If these features are straightforward, as you’ve mentioned, I would
appreciate a pull request. :) We can work it out and build a next release
together.

On Fri, 6 Apr 2018 at 02:02 Mamady <notifications@

[2018-04-05 17:19] mamadyonline commented on #91
That seems like a good plan. I am forking right now.

I may need some information though on how to test new features.

Thank you

[2018-04-06 15:41] mamadyonline opened #94 "rosenbrock_func does not behave in the same manner like the other utilitiy functions"
why does the rosenbrock_func not behave in the same way as the others, especially in the return output ?
 for example calling the utility functions on this array
[code]
the rosenbrock_func outputs an array of shape (14,) whilst others output an array of shape (7,) which should be the normal behavior. This raises an exception in the optimize method when applying the mask to update  the positions.

[2018-04-11 04:49] ljvmiranda921 commented on #94
Oops, it's a bug. Are you interested to send a PR for this?
There was a problem with indexing and I forgot to sum things up. Top of the head idea:

[code]

I am wondering why this wasn't detected by our tests... I'll check this further

[2018-04-11 07:31] mamadyonline commented on #94
Ok. I will submit a PR for it.

[2018-04-12 05:36] #91 closed

[2018-04-13 23:21] mamadyonline opened #97 "Improve the tolerance on the evaluation of the objective function"
The actual version of the tolerance feature is a basic one where we only account for the tolerance on the objective function for the best position found.
It would be better to take into account the relative tolerance as in how good the new solution found performs compared to the previous.
The idea is to implement something in the same idea of the function tolerance of Matlab found [here](https://w

[2018-04-14 13:30] #94 closed

[2018-04-15 07:51] #97 closed

[2018-04-15 07:54] ljvmiranda921 commented on #60
This issue has been stale. I'll close this for a while and work on this on my own. Thanks for all your help and input!

[2018-04-15 07:54] #60 closed

[2018-04-15 07:56] ljvmiranda921 commented on #9
Hi, @SioKCronin , I'll close this one for a while. I'll just wait for any developments on your own project and I'll try to work on this on my own. Hopefully we can share some notes soon! Thanks for this contribution :+1:

[2018-04-15 07:57] ljvmiranda921 commented on #8
I will just open this up again once we have a slew of activity happening in this issue. Thank you for all your input, @luisdelatorre012 !

[2018-04-15 07:57] #8 closed

[2018-04-15 07:57] #5 closed

[2018-04-15 07:59] ljvmiranda921 opened #101 "Port all tests into pytest"
It might be better to re-structure unit tests via pytest. I enjoyed their parametric testing, and may be useful when expanding our feature set.

[2018-04-15 08:03] ljvmiranda921 opened #102 "Prepare for new release (v.0.1.9)"
Thanks to @mamadyonline , we have expanded our feature-set that includes:
- Set tolerance to decide when to break iteration
- Set initial position if the user wants to; and
- Fix for rosenbrock function.

I will try to draft release notes next week so we can go to v0.1.9 by the end of the month.

Things to do:

- [x] Update README.md to include new contributors
- [x] Update documentation
- [x] Fix

[2018-04-20 10:24] ljvmiranda921 commented on #102
No need for altmetric.

[2018-04-20 11:02] #102 closed

[2018-05-02 03:33] ibell opened #107 "Use Ipython shells to run examples in docs"
Are you interested in converting the docs on RTD to use IPython shells rather than hard-coded code snippets?  I like the Ipython code blocks because they are copy-pastable by other users.  For instance: http://www.coolprop.org/coolprop/HighLevelAPI.html#propssi-function .  The IPython code is run at documentation build time.  I know how to get it working on RTD as well.  It's pretty slick overall.

[2018-05-02 03:48] ibell opened #108 "Crash on custom objective function"
* PySwarms version: head
* Python version: 3.6
* Operating System: linux

### Description

Tried to optimize a harder function than the sphere, which is basically trivial.  The sphere function, with all else held constant, works fine.

### What I Did

[code]
yields
[code]

[2018-05-03 03:10] ljvmiranda921 commented on #108
Hi @ibell , let me get to this during the weekend, currently traveling so I can't  access my work laptop

[2018-05-03 03:31] ibell commented on #108
Actually, the bug was/is in my understanding.  I didn't realize that the inputs to the objective functions should be vector inputs (all inputs are evaluated in parallel).  Maybe that just needs to be clarified in the docs.  I think in the docs it makes more sense to use a hard-coded function so you can see what is going on rather than using a baked in function.

[2018-05-03 03:39] ljvmiranda921 commented on #108
Hi @ibell , understood. Yes you are correct, the documentation still leaves a lot for improvement and it would be nice to do these upgrades. Just in case, would you also like to include this 'clarification' in your Pull Request?

[2018-05-03 03:39] ljvmiranda921 commented on #108
Reference #107

[2018-05-07 07:13] #108 closed

[2018-05-09 22:14] justinlent opened #109 "TypeError: 'bool' object is not subscriptable"
* PySwarms version:  0.19
* Python version:  3.6
* Operating System:  Mac OS

### Description

Describe what you were trying to get done.
Run a GlobalBestOptimization

Tell us what happened, what went wrong, and what you expected to happen.
I have a fairly complex objective function, but I can get it to run and return the expected values when running outside of pyswarms.  but when I kick off an op

[2018-05-09 22:35] ahcantao opened #110 "Returning an empty subset as the best subset for feature selection"
* PySwarms version: 0.1.9
* Python version: 3.5.4
* Operating System: windows 10

### Description

The code is returning an empty subset of attributes as the best subset selection. It is even returning the cost of the subset with only zeros. Even with a minor change on the exemple code it is possible to replicate this output.

There is a checking condition on the code to avoid empty subsets but it

[2018-05-11 01:31] ljvmiranda921 commented on #109
Hi @justinlent , sorry for the late reply.

I wonder what shape your custom objective function returns. As of now, custom functions should
always return a vector of shape `(n_particles, )` where each element contains the fitness of each particle.

In order to interface properly with pyswarms, the objective function should:
1. Be able to take a matrix of shape `(n_particles, n_dimensions)`
2. Be ab

[2018-05-11 01:35] ljvmiranda921 commented on #110
Hi @ahcantao , sorry for the late reply.

Let me check on this real quick this weekend. Thanks for reporting!

[2018-05-12 01:01] justinlent commented on #109
Thanks! This appears to have fixed it for me!

[2018-05-12 01:03] ljvmiranda921 commented on #109
Glad it helped! Goodluck! :+1:

[2018-05-12 01:03] #109 closed

[2018-05-13 02:35] ljvmiranda921 opened #111 "Write a backend module"
I think it's better to decompose some methods in the swarm loop into its own backend module.
Makes it easier for us to test what's happening inside.

Deps: #101
Port all tests to pytest first before doing this.

- [x] Accomplish Issue #101
- [x] Write a backend module
- [x] Add tests to backend module
- Update documentation about the module (make new Issue on this)

[2018-05-16 05:27] ljvmiranda921 opened #113 "Drop Python 2.7 Support for 0.2.0"
For v.0.2.0, I am planning to introduce some backend API changes:
- Port all tests (from unittest) into pytest
- Add a backend module to handle lower level implementations (this module will be imported by GlobalBestPSO and other PSOs).

Because of this, I might drop Python 2.X support to accommodate some of these backend changes (such as using pytest). And because Python itself is already in its 2

[2018-05-16 05:58] ahcantao commented on #110
@ljvmiranda921 Check if it is possible to avoid the creation of a subset containing only zeros. If this is possible, as a future update, you can add an extra parameter asking for the minimum quantity of 1's in the subset. Ex: minOnes = 3. Will return a subset containing 3 or more attributes out of the full set ([1 1 1 0 0 0 0 0 0 0].

[2018-05-18 07:41] #101 closed

[2018-05-21 11:55] ljvmiranda921 commented on #110
Thanks for your input, I'm currently in the process of updating PySwarms' backend (in `development` branch, not in `master`). I'd probably incorporate your idea of seeing a minimum number of attributes from the full set. Let's see where it goes.

[2018-05-31 15:09] szhan opened #119 "User-provided initial positions"
**Is your feature request related to a problem? Please describe.**
I would like to specify the starting positions of every particle in a swarm.

**Describe the solution you'd like**
I see that init_pos can be specified, but it only allows the user to specify a starting position for the swarm's center. Looking at the code of pyswarms.base.base_single, it seems that reset() needs to be extended or m

[2018-06-01 05:14] ljvmiranda921 commented on #119
Hi @szhan , currently there is no explicit implementation for that, but we're currently developing a feature for this in #115 and #117 . The only workaround we can have here is to initialize the swarm as usual, then set the `pos` attribute into the positions `my_own_initial_pos` you need (making sure that the shape of `my_own_init_pos` is the same as `pos`):

[code]

I realized that this functiona

[2018-06-02 03:58] szhan commented on #119
Thanks, @ljvmiranda921! Also, I would like to help with the development of PySwarms, as I find it quite useful in my work.

[2018-06-03 06:45] szhan commented on #119
I have tried the workaround you suggested, but I am encountering an error that I cannot make sense of. I wrote a wrapper to feed GlobalBestPSO() some initial positions to solve some BBOB function.

When trying to have it solve the Rastrigin function, I got the following error:

The initial positions are clearly within bounds. I also checked the source code, and even tried the condition that checks

[2018-06-03 07:34] szhan commented on #9
@ljvmiranda921, are you planning to implement MPSO or CPSO anytime soon?

[2018-06-03 07:43] ljvmiranda921 commented on #119
Okay, that's weird. Hmmm, let me check on this later. Thanks for reporting this @szhan !
You mentioned that you want to help in development. Currently, the pipeline is on rewriting the backend of PySwarms for better control. You can check this on PR #115  and #117 . Unfortunately I am still writing my thesis that's why it's a bit stale. Not yet sure which part you can dive-in, currently I'm impele

[2018-06-03 07:49] ljvmiranda921 commented on #9
Hi, yes it's still part of the pipeline but right now I just want to rewrite the backend so that users can have more control in creating their swarms. That is, you can still use GlobalBestPSO/LocalBestPSO, but if you wish to write your own optimization loop, you can just use PySwarms's native methods.

As for MPSO, I think @SioKCronin is doing a great job in her https://github.com/SioKCronin/Swarm

[2018-06-03 17:18] EriqLaplus commented on #9
@szhan Yeah. It's on my radar to assist in implementing CPSO once the backend is improved. I'm not sure when exactly we will get to CPSO, but I would like to have some CPSO stuff working by the 2018-2019 academic year.

[2018-06-04 18:52] SioKCronin commented on #9
I'm planning to have CPSO implemented in my first batch of benchmarks later this month, and will be revisiting MPSO later this summer (I got distracted by my desire to create a scoreboard for single objective optimizers -- I was getting a bit lost in the weeds with all the variants, and pseudo-variants).

I'm doing a big clean-up on this week, but if you want to start a [CPSO implementation](https

[2018-06-05 21:17] szhan commented on #119
Thanks, @ljvmiranda921 ! I am actually quite interested in topology selection. So, I think I will help with implementing additional topologies first.

[2018-06-06 11:01] ljvmiranda921 commented on #119
Awesome, let me update you once I need help. Just need to clean up what I'm doing first then I'll ping you right away!

[2018-06-07 06:32] #113 closed

[2018-06-07 06:36] ljvmiranda921 commented on #110
Note to self: make another PR to test this. This should be solved using the new backend implementation but further testing is needed.

[2018-06-07 06:47] #111 closed

[2018-06-07 06:49] #119 closed

[2018-06-07 06:51] ljvmiranda921 commented on #107
Hey @ibell , any updates on this?

If you wish to continue with this PR, please do so in the `development` branch (not in `master`). We're planning to release v.0.2.0 (hopefully soon) and this means we'll update the docs as we go. :+1:

[2018-06-07 06:58] ljvmiranda921 opened #121 "Update documentation in Development Branch"
## Description

A lot of things have happened when we added the backend module in PR #115 . The API is still the same, but we changed the backend. It would be nice if we can add some documentation in ReadTheDocs for this backend.

In addition, it would also be nice to add new notebook examples on how to use this backend to develop your own swarm algorithms without using the pre-made `GlobalBestPSO

[2018-06-07 17:21] szhan opened #123 "Bound checking in rastrigin_func()"
I posted this in a previous issue that is now closed.

When trying to have the global-best PSO solve the Rastrigin function, I got the following error:

The initial positions are clearly within bounds. I also checked the source code, and even tried the condition that checks for the bounds. All seems to be in order. What makes it even more puzzling is that it works perfectly fine for the Ackley fun

[2018-06-07 20:01] szhan commented on #123
Silly me. This is happening because I did not explicitly set the bounds for every dimension. So, the PSO can go out of bounds.

[2018-06-07 20:01] #123 closed

[2018-06-09 09:41] ljvmiranda921 commented on #121
So it's actually easy to build documentation for different branches, next, change the
README in `development` so that the documentation badge to the dev branch.

Perhaps the same goes for master?

[2018-06-10 11:17] #121 closed

[2018-06-11 11:21] ljvmiranda921 opened #129 "Implement new Topologies"
There are some topologies that we can implement in `pyswarms.backend`:

- [x] Ring (`static`): currently, our Ring topology is dynamic. It looks for the nearest neighbors in the current iteration and there is some neighbor overlap. In a static-ring topology, the neighbors are locked down for each particle. There is still overlap, but it doesn't change every iteration. **low-hanging fruit**
- [x] V

[2018-06-11 11:23] ljvmiranda921 commented on #129
Wanna try one, @szhan?

[2018-06-12 02:26] ljvmiranda921 opened #130 "Add plotting module"
I think it is better to decouple visualization from optimization.

Before, we have a `PlotEnviroment` class that takes an optimizer instance, runs
the optimization, and plots whatever the user requires (cost history, animations, etc.).

Some problems I see:
- What if I want to experiment with my swarm first before visualization?
- What if optimization takes a long time? Does it mean that the `Plot

[2018-06-12 03:45] szhan commented on #129
Yes! I am just finishing up a PR on another repo. I will get to this next!

P.S. The new release looks awesome! Great job!

[2018-06-14 07:18] #130 closed

[2018-06-16 06:41] ljvmiranda921 opened #136 "Make a Jupyter Notebook tutorial for Inverse Kinematics and PSO"
The idea is simple, implement a Jupyter notebook tutorial for inverse kinematics using PySwarms. I already have a tutorial (using natively-written PSO) in [this blog](https://ljvmiranda921.github.io/notebook/2017/02/04/inverse-kinematics-pso/). It might be nice to have a PySwarms equivalent. You just need to follow that tutorial, and swap everything in with PySwarms.

A good template can be found

[2018-06-18 10:47] ljvmiranda921 opened #139 "Add pre-commit hooks and formatting on code"
**Is your feature request related to a problem? Please describe.**
We can streamline code review if the formatting is done automatically, and stylistic problems (e.g., flake8) are done on the contributor's side. I don't want to sound very nitpicky during code reviews whenever I point out formatting mistakes. So let's automate that part.

**Describe the solution you'd like**
- Add pre-commit hooks,

[2018-06-18 11:18] #139 closed

[2018-06-20 12:41] ljvmiranda921 commented on #136
Hey @whzup ! Welcome!

No one's working on this and sure this one's yours :+1:  Be sure to fork the `development` branch and simply start the notebook inside the `examples/` directory :smile:

If you have any questions (the github process in general, on inverse kinematics, etc.), do not hesitate to ping us!

[2018-06-21 11:29] whzup commented on #136
Thanks a lot!
I have a question regarding the function that is to be optimized. In the [gist](https://gist.github.com/ljvmiranda921/7d8c48da0aa7565f0b3c01d7c951c5e9) to your blog post on row 43 of roboticArm.py you use `np.array([Etip[0,3],Etip[1,3],Etip[2,3]])` as the position function, why is it that the position is exactly the third column of the matrix? Also, I'm guessing that `Etip` is the tr

[2018-06-21 11:56] ljvmiranda921 commented on #136
Hi @whzup !

Awesome questions! Made me review my robotics basics again. :laughing:  So, for a Denavit Hartenberg (D-H) transformation matrix, the values in the fourth column (we start indexing by 0) describes the [translation from axis x to axis y (Check the last sentence in this link)](https://en.wikipedia.org/wiki/Denavit%E2%80%93Hartenberg_parameters#Denavit%E2%80%93Hartenberg_matrix).  That's

[2018-06-21 17:00] whzup commented on #136
Thanks for the fast response. Really interesting to learn some things about robots on the fly 😋.
I have some other issues though:

1. The `pyswarms.singleGlobalBestPSO` class creates an array of length `n_particles` with each element being an array of the six parameters. I think this deliberate but it kind of complicates the function for the transformation matrix. I more or less copied your versio

[2018-06-21 17:22] whzup commented on #129
FYI: Found [this one](http://tracer.uc3m.es/tws/pso/neighborhood.html) when googling around a bit. According to that page, the pyramid and Von Neumann topologies are the best ones. There is also this [WK-recursive pyramid topology](https://ieeexplore.ieee.org/document/1575843/?part=1) which seems like bleeding edge technology (sadly I have no access to the paper).

[2018-06-22 10:43] ljvmiranda921 commented on #129
Woops just read this one.

Sure go ahead and pick one, @szhan ! I'm still finding ways on how to best represent the data structures for other topologies so this will be a learning experience for me too.

Awesome, @whzup ! Yes, I think pyramid and Von Neumann topologies are actually good. Really hoping we can implement one (or both) to release v.0.3.0. Thanks for pointing that one out!
I'll check t

[2018-06-22 12:56] whzup commented on #136
Thanks for the answers! I think I've got a solid first version of the tutorial that can be added to the repo. I am not quite sure how to create a pull request without destroying something 😋. As you suggested I forked the development branch (using Github Desktop) and worked in there.

[2018-06-22 14:08] bradahoward commented on #136
Being able to parameterize the objective function is really useful to me.  I got this to work using `**kwargs` and was about ready to submit a PR when i saw this discussion.  Do you guys mind if submit one?

[2018-06-23 02:38] ljvmiranda921 commented on #136
Hi @bradahoward ! Yes please feel free to open a PR. But I'd recommend you to open an Issue first so can keep a history of all things happening in this project :smile:

While you're at it, I'm wondering if it's better to use `*args` than `**kwargs`. Would you mind investigating that as well and check which one works in a usability standpoint?

[2018-06-23 08:36] whzup commented on #129
Hey guys! I have implemented a class for a pyramid topology using the Delaunay triangulation from the `scipy` library. I'm on testing but I have some issues with the `pytest` tests. Since I have no experience with that I thought one of you guys might be able to help me.
I copied the test script for the star topology and replaced the Star() objects with Pyramid() objects. When I run the tests now t

[2018-06-23 08:49] ljvmiranda921 commented on #129
Hey thanks @whzup ! Hmmm, that sounds weird. Would you mind opening a PR so we can see the code itself? My guess is that the invisible argument is coming from `pytest`'s test parameters (or maybe in conftest).

Just make sure that the branch you are working on is different from the inverse kinematics branch before (so we won't have any merge conflicts later on). :+1: I'll look at this later tonigh

[2018-06-23 20:35] szhan commented on #129
Awesome! Since @whzup has already implemented the pyramid topology, I will take a stab at the Von Neumann topology.

[2018-06-23 21:58] SioKCronin commented on #129
Sorry to be slow on response. @szhan, I'm happy to help if you need anything with the Von Neumann topology.

[2018-06-25 10:38] #136 closed

[2018-06-25 14:52] bradahoward opened #143 "Functionality to pass arguments to objective function"
**Parameterizing Objective Functions**
The ability to send parameters into the objective function will provide much more applicability for the project.

**Solution**
Use `*args` and/or `**kwargs` to enable the passing arguments into the objective function.

[2018-06-26 04:32] ljvmiranda921 commented on #143
Hey, awesome @bradahoward , let me check this on Thursday :+1:

[2018-06-26 17:53] whzup opened #148 "Implement a GeneralOptimizer class for new topologies"
As proposed in #147 we could implement a new GeneralOptimizer class in addition to the two existing GlobalBest and LocalBest classes. In this class, it will then be possible to select a custom topology for the optimization. We could also include a foundation for multilayer PSO (as proposed in #75).

The only issue I see is that a GeneralOptimizer might make the GlobalBest or LocalBest classes obso

[2018-06-27 05:31] ljvmiranda921 commented on #148
I'd love a documentation for this where we just animate swarm trajectories using different topologies as they traverse through a fairly difficult objective function :100:

[2018-06-28 15:39] #143 closed

[2018-06-29 13:08] jolayfield opened #150 "Boundary Conditions"
High-dimensional searches with the current bounds conditions result in a lot of lost optimization steps where many particles do not move.

Multiple solutions exist to deal with these issues. We want to implement reflective boundary conditions that will keep the particle within the bounds in a way that still samples the whole parameter space.

[2018-06-30 00:55] ljvmiranda921 commented on #150
Ok, interesting. I’ve been reading about reflective boundary conditions and it seems a nice feature to have. Looking forward to your pull request! :) Don’t hesitate to ask questions if you’re stuck :)

[2018-06-30 10:13] whzup commented on #75
I thought about this problem a bit and I found that a tree data structure would be a fitting solution for it. Trees are recursive and there are well-developed algorithms for traversing. With the idea of swarms inside of swarms, this screams "recursive" to me. So my idea is to create a tree with the root being the highest layer and the leaves being just particles. Every layer in between is filled w

[2018-06-30 12:56] whzup commented on #148
Hey @ljvmiranda921, I have created a `GeneralOptimizer` class with a topology parameter. At the moment it's actually more or less a copy of the `GlobalBest` class with custom topology choice. I think we can use this class for future features that we don't want to include in either the `GlobalBest` or `LocalBest` class. I'm going to add an exception for the topology parameter in case one does not i

[2018-06-30 13:16] ljvmiranda921 commented on #75
Hmm, this seems to be an undertaking. You willing to take this on, @whzup ?

For the additional structures, perhaps you can add a set of functions inside the `backend ` module. It may be nice if we can replicate the original paper's results so that we're sure that our implementation is correct. I'd give this a go, what do you think about this @SioKCronin ?

[2018-06-30 13:23] ljvmiranda921 commented on #148
Hi @whzup , thanks for stepping up, I really appreciate your enthusiasm. To answer your questions first:

1. Yup, use the development branch's `plotters` module. It can plot 2-D swarms via contour and surface plots.
2. I did this one manually, you can check the Jupyter notebook example in visualization (development branch) and I called some `plt.savefig` functions to render a GIF animation.
3. You

[2018-06-30 14:04] whzup commented on #148
Regarding your answer No.3: No, I actually meant the dynamic topology with the two additional options for the distance and the number of neighbours, I'll include this one 😄.

Regarding the error:
If I use it as it is:
[code]
The error occurs because `idx` is an array of floats. But if I change the array data type to *int*:
[code]
This error occurs because the array is not filled with arrays of equ

[2018-06-30 14:17] ljvmiranda921 commented on #148
I’ll check the Pyramid one and see if we can fix this.

Sure, I suggest (if you are fine) to play with the parameters (what if it’s
highly social or highly cognitive?). The same with LocalBestPSO.

For the documentation in read the docs, a GIF file is good. In the actual
Jupyter notebook, just render it as it is similar to the one we’ve been
doing in visualization.ipynb
On Sat, 30 Jun 2018 at 23:0

[2018-07-02 07:41] whzup commented on #148
Ok, I resolved the problem with the pyramid topology😄. The `idx` array actually had arrays of type `int32` in it! The problem was that the `idx` array itself had the data type `object` that was the first error I mentioned above. I worked around that by using a list comprehension. I did the same for the `best_neighbor` because the indexing there was actually for a 2D-array:

[code]

All the tests f

[2018-07-02 07:50] whzup commented on #75
I sure am 😃. Although, I think we can spare this one for after the v0.3.0 release. It would just add a ton of documentation and there are a lot of issues with a v0.3.0 badge we should work them through first.
Do you know if there is a way to have a look into the code they used for the paper to make sure the implementation is right? Or maybe we can just contact the authors?

[2018-07-02 11:11] whzup commented on #107
Hey @ibell, do you need some help? I'd be happy to lend a hand 😃.

[2018-07-02 12:30] ljvmiranda921 commented on #75
I agree with you, @whzup . Maybe we can do this after v.0.3.0. Hmmm, let me download the document once I'm in our library and I'll get back to you on that.

[2018-07-02 12:32] ljvmiranda921 commented on #148
Wow, you're on a roll. Sure, open up a PR and let's discuss over there.
I agree with you on this. I will open up a first timers issue for this documentation. Let's finish the GeneralOptimizer first and after merging, we can do the latter. :+1:

[2018-07-02 20:22] whzup commented on #129
Hey, guys! I was looking around on the internet for some interesting topologies and I found [this paper](http://pubs.cs.uct.ac.za/archive/00000477/01/ParticleSwarm.pdf). It actually claims that a Von Neumann topology is nothing more than a static ring topology with 4 neighbours 🙈. So I guess we can cross this one out. Furthermore, I found [this paper](https://digitalcommons.bowdoin.edu/cgi/viewcon

[2018-07-02 20:59] jolayfield commented on #150
Thanks.  I would like to ask a few questions:

1) Is it possible/advisable for us to add a third option to the tuple for bounds so that it would look like  (lb, up, bound_type)?  Can we make these kinds of decisions as they seem best to us or is it better to ask first so that we don't conflict with other ongoing work?

2) I am not exactly sure how to run/make the test suite.  I tried to run the op

[2018-07-03 14:56] whzup commented on #129
Another thing: Currently we only have dynamic approaches for the topologies, except the `Star` topology which just uses all particles as a reference and therefore does not require special treatment. If we want to implement other static topologies, though, we need a way to include the swarm in the topology class so the swarm has fixed neighbours which do **not** have to be computed in every iterati

[2018-07-03 15:08] ljvmiranda921 commented on #129
We can keep the neighbor parameter as an attribute to the Swarm class. It
is flexible given the attrs module.

We initialize the number of particles in the SwarmOptimizer beforehand, by
that stage we can assign which one is a neighbor if which.

‘’’python
t = Ring(static=True)

opt = GeneralOptimizer(n_particles=10, dimensions=2, options=options,
topology=t)
# By this stage we already have the ind

[2018-07-03 15:14] ljvmiranda921 commented on #129
The reason why we want to separate the Swarm and the Topology is because we
want to delineate the particles and how they are connected.

The Swarm holds the data while the Topology holds the interactions among
these datapoints (particles).

The latter governs how everything behaves, etc. And then, we have a
SwarmOptimizer that enables this behavior.

On Wed, 4 Jul 2018 at 00:08 Lj Miranda <lester.

[2018-07-03 17:26] tex-downey opened #152 "Applying large bounds results in a non-optimal solution and a Value Error"
**Describe the bug**
If I try to apply a large upper bound to my problem, I no longer get the same optimal solution I was getting. I would think that the bounds would only come into play if the particle reaches the bound and therefore should not affect the solution to much.

Also, if the bounds are large enough PySwarms returns the error "ValueError: operands could not be broadcast together with s

[2018-07-03 20:06] whzup commented on #129
Ok, I see your point. But we still need to pass the topology information to the swarm or vice versa. How about we implement a new method into the topology classes called `assign_neighborhood(swarm)` (not sure if this works, if not there is [Python documentation](https://docs.python.org/3/faq/programming.html#how-do-i-write-a-function-with-output-parameters-call-by-reference) for that). You can pas

[2018-07-03 20:21] whzup commented on #152
It might be helpful to see the whole error message with the reference to the line of code which threw the Value Error 😄.

[2018-07-04 04:15] ljvmiranda921 commented on #129
Hi, @whzup that works and it's closer to how I imagined it. My e-mail replies are a bit confusing (and I realized that I cannot use markdown in e-mails).

Design-wise, I'd prefer to have a few number of methods in the `Topology` class exposed to the user. The behavior of these methods change depending on how the `Topology` is initialized (`static=True`, etc.)

By maintaining a strict set of method

[2018-07-04 07:01] whzup commented on #129
There is one problem if we pass in the swarm as an optional parameter. If you use the `GeneralOptimizer` you'd have to do something like this:
[code]
Which, in my opinion, adds an extra layer of complexity for the user. How about this, we have a `neighbor_idx`(=None by initialization) and a `static` attribute in the topology class. In the `compute_gbest()` method we check if the static parameter i

[2018-07-04 07:18] whzup commented on #107
Thanks for the guideline! I have some questions, though:
* Where do I find the requirements.txt? Should this already exist or can I create it in the `docs` folder? If so how does it have to be written?
* How is this extension called I cannot find any extension for Sphinx that is explicitly for IPyhton🙈?
* And how do I change the code snippets to be lines of an IPython shell instead of a python she

[2018-07-04 07:20] ljvmiranda921 commented on #129
Awesome, that's a good solution, @whzup ! So, the sample use-case will then be (?):

[code]

And then the `neighbor_idx` is generated at first call, then it checks if it's `not None` for every call.

For the cluster (I'm not sure of the correct name, unfortunately), it's just the local best between neighbors. So if we have 6 particles with 2 neighbors:

[code]

We compute for the best position fou

[2018-07-04 07:35] whzup commented on #129
Yes, that would be the sample use-case I guess 👍.

Isn't this almost the same as calculating the best neighbour then?
Do you think of treating the clusters as a kind of "subswarms"?

[2018-07-04 08:35] whzup commented on #148
@ljvmiranda921 I have a question regarding the testing. There are these `conftest.py` files. For the optimizers, there are tests for the histories in it. Is there a way I can access the results of these tests, i.e. the history of every one optimization? They are fixtures so there must be a way to do this, right?

[2018-07-05 02:11] ljvmiranda921 commented on #107
This is nice-to-have and can be moved for another release. Let's just wait for @ibell 's free time. Best of luck!

[2018-07-05 13:51] whzup commented on #152
Thanks for reporting this @tex-downey. I took a look at the problems and I think the first one is the same that is already addressed in #150.

**Problem: Far from the optimum**
First of all, you use 10 particles these 10 particles are then uniformly distributed over the whole space. Let's say we take the bounds in the second example then we'd have a space of 10e22 x 10e22 square units, this result

[2018-07-05 14:09] ljvmiranda921 commented on #152
hi @whzup ,

Gotcha.

Sure. Hmmm, as of now I really see this as an edge-case. Let's try to add a fix on v.0.4.0?

[2018-07-05 14:14] ljvmiranda921 commented on #148
Hi @whzup , which particular fixture are you pointing at? If it returns an `Optimizer` class, then we can simply obtain the values or results via the attribute? (Not sure if we're referring to the same thing though). If none of the current features work, maybe we can create new ones. What are you planning to test and how?

[2018-07-05 14:14] #148 closed

[2018-07-05 14:17] ljvmiranda921 commented on #129
Hmmm...not sure with the best terminology though. Let's just leave that for now. Maybe `best_neighbor` is fine. I'll just get back to this later on. But as a note to self (and others), the idea is to return a vector of shape `(n_neighbors, )`. With each value containing the best fitness for a given cluster.

[2018-07-05 14:23] ljvmiranda921 commented on #110
This should be solved by #145

[2018-07-05 14:23] #110 closed

[2018-07-05 14:32] ljvmiranda921 opened #154 "Documentation fixes"
**Documentation Task-List**

- [x] RST file for Inverse Kinematics
- [x] Add citiation in the `Pyramid` topology to [this paper](http://pubs.cs.uct.ac.za/archive/00000477/01/ParticleSwarm.pdf)
- [x] Use command style in the doc string's "subject line"(PEP257)
- [x] Update documentation and docstrings using http://www.hemingwayapp.com/ (Readability ~Grade 9)
- [x] Merge (file merge, not git merge!

[2018-07-05 14:36] ljvmiranda921 commented on #152
hi @whzup ,

Gotcha.

Sure. This might be an edge-case, although I'm itching to release v.0.3.0 ASAP. Let's add a fix on v.0.4.0?

[2018-07-05 14:42] ljvmiranda921 commented on #152
Hi @tex-downey , thank you for reporting this. Hope we can find a fix on this soon. We have #150  on the works by a contributor and we're hoping that it can help with your problem. They actually mentioned in email that they encountered a problem wrt bounds with very large or very small numbers, so I'm guessing this has a relation to that. Anyway, in addition to @whzup 's comment, what are the opti

[2018-07-05 14:45] ljvmiranda921 commented on #152
Hi @whzup , thanks for replying. Just to answer your queries:

Gotcha. I'll add it on #154. Let's check first if #150 solves this, but I'll take note of this.

Sure. Let's try a precision fix on v.0.4.0

[2018-07-05 16:32] whzup commented on #152
No problem 😋. @ljvmiranda921 what do you think about the proposal of @tex-downey to have a feature to make it possible to only consider positive (or negative) numbers?

[2018-07-05 17:17] whzup opened #156 "Swarm visualization for different topologies"
The goal is to have Jupyter Notebook where different topologies traversing a fairly difficult objective function are visualized. As a reference for how it should look see the [README](https://github.com/ljvmiranda921/pyswarms/blob/master/README.md) or the [visualization example](https://pyswarms.readthedocs.io/en/master/examples/visualization.html#plotting-in-3-d-space). There is also a [discussio

[2018-07-05 18:31] whzup opened #158 "Add more benchmark functions"
Since this library is intended for researchers, I think it would be fitting to have a large range of benchmark functions at hand so one does not have to implement them himself. Good sources for such functions are:

* [Wikipedia](https://en.wikipedia.org/wiki/Test_functions_for_optimization) with a solid collection of benchmark functions and a good overview.
* [Benchmarkfcns](http://benchmarkfcns.x

[2018-07-06 06:51] whzup commented on #154
What do you think about adding [PEP257 conformity](https://www.python.org/dev/peps/pep-0257/), @ljvmiranda921?

[2018-07-06 07:40] whzup commented on #158
Welcome @jayspeidell, I'm glad you're interested!
Sure go ahead! 👍 If you have any questions about the project or the GitHub process don't hesitate to comment on this issue.

[2018-07-06 07:49] ljvmiranda921 commented on #154
I think our [numpydoc convention](https://github.com/numpy/numpydoc) for the docstrings is already good :smile: I find it easier to read and parse. Although I am not sure if we are talking about the same thing. Which parts do we need PEP 257-compliance?

[2018-07-06 07:50] whzup commented on #154
Ok, I see. Just learned about PEP257 and thought we may use it 😄. I was especially wondering about this note:

It's the same as in the commit message subject line. I don't see the point in doing so, both variants seem fine to me but maybe you know why one would do that?

By the way, I try to make this repository more welcoming for first-timers. This has only partly to do with documentation. I foun

[2018-07-06 07:54] ljvmiranda921 commented on #154
Interesting. Okay, I'll add it on the checklist.

Cool! Wanna discuss on gitter first?

[2018-07-06 07:55] ljvmiranda921 commented on #154
Interesting, okay, you can add it on the checklist.

Hmmm... wanna discuss this first on gitter?

[2018-07-06 12:39] ljvmiranda921 commented on #152
Might be related to precision-fix. Still not sure how we can handle `inf`s. Let's do this on v.0.4.0

[2018-07-08 16:52] whzup commented on #129
@szhan if you still want to implement the `VonNeumann` topology: I have the feature for static and dynamic topologies (discussed above) almost ready for PR. If it is accepted you can implement the `VonNeumann` topology by inheriting from the Ring topology. In the constructor of the `VonNeumann` topology, you can use the `Ring` constructor to set it to "static". Then you can override the compute_gb

[2018-07-12 04:51] jayspeidell commented on #158
Hey @whzup! I added several new objective functions, fixed an existing one, and tested the ones that had todo abels. I'm trying to figure out the procedure and etiquette to make a pull requests. I've forked the project and made the edits on a new branch off of the development branch, and I see that there's a "PULL_REQUEST_TEMPLATE.md". Do I edit that document in-place, or save a copy somewhere, an

[2018-07-12 17:01] whzup commented on #158
That's so cool @jayspeidell! 👍 You can make a PR by going into the "Pull request" section in this repository and click on "New pull request". When you do this you can choose which branches you want to compare. Be sure to choose the development branch of this repository and the branch you worked on. There you can also create a PR message, which is what the PULL_REQUEST_TEMPLATE.md is for. You can e

[2018-07-12 17:49] whzup commented on #154
We should run `flake8` once more before release 😄. Don't know if this belongs here, though. I don't know what some things do that `flake8` wants to be changed so I'd rather give this to someone who knows what he's doing there 😆.

[2018-07-14 01:48] jayspeidell commented on #158
And I'm happy to help! I'm learning a lot by doing this.

I just made the pull request and it looks like I failed a couple tests because of one issue:

`TypeError: ("'colormap' must be (<class 'matplotlib.colors.ListedColormap'>, <class 'matplotlib.colors.LinearSegmentedColormap'>) (got [<matplotlib.colors.ListedColormap object at 0x7ff8e5409668>] that is a <class 'list'>).", Attribute(name='color

[2018-07-17 04:34] jayspeidell opened #167 "Fix plotter module"
* PySwarms version: 0.20
* Python version: 3.6
* Operating System: Linux

### Description

1. The designer class in formatters.py is used for 3D graphing, but the default label list attribute only includes two axes. This causes an index out of range error.

2. The delta attribute of the Mesher class in formatters.py is 0.001. This is too detailed and can lead to mesher objects that are large enoug

[2018-07-17 04:40] ljvmiranda921 commented on #167
Conversation can be found in #165

[2018-07-17 04:46] whzup opened #169 "Deprecation warnings by matplotlib"
When running all the tests `matplotlib` return deprecation warnings:

[code]

We should fix this.

[2018-07-17 04:52] ljvmiranda921 commented on #169
Hmmm, I'm clueless on how to fix this...
What should be done? Bump matplotlib version?

[2018-07-17 10:24] whzup commented on #169
Maybe changing the code to collections.abc.Iterator and
collections.abc.MappingView might do the trick.

Lj Miranda <notifications@github.com> schrieb am Di., 17. Juli 2018, 06:52:

[2018-07-17 12:32] ljvmiranda921 commented on #169
I don't remember using `collections.abc.Iterator` nor `collections.abc.MappingView` in my modules. Perhaps the Deprecation warning is not for PySwarms but on the `matplotlib` module itself?
[This](https://github.com/ljvmiranda921/pyswarms/blob/development/tests/utils/plotters/test_plotters.py#L12) maybe the culprit but I really don't know...

Are you running development inside a virtual environmen

[2018-07-17 16:56] whzup commented on #169
Yes, I realized it as well hahaha. I use `pip` and just installed Python 3.7. Also, `matplotlib` might not have updated their packages to fit the new Python standard this might be the reason.

[2018-07-17 17:00] ljvmiranda921 commented on #169
I see. I’ll close this for now :+1: Thanks for the heads up!

[2018-07-17 17:00] #169 closed

[2018-07-17 18:21] whzup opened #170 "Ring topology does not return the best cost"
**Describe the bug**
Running the `LocalBest` optimizer does not return the best cost of the optimization process. If you run the script below the follwing output is given:

[code]

**To Reproduce**
Run the following script:
[code]

The `GlobalBest` class returns the best cost it found while the `LocalBest` class does not.

**Expected behaviour**
The `LocalBest` class should return the best cost it

[2018-07-17 18:22] whzup commented on #170
If there is a nice algorithm to make a path graph of the points this might be an easy solution.

[2018-07-17 18:50] whzup commented on #170
A [pathfinding algorithm](https://docs.scipy.org/doc/scipy-0.16.1/reference/generated/scipy.sparse.csgraph.shortest_path.html) might suffice.

[2018-07-18 02:22] ljvmiranda921 commented on #170
Before we jump into adding a new algorithm in LocalBestPSO, is it fine to double-check our implementation first? Maybe this is where the bug arises.

My suggestion is to check the traditional lbest algorithm, compare it with our implementation, and see if it works.

My guess is that we are failing to assign the personal best as global best on the whole iteration.

Hi @whzup, when does this problem

[2018-07-18 04:36] whzup commented on #170
[test.txt](https://github.com/ljvmiranda921/pyswarms/files/2204421/test.txt)
Did some tests you can find the results in the file above. It looks like the effect can only be observed in the case of 1 neighbour which enforces my hypothesis that it has something to do with the connectivity of the topology. I observed the same thing when I tested the Random topology with a naive approach where I just

[2018-07-18 05:10] ljvmiranda921 commented on #170
Ok understood. How would a shortest-path algorithm solve this?

[2018-07-18 07:02] #167 closed

[2018-07-18 17:18] whzup commented on #170
Hmm, maybe the solution with the shortest-path algorithm isn't what we want. I found something interesting in the test file I made. In the case of `neighbors=1`, the returned best cost is always the first entry in the `pbest_cost` array.
[Here is the test file with the `pbest_cost` array printed.](https://github.com/ljvmiranda921/pyswarms/files/2206667/test.txt)
Also, the ring topology does not ev

[2018-07-18 18:59] whzup commented on #170
I'd like to test it with the test script I used to detect this issue. Do you know a way to do this?

[2018-07-18 23:04] ljvmiranda921 commented on #170
Hey Aaron,

Great analysis! So the culprit was how the best_pos is being assigned
right? Instead of getting the index of the actual particle with the best
fitness, what we’re getting is the particle that neighbors it?

Let me reply to you properly once I go to school. Great job! I’ll check on
how we can run the tests similar to what you have done :)

On Thu, 19 Jul 2018 at 03:59 Aaron <notificatio

[2018-07-19 04:27] whzup opened #174 "setup.py does throws a UnicodeDecodeError"
**Describe the bug**
The `setup.py` file throws a `UnicodeDecodeError`:
[code]

**To Reproduce**
Run the `setup.py` file to install `pyswarms`:

[code]

**Expected behaviour**
No `UnicodeDecodeError` 😄.

**Environment (please complete the following information):**
 - OS: Windows
 - PySwarms Version v0.2.1
 - Python Version 3.7.0

**Additional context**
Not a big deal there is a [StackOverflow ques

[2018-07-19 04:36] ljvmiranda921 commented on #174
PySwarms hasn’t been tested in Python 3.7. Can you try setting up a virtualenv for 3.4, 3.5, and 3.6? That should work because our tests are passing and travis performs the steps you did above.

Let’s do 3.7 and 0.4.0 :) No need to rush

[2018-07-19 04:36] #174 closed

[2018-07-19 17:37] whzup commented on #170
Hi, Lester 😄. Yes, exactly. And the wrong axis was used to determine the best neighbours.
I found a [StackOverflow question](https://stackoverflow.com/questions/20101834/pip-install-from-git-repo-branch) which describes the steps to install a package from a GitHub branch. It doesn't work for me though. I still get the version of the master branch.
[This](https://pastebin.com/RKbPRqEQ) is the paste

[2018-07-19 18:36] whzup commented on #158
This issue is open for other first-timers that want to contribute so feel free to leave a comment here if you want to work on this issue 😄💯.

[2018-07-20 04:48] whzup commented on #75
[This](https://academia.stackexchange.com/questions/26159/can-i-request-the-code-behind-a-research-paper-from-the-author) StackOverflow question suggests that it's the best way. Although, it can easily be refused if we don't give a good reason for why we want the code.

[2018-07-20 06:24] ljvmiranda921 commented on #170
Hey, I will reply to you in the PR :+1:

[2018-07-20 06:30] ljvmiranda921 commented on #170
Yo @whzup !

Will a test asserting `min(swarm.pbest_cost) == swarm.best_cost` suffice for all cases? Even if we change the number of neighbors, we want to assure that the particle with the smallest possible fitness will always be considered.

A short integration test like the one you posted in pastebin is also a nice idea. We conjure up a small swarm in conftest, set the random seed, and check if

[2018-07-20 06:40] ljvmiranda921 commented on #150
Hi @jolayfield ! Any updates on this?

We're planning a v.0.3.0 release by the end of August. If this feature won't make it next month, we'll just insert this feature on v.0.4.0. There's no rush, what you just need to do is to *update your own master branch*.

We're here to help you anytime!

[2018-07-20 13:56] jolayfield commented on #150
Thanks.  We just got a working implementation yesterday with my research student.  I think there is still some testing to do and we will need to cleanup the input but it is coming along.  We will followup when we are sure that things are working properly (hopefully in the next few weeks).

[2018-07-23 12:48] #170 closed

[2018-07-23 12:49] ljvmiranda921 commented on #129
I'll close this for now since we got the major ones in the development branch. Let's just refer back to this issue in the future for other swarm topologies. :+1:

[2018-07-23 12:49] #129 closed

[2018-07-25 00:16] #154 closed

[2018-07-25 05:38] ljvmiranda921 commented on #158
I sugges we close this for now and open up a first timers issue for constrained optimization objective functions? Let’s talk about how to represent these functions first, then once it’s settled, let’s write up an issue

[2018-07-25 17:24] #158 closed

[2018-07-28 12:29] whzup opened #183 "`ValueError` when running the GeneralOptimizer with a `Pyramid` topology"
**Describe the bug**
The `Pyramid` topology throws the following error when ran in the `GeneralOptimizerPSO` (only in some cases):
[code]

**To Reproduce**
Steps to reproduce the behaviour:

- Run this script in the current `development` version:
[code]

**Environment:**
 - OS: Windows
 - PySwarms Version development
 - Python Version 3.7.0

**Additional context and bug fix**
I investigated this b

[2018-07-28 15:58] ljvmiranda921 commented on #183
Hi @whzup!

Yes. Please add to cleanup PR and document the qhull options in the Pyramid class docstring.

Let’s give ourselves 2 weeks to look for edge case errors and bugs in the new topologies. Just keep adding them to the same PR you had. After
August 12, let’s lock that PR and prepare for merge.

[2018-07-29 15:45] whzup commented on #183
Sure! Made a new PR and added the documentation for it 👍 I'm going to try on breaking the topologies 😄

[2018-07-30 04:43] #183 closed

[2018-08-01 02:26] ljvmiranda921 opened #194 "Update cryptography to 2.3"
**Describe the bug**
Github is reporting a security vulnerability when using our current version of cryptography (2.2)

**Environment (please complete the following information):**
 - OS: Linux
 - Version: Ubuntu 16.04
 - PySwarms Version v.0.2.0
 - Python Version: 3.4, 3.5, 3.6

**Additional context**
Merge to `development` branch

[2018-08-04 08:14] #194 closed

[2018-08-07 02:00] ljvmiranda921 opened #198 "Refactor base classes using ABCs and metaclasses"

[2018-08-10 00:48] ljvmiranda921 opened #201 "Add black fmt: off tags to test n-dimensional arrays"
**Describe the bug**
The problem is that whenever we have a multidimensional array for test-cases, black formats them
"vertically", resulting to a very high LOC and uglier code. See [this issue](https://github.com/ambv/black/issues/440)

**To Reproduce**
[code]

Then check `test_delannoy_numbers` and observe how the n-dim array is formatted.

**Expected behavior**

It's better to retain the curren

[2018-08-10 04:42] whzup opened #202 "Make a Jupyter notebook tutorial for the analysis of a simple circuit"
## Goal
PSO can be utilized in a wide variety of fields. To broaden our collection of tutorials, we'd like to have another example where we analyse a simple circuit with PSO. For some inspiration, you can visit the [example section](https://github.com/ljvmiranda921/pyswarms/tree/master/examples). I propose that, for the beginning, we start by analysing the circuit shown below. It has a resistor an

[2018-08-11 08:08] whzup opened #206 "Profiling the Topologies"
Since we have a solid number of new topologies now, it might be cool to have some kind of profile for every one of them. The questions now are:

- What experiments shall we conduct?
- Which parameters do we want to measure?
- How shall we represent our results? A text file? A Jupyter notebook?

I suggest using the [`cProfile` module](https://docs.python.org/3.7/library/profile.html). It offers a s

[2018-08-11 11:42] ljvmiranda921 commented on #206
1. We can measure how fast each topology converges wrt (a) number of particles, (b) objective function, and (c) various parameter settings.
2. So this becomes more of a benchmarking experiment. I imagine we can draw cost histories and see convergence rates etc.

Number of neighbors IMO is really important. We can also check what happens given a pure social or pure cognitive swarm (where either c1

[2018-08-12 10:10] whzup commented on #206
@ljvmiranda921, that sounds nice! When I was mulling over this for a while, I had two ideas which are somewhat intertwined:

1. **A `neighbor_history` attribute:** We could insert the neighbours for every iteration into a `neighbor_history` attribute in the base class. This would just mean that we have to access the `neighbor_idx` array in the `topology.compute_gbest()` method. This would enable u

[2018-08-12 10:44] ljvmiranda921 commented on #206
Looks pretty good! So we just build this similar to the previous history attributes right?

Yes, this is a really nice option. We can turn this on/off when plotting. :+1:

[2018-08-12 11:07] ljvmiranda921 opened #209 "Add Reporter module for logging"
**Is your feature request related to a problem? Please describe.**

We can improve the [`console_utils.py`](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/utils/console_utils.py) module and abstract all of our logging methods inside a `Reporter` class. We do this because we want to achieve separation of concerns in our base classes. Our base swarm optimizers still setup the logging

[2018-08-12 14:10] whzup commented on #206
Yes, I think so. We just have to figure out a fast way to append the whole `numpy.array` I don't know if it is feasible to put it in another `numpy.array`. I'll do some research on that.

I'll try to write up a PR for the history and visualization feature this week.

[2018-08-12 14:16] whzup commented on #209
Do you think we could include an `@profile` decorator in the `Reporter` module? I was thinking about using it as a parameter in the `optimize` method but (1) it doesn't belong quite there and (2) it would be necessary to include it in every `optimize` method of every `optimizer` which is quite a lot of code to include.

[2018-08-12 15:25] whzup opened #211 "Improve the topology test suite"
Since we had some issues with testing in the past, I propose that we include the [`hypothesis` module for Python](https://github.com/HypothesisWorks/hypothesis/tree/master/hypothesis-python) into our test suite. Side by side with the `pytest` module we're already running as it is [compatible with `pytest`](https://hypothesis.readthedocs.io/en/latest/supported.html). The `hypothesis` module allows

[2018-08-12 15:33] whzup opened #212 "Visualise neighbors during optimization"
As described in #206 it'd be useful to have a feature where we can indicate a neighbour relationship in the `plotters` module's visualization output. First of all, we have to add a `neighbours` attribute to the History tuple. This then allows us to access the neighbours of every particle in every iteration. After that, we can use this information to draw lines between every two neighbours in the a

[2018-08-13 00:40] ljvmiranda921 commented on #209
Yup you are correct, I'm planning to have the profiler as a decorator. This looks quite exciting!

[2018-08-13 01:05] ljvmiranda921 commented on #211
Looks interesting. :+1:  I have some questions:

- Can you give some example use-cases for `hypothesis` in relation to our current test suite?
- Which parts of our test suite will `hypothesis` improve?
- Can you give an example change you're going to implement?

[2018-08-13 04:25] whzup commented on #201
To be honest this looks like a really ugly solution to me :confused:. This would be better off as an option in the `black` module instead of something that has to be done manually.

[2018-08-13 04:40] ljvmiranda921 commented on #201
For now this is what we can only do. Using external files to export our predefined numpy arrays seems to convolute everything. Unless there's a better way to remove the n-dimensional arrays that we have, maybe `hypothesis` can make our predefined arrays more generalized (and reproducible?)

[2018-08-13 04:45] whzup commented on #211
I have to look deeper into it but what I can say at the moment is that could use it for almost any test case. You can choose a "range" of integers/floats/etc. you want to test and it will test it. You can even [create dictionaries](https://hypothesis.readthedocs.io/en/latest/data.html). This would be useful for the options dicts that we use. As for the improvement, it tests a broader range of valu

[2018-08-13 04:55] ljvmiranda921 commented on #211
Sure, I would like to see a PR on this. I imagine that we can use this to generalize our fixtures and some tests. :+1:

[2018-08-14 00:32] #198 closed

[2018-08-14 06:43] ljvmiranda921 opened #219 "Remove `_func` in all single-objective function names"
Currently, our single-objective functions look like this:

[code]

We realized that it's much better to remove the `_func` part of the name for terseness:

[code]

That's basically it!

## Where to apply the changes?
1. All single-objective functions reside in the `pyswarms/utils/functions/single_obj.py. Simply change the function names.
2. However, some function calls are present inside the `test

[2018-08-14 09:06] nik1082 commented on #219
Hello! I'd like to take a shot at this!

[2018-08-14 10:29] ljvmiranda921 commented on #219
Awesome @nik1082 ! This one's yours!

[2018-08-14 11:05] ljvmiranda921 commented on #219
Oops sorry, hey @nik1082 . Would it be fine if you can do this PR again? But this time checkout from the `development` branch. Merging with conflicts has been tricky for me lately, most especially that we applied branch protection for both our `development` and `master` branches. My bad, sorry for the trouble and thanks again!

[2018-08-14 12:40] nik1082 commented on #219
Done and done!

[2018-08-14 13:07] #219 closed

[2018-08-15 04:46] whzup commented on #211
It turned out the `hypothesis` module runs very slow and the code that we'd have to write for the tests was extremely incomprehensible. For comparison: one test with hypothesis takes as long as all the tests in the topology folder. If we'd scale this to the 500 tests we already have we'd easily reach 10-15 mins. We can't afford such a huge test suite in such a small project. At the moment I don't

[2018-08-15 04:50] ljvmiranda921 commented on #211
Yes this looks much better. If it makes our test suite much simpler (and less reliant on default, *very* contrived values), then go for it. :+1:

[2018-08-15 16:50] whzup commented on #211
Hmm, I think I erred here. I thought we could just take the minimum of all the costs but the swarm actually only stores the best cost and position in addition to the current cost and position. Maybe we can add the `history` of a fixture optimizer to the tests so we can make sure the best cost is the best cost that has ever been found. What do you think?

[2018-08-16 00:10] ljvmiranda921 commented on #211
Sorry it's not yet clear to me. How is this different from our  [`*_opt_history()` fixtures](https://github.com/ljvmiranda921/pyswarms/blob/development/tests/optimizers/conftest.py#L17)? Can we reuse these fixtures for the problem? :+1:

[2018-08-16 04:15] whzup commented on #211
Yes, exactly! But now we use it for the topology tests. We just have to return the history and the best cost/pos in the fixture so we can check if it really is the best that has ever been found. I'll go ahead and write this up. It's probably a small PR.

[2018-08-16 04:25] whzup opened #228 "Decorator for cost functions"
**Is your feature request related to a problem? Please describe.**
Until now the cost function had to return the shape `(n_particles, )` which has caused some problems in using the package.

**Describe the solution you'd like**
I propose a decorator so we can just mark the cost function:

[code]

This lets the user write a "strategy" that has to be applied to all the particles in the swarm in orde

[2018-08-17 00:08] #201 closed

[2018-08-18 11:26] ljvmiranda921 commented on #206
No idea yet, maybe we can do this at the end? I'm thinking of just a Jupyter notebook example actually. After merging #226 and #227 maybe we can focus on constrained opt first.

[2018-08-18 14:30] whzup commented on #206
Yes, this might be a better idea. :+1: We could then include the constraint optimization also. Maybe, it'd be even better to wait until we have multi-objective optimisation done as well (?) So for the end of v.0.5.0.

[2018-08-20 00:26] #228 closed

[2018-08-21 00:55] ljvmiranda921 opened #232 "Refactor if-else hierarchy in GeneralOpt"
The if-else hierarchy we have works, [but looks convoluted & unmaintainable](https://github.com/ljvmiranda921/pyswarms/blob/development/pyswarms/single/general_optimizer.py#L250). Better refactor this with private functions or a `dict`.

Or maybe we should work on how the backend topologies were implemented. I'm thinking of using `*args` and `**kwargs` for this, still not sure.

Reference: https:/

[2018-08-21 08:35] #209 closed

[2018-08-21 08:37] ljvmiranda921 commented on #150
This has been a bit stale, closing this for now. I'll open this up again if there are already updates :+1:

[2018-08-21 08:38] ljvmiranda921 commented on #107
This has already been stale for a month. Closing this for now. I'll just open this one again if there's new activity.

[2018-08-21 08:40] #152 closed

[2018-08-21 08:40] #107 closed

[2018-08-22 13:57] echo66 opened #235 "Setting optimization random seed"
**Is your feature request related to a problem? Please describe.**
In order to find the exact same minima and to generate the exact same set of particles, right now, we need to use ``numpy.random.seed(<INSERT YOUR FAVORITE INTEGER>)``. But this will set the global seed, not just the seed for our (stochastic) procedure.

**Describe the solution you'd like**
For every method that uses ``numpy.random

[2018-08-22 17:59] whzup commented on #156
Since this issue is quite stale and there seems to exist no interest on behalf of first timers I'll take this issue.

[2018-08-23 00:38] ljvmiranda921 commented on #235
Hi @echo66 , Welcome to PySwarms!

I think this would be a great addition to the project! Just a few comments/questions:
- Perhaps setting the random seed should better be part of `pyswarms.backend`? But must also be exposed in our high-level optimizers? (`pyswarms.single.base`, `pyswarms.single.global_best`). This might also affect our topology classes whenever some neighbors are determined. Any

[2018-08-23 13:29] #211 closed

[2018-08-24 10:44] echo66 commented on #235
@ljvmiranda921

* I haven't studied pyswarms architecture yet. As such, I'm not entirely sure what to answer. I did a quick search for "np.random" and, besides unit test modules/files, these are the modules/files containing that string:
 * pyswarms/utils/search/random_search.py
 * pyswarms/backend/topology/random.py
 * pyswarms/backend/generators.py
 * pyswarms/backend/operators.py
 * pyswarms/dis

[2018-08-24 12:31] ljvmiranda921 commented on #235
Hi @echo66 ,

Looks manageable! Since most operations are happening in the `backend`, we just need to change that for the most part. No need to change tests I guess :+1:

I think it's better if we write our own in `operators.py` (probably just copying what scikit-learn did). Exposing means that we also add a `random_state` option in our optimizers such as in `pyswarms.single.GlobalBestPSO` , `pysw

[2018-08-26 13:11] ljvmiranda921 opened #237 "Add boundary handlers for stuck particles"
**Is your feature request related to a problem? Please describe.**
There are some stuck particles as reported in #234 and #150 . This is related to `compute_position` waiving position updates whenever a particle will potentially end up out-of-bounds. There are standard ways to avoid this problem. The reflective bounds is one option, but the related PR is currently stale, so it may be important to

[2018-08-26 13:12] ljvmiranda921 commented on #237
What do you think, @whzup

[2018-08-26 21:13] whzup commented on #237
I like it! :smile: Let's do something like that.
Although, do you really think it's necessary to pass them as a list? We can't apply multiple boundary handlers at the same time

[2018-08-27 00:28] ljvmiranda921 commented on #237
Yes maybe we can work on the same PR branch? There's also the need to use handlers for Velocity (check your link in Gitter). Maybe we can split the work between us?

[2018-08-27 07:35] ljvmiranda921 commented on #237
I think the two handlers solve different problems. Our perspective now should shift from "how to prevent particles from going out-of-bounds" into "what happens when they're out of bounds?"
The `BoundaryHandler` dictates what happens whenever we go out-of bounds, "reflective" does this nifty trick, "resample" does another, etc. Of course, after changing the position, we also have to deal with the v

[2018-08-27 15:00] whzup commented on #237
Ok :+1: Let's do this one!

[2018-09-01 08:47] pranav1698 commented on #202
Heya ljvmiranda921,
I have started working on open source recently
I would like to contribute on this issue

[2018-09-01 08:49] pranav1698 commented on #202
Can I have a detailed guide to how to make a jupyter notebook using python
Also, I have been getting this error:
Traceback (most recent call last):
  File "setup.py", line 8, in <module>
    with open("README.md", encoding="utf8") as readme_file:
TypeError: 'encoding' is an invalid keyword argument for this function
when I am trying to build pyswarms in my local machine

[2018-09-01 10:30] ljvmiranda921 commented on #202
Hi @pranav1698 , welcome to PySwarms!

I will hand you over to @whzup for this, since he’s more knowledgeable on this side of the codebase :)

As for your setup problem, what is your Python version again? :)

[2018-09-01 11:44] whzup commented on #202
Hello @pranav1698, welcome from my side as well 😄 🎊 🎉
**Regarding the creation of a Jupyter notebook:**
1. Install jupyter notebook via pip (may require `sudo` on Unix or administrator rights on Windows):
[code]
2. Navigate to the `pyswarms/examples` folder in your command line and type:
[code]
This will open the Jupyter notebook interface in your default browser. You'll see that it automatically

[2018-09-01 14:40] pranav1698 commented on #202
Thanks for the help
Sure, The concept is new and unique henceforth I will try my best to solve it

[2018-09-01 17:08] pranav1698 commented on #202
Hey again,
I think the circuit-diagram is a bit of confusing,
Seeing the diagram,  If the arrow on the voltage source U, I think this  points from lower voltage to higher voltage (If it is not the direction of electric field) so this should be the direction of current but  the direction of current I is opposite.

[2018-09-01 17:58] whzup commented on #202
Hello, @pranav1698. Good question!

There are two types of electric components: active and passive ones. For passive components it is true that the arrow of the voltage points from the lower voltage to the higher voltage and the current arrow points in the same direction. This is because they "**consume**" power, that is if voltage and current have the same sign the power is always positive. Resis

[2018-09-02 11:46] pranav1698 commented on #202
Hello whzup,
I have on some of the changes locally, so can I create a pull request for my working branch
So that you can see if they are fine.

[2018-09-02 13:03] whzup commented on #202
@pranav1698, sure go ahead! Make sure to update your branch before doing the PR (you can use the links in the issue description for information on how to do that).

There is actually no target vector in this optimization (I guess you're referring to the Inverse Kinematics tutorial by saying target vector). I think it's not clear from the description what it means to analyse a circuit, that's a mis

[2018-09-04 17:17] whzup commented on #202
Hey @pranav1698, excuse my late respone I'm on vacation and only have access to my laptop in the evening :smile:

The target of the particles in the swarm is the minimum of the function `c` (see above). We don't know this value though! So the particles memorise their personal best position (pbest) and the best position of all particles (gbest) in order to find the best position (minimum) in the se

[2018-09-06 06:51] pranav1698 commented on #202
I am getting NameError when I am using
@pyswarms.cost
 It says; name 'pyswarms' is not defined
Is it because of the python version?

Also, I have made the commmits with the present changes? Please have a look..

[2018-09-06 06:58] ljvmiranda921 commented on #202
Hi @pranav1698 ,

It is because in the earlier cell, you already called:

[code]

That's why it sets an alias to the pyswarms module. To call `pyswarms.cost`, just
say `ps.cost`.

I think everything looks OK so far! Keep at it! :+1:

[2018-09-06 07:19] pranav1698 commented on #202
Hi @ljvmiranda921 ,
Nopes I am getting the same error with ps; I had tried that earlier too
Looks Like its the preoblem for the python version, as I am working on ubuntu and I cannot delete the default python version(2.7.15) as it is not suggested

[2018-09-06 08:16] whzup commented on #202
Hello @pranav1698, it looks good until now! Let's focus on finishing the first draft. Afterwards we can focus on the details.
As for the `NameError`. It is probably because you didn't rerun the cells in which you define `pyswarms` (You define `import pyswarms as ps` in `In[17]` and use it in `In[2]` the number tells you the order in which you ran the cells this is important!). You already run the

[2018-09-09 11:03] ljvmiranda921 opened #240 "Refactor error handling from LBYL to EAFP"
Right now, most of our optimizers use the `assertions()` method to catch invalid inputs. This method is implemented in a Look Before You Leap (LBYL) fashion. However, idiomatic Python is often written in an Easy to Ask Forgiveness than Permission (EAFP) design, so it's better to catch errors using that.

This also removes the need to be very strict with the types passed in `bounds` or `velocity_cl

[2018-09-09 11:10] ljvmiranda921 opened #241 "Refactor tests then add ABCTests"
Sometimes we have repeating tests, i.e., tests that check the same condition:

[code]

In another module, we also have:

[code]

My idea is to create a base class, say, `ABCTestOptimizer`, and put all similar tests inside. Then, for each module, we simply inherit the base class then just add tests that are more specific whenever needed:

[code]

Then,

[code]

We can maybe implement this technique

[2018-09-12 06:36] ljvmiranda921 opened #245 "Add flake8 and coverage in travis-CI"

[2018-09-14 01:47] dfhljf opened #248 "discrete missing param init_pos"
**Describe the bug**
if discrete:
        position = generate_discrete_swarm(
            n_particles, dimensions, binary=binary
        )
\# position = generate_discrete_swarm(
\#            n_particles, dimensions, binary=binary,init_pos=init_pos
\#        )
    else:
        position = generate_swarm(
            n_particles,
            dimensions,
            bounds=bounds,
            center

[2018-09-14 02:04] ljvmiranda921 commented on #248
Hi @dfhljf , understood. so we need to specity init_pos in `create_swarm` right?
That should be easy, but we need some validators so that init_pos is actually for discrete or for binary. We'll do that for the next release.

But are you interested to make a PR for this?

[2018-09-14 04:49] #248 closed

[2018-09-14 07:12] whzup commented on #240
The `Searches` also use this type of asserting. Maybe you want to refactor them as well.

[2018-09-17 06:53] Kevin9436 opened #250 "Ring topology update velocity basing on gbest instead of lbest."
**Describe the bug**
In backend.topology.ring module, the compute_gbest() method has already calculate the best_neighbor, but in the compute_velocity() method it call operators.compute_velocity(), which uses gbest for updating.

**Expected behavior**
Pass the best_neighbor to the ring.comput_velocity() method and calculate the social part with it.

**Additional context**
The lbest algorithm is men

[2018-09-17 10:53] minama10 opened #251 "Plotting results of inverse kinematics of a 6DoF"
Hi,

I am using pyswarms for the inverse kinematics problem of a 6DoF manipulator, exactly as you described it in your examples. As an add on I wanted to plot the results like yout did in your blog https://ljvmiranda921.github.io/notebook/2017/02/04/inverse-kinematics-pso/ in the gif described by "Particle End Tip Position". For this I followed the instructiuons in the "readme.md" file of the pysw

[2018-09-17 17:53] whzup commented on #250
Welcome, @Kevin9436! Thank you for reporting this bug!

Excuse me, though, as I don't fully understand your point here 😞. So you say we should pass the `best_neighbor` to the `compute_velocity()` method and calculate the social part with it. We actually already do that but with a bit of a detour to the `LocalBestPSO`/`GeneralOptimizerPSO`:
We store the `best_neighbor` in the swarm (using the `swar

[2018-09-18 06:46] Kevin9436 commented on #250
My confusion is about [this line](https://github.com/ljvmiranda921/pyswarms/blob/b83e99be17d3b05a5948b73ad11fd2a0f6b0ce36/pyswarms/backend/topology/ring.py#L83). If my prehension is not wrong, this `best_pos` is the global best of the whole swarm and this line is to pick the minimum cost position from all best neighbour.

Since the neighbour size of each particle is `k`, for local best algorithm,

[2018-09-18 19:01] whzup commented on #250
@Kevin9436, ok I see your point now, thanks for the further explanation 👍. I'll have a look at it as soon as I can spare some time. I'm kind of busy though as the semester has just started so it might take some time until I can get behind this 😞.
Thanks for reporting! 😃:100:

[2018-09-18 19:18] whzup commented on #251
@minama10, hello again! 😄

I've been trying to figure out some hack to get this running with `pyswarms` itself. Unfortunately, I wasn't able to find a good solution 😞. The thing is, that the code for the blog post by @ljvmiranda921 did not use `pyswarms` library so at the moment you'd have to write your own code to display it. You can find the code used in the blog post [here](https://gist.github.

[2018-09-19 01:52] Kevin9436 commented on #250
@whzup ok, no problem. I'll go on studying your code. Honestly, your guys project really helps me a lot on comprehending the PSO algorithm. Good luck  on your new semester! :)

[2018-09-19 17:40] whzup commented on #250
Thanks a lot! :heart: I'm glad you appreciate this project :smile:

I noticed that this bug does is present in all the topologies. Gotta rewrite the whole tests :confounded:

[2018-09-24 16:57] RabbitJackTrade opened #254 "Using pyswarms for symbolic regression?"
This is more a question that a feature request; coming from a newbie:

Having gone through the [Training a Neural Network notebook](https://github.com/ljvmiranda921/pyswarms/blob/master/examples/train_neural_network.ipynb), I was wondering if it's possible, and if so, how one would go about, using pyswarms to solve a symbolic regression problem [like this one, for example](https://gplearn.readthed

[2018-09-27 18:13] whzup commented on #254
Hello @RabbitJackTrade and welcome to PySwarms! :smile:

Thanks for you question. As I'm not very familiar with the topic I can't answer your question but the maintainer @ljvmiranda921 is well versed in this topic. Unfortunately, he is not online until around mid-october :disappointed: I hope your question can wait until then.

[2018-10-01 08:01] #241 closed

[2018-10-01 08:01] #240 closed

[2018-10-01 08:02] #232 closed

[2018-10-01 13:44] minama10 commented on #251
Hello :)
thank you for your answer. I tried but I failed too.
An issue which also come up by trying some things is how to set the initial position **init_pos** when using the _GlobalBestPSO_. I've found the description how to set all other parameters except this.

I think for some researchers it would be of great value, to get a quick overview how the particles move between different positions. Es

[2018-10-01 19:54] ljvmiranda921 commented on #251
Hi @minama10,

Thanks for reporting the problem and we’re already adding descriptions for undocumented functionalities.

As for your problem, can you try running your code without passing anything to the mesher argument?

The thing with mesher is that it only accepts an objective function that takes x.y inputs to produce a z output—in order to produce a 3D projection.

The objective function for t

[2018-10-01 20:05] ljvmiranda921 opened #255 "Update documentation for v.4.0 API"
So many undocumented changes in:
- [] README.md basic usage..
- [] Jupyter notebook examples
- [] In the docstring
- [] Add Raises section in docstring if possible

[2018-10-03 11:00] ljvmiranda921 commented on #251
Hi @minama10 ,

I have attached a Jupyter notebook that can plot the files using `pyswarms`' built-in plotting tools.

Google Drive Link: **https://drive.google.com/open?id=1sAX_5Gco3sqPHfQ-fYBSJwLbQXOBtR4s**

Since we're plotting the particles' end-tip position through time, we won't plot `optimizer.pos_history`, because that only contains the *joint variables* in our manipulator. What we should

[2018-10-18 20:32] cklat commented on #250
Can anyone of you guys explain to a PSO newbie how this bug affects the usage of pyswarms? To me it seems that it is a major bug in the sense that for other settings than global neighbours all the calculations will be wrong, is this correct? Can I still use the package? I just bumped into pyswarms since I have to implement the PSO algorithm for a project and thought I could maybe save some time us

[2018-10-19 00:48] ljvmiranda921 commented on #250
Hi @cklat , the standard Global Best PSO should work as expected. We're sorry if this Issue has been stale for long, most of the maintainers are either busy at their day-jobs or in school. Other topologies should converge and find an optima, but its exploration aspect will be affected.

[2018-10-27 15:47] Sanjeeth8733 commented on #41
Hello Sir, I'm a total beginner trying this code out and I'm getting an error can you help me out?

CODE
============================
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from tensorflow.contrib import learn
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn import datasets, linear_mo

[2018-10-27 16:00] Sanjeeth8733 opened #256 "Hello Sir, I'm a total beginner trying this code out and I'm getting an error can you help me out?"
CODE
============================

[code]
_Originally posted by @Sanjeeth8733 in https://github.com/ljvmiranda921/pyswarms/issues/41#issuecomment-433631657_

[2018-10-30 14:15] ljvmiranda921 commented on #254
Hi @RabbitJackTrade !

As of now, I don't think pyswarms can support symbolic regression. We'd love to, but to be honest I'm not well-versed with this topic as well. We can definitely add this to the next few features that we can implement!

[2018-10-30 14:17] ljvmiranda921 commented on #256
Hi @Sanjeeth8733 ,

It seems that the problem is coming from this line of code:

[code]

Would you mind checking what `X_train` looks like?
Also, I'm curious if you are using the `master` or `development` branch. If you're using the latter, then maybe you can use the `@cost` decorator (not yet merged to master).

cc: @whzup

[2018-10-30 15:09] Sanjeeth8733 commented on #256
Hello @ljvmiranda921
Thank you for your reply sir,
the result for X_train was
==========================
2018-10-30 20:25:33,536 - pyswarms.single.global_best - INFO - Optimize for 1000 iters with {'c1': 0.5, 'c2': 0.3, 'w': 0.9}
pyswarms.single.global_best:   0%|          |0/1000[[-0.90068117]
 [-1.14301691]
 [-1.38535265]
 [-1.50652052]
 [-1.02184904]
 [-0.53717756]
 [-1.50652052]
 [-1.02184904]

[2018-10-30 17:51] whzup commented on #256
@ljvmiranda921 that looks weird to me. @Sanjeeth8733 Maybe try to change the `print_step` and `iters` keywords around. From this:
[code]
To that:
[code]
I don't think this will change a lot but frankly, it's the only thing I can see an error in 😕 I feel like Anaconda might misinterpret the keywords for kwargs and feed it into the objective function instead of using them as function "keys".

[2018-10-30 20:16] Sanjeeth8733 commented on #256
Hello@whzup and @ljvmiranda921  did the changes mentioned by you, code :
___________________________________________________________________________________
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from tensorflow.contrib import learn
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn imp

[2018-11-01 11:11] Sanjeeth8733 commented on #256
Thank you for your help sir, the code is working.

# Import modules
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from sklearn import model_selection
from sklearn import preprocessing

import pyswarms as ps
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from matplotlib import animation
from matplotlib import r

[2018-11-03 00:11] guven6 opened #257 "The cost function is called twice for an iteration?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-11-03 00:12] guven6 commented on #257
We have a cost function which is very costly to compute - more than an hour. In the cost function I log the iterations (positions and current cost) and it is called **twice** for a single iteration (specified in optimizer.optimize). Is this expected? Any way to improve it?

[2018-11-03 03:44] ljvmiranda921 commented on #257
Hi @guven6 ,

We will deal with algo optimizations on the next release (v.0.5.0), it might still take a long time since we’re dealing with other tasks

One workaround for your problem is to define your own optimization loop using pyswarms.backend. You can inherit the Optimizer you are currently using then override the optimize() method.

[2018-11-05 12:38] pdiaz2 commented on #257
I have just come across to the same problem.
The main issue is that you execute the objective function twice because you **recalculate the particle best cost**. I am not sure why this is (perhaps reading from memory is slower) but for long optimizations (such as myself and @jazcap53) this is surely not useful.

This is the part of the code in global_best.py that is responsible for this:

`self.swa

[2018-11-05 13:37] pdiaz2 commented on #257
First of all, I am somewhat new to github so I don't know how to properly cite lines in files etc., so you will have to excuse me :relaxed:
I will just paste the lines then:

[code]
The loop continues but as you can see the objective function is called twice: once to calculate for the entire swarm and once again to **recalculate** each particle's best cost. Since this algorithm is iterative, the p

[2018-11-05 13:55] ljvmiranda921 commented on #257
Hi @pdiaz2 !

No it's definitely fine! And thank you for walking me through the solution. Forgive me if I will ask a lot of clarifications so that I'm sure that I understand the proposed solution well. So from what I understood:

- The pbest_cost of the current iteration (I'll denote as `pbest_cost[t]`) can already be obtained from the past iteration, specifically form `current_cost[t-1]`
- Becaus

[2018-11-05 14:16] pdiaz2 commented on #257
Not exactly. Let me try to explain:

- At the start of iteration `t`, calculate each particle's cost  `cost[t]`
- Compare `cost[t]` to `swarm.pbest_cost[t-1]` through `compute_pbest`. Since the algorithm is iterative, this value was calculated in `t-1`. For `t=0`, set (outside of main loop) `swarm.pbest_cost[t-1]` to `numpy.inf` (for minimization).
- Proceed normally

The main thing is that at ite

[2018-11-05 14:21] ljvmiranda921 commented on #257
Okay, now it's much clearer!

Yes, you can inherit `GlobalBestPSO` and override it. If it solves the problem, then please tell us right away so that we can incorporate here in the project.

Thank you @pdiaz2 !

[2018-11-05 14:23] pdiaz2 commented on #257
Perfect! I will work on this and return as soon as possible.
Thank you!

[2018-11-05 19:00] whzup commented on #256
So is this solved now? 😄 I wonder what the actual problem was @Sanjeeth8733 ?🤔

[2018-11-05 21:36] Sanjeeth8733 commented on #256
@whzup
the error still persists
after I randomly added some variables into f() as you can see below.

# Import modules
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
from sklearn import model_selection
from sklearn import preprocessing

import pyswarms as ps
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from p

[2018-11-06 04:30] #256 closed

[2018-11-07 23:49] pdiaz2 commented on #257
Hello, I have solved this issue. I am actually running an industrial application with in **real time** and through the use of apscheduler (python cron-like scheduling package) I also discovered what I think is a major flaw in your algorithm design.

The particles positions are generated when the optimizer is **instantiated** (GlobalBestPSO for example). This means that when running repeated iterat

[2018-11-08 01:17] ljvmiranda921 commented on #257
Hi @pdiaz2 ,

The particles starting up in the same position is by design. The idea is that if you want to rerun PSO again with different starting positions, then you should call the `reset()` method.

[code]

[2018-11-08 01:58] pdiaz2 commented on #257
Oh, thanks! Maybe I missed the example!
Thanks, I will be sharing the code as soon as possible!

[2018-11-08 10:30] ljvmiranda921 commented on #257
Glad to hear that!

[2018-11-22 23:55] soamaven opened #258 "Parallel particle evaluation"
**Is your feature request related to a problem? Please describe.**
I know I have an expensive function to evaluate, I am doing a simulation based optimization of a hyper parameter space. I am planning to use HPC environment because of this. Can particles be evaluated in parallel? Synchronously or even asynchronously? I thought an [approach similar to this](https://www.ncbi.nlm.nih.gov/pmc/articles

[2018-11-23 01:37] ljvmiranda921 commented on #258
Hi @soamaven ,

Thank you for this issue. To be honest I've been meaning to add this feature [since last August](https://github.com/ljvmiranda921/pyswarms/wiki/Development-Roadmap), especially that I see a lot of use-cases involving very expensive objective functions.

I would love to work on this, it's just that we're still finding time (especially we have a backlog of refactor issues to do) to d

[2018-11-23 06:01] soamaven commented on #258
Thanks!

Thinking out loud a bit below, let me know where I am misunderstanding the code.:

So it looks like it would be easiest to just implement a custom optimization loop! So its probably easiest to write an optimization loop that parallelizes calculating the `numpy.ndarray` cost in parallel, either in an async or sync fashion, where in the async loop, it would be a nested iteration/async loop.

[2018-12-02 15:32] #254 closed

[2018-12-07 07:51] whzup commented on #202
@aakritigupta0408 Welcome to pyswarms! Sure go ahead, it seems like the previous contributor gave up on this 🙈. If you have any questions feel free to ask. I'll gladly answer them as soon as I can 😄.

[2018-12-13 11:34] bastinat0r opened #259 "(De-)Coupling between operators and topologies"
**Is your feature request related to a problem? Please describe.**
I want to use PySwarms to benchmark several state of the art PSO-Algorithms (and some modifications for them). As I understood the current code-base implementing another variant that uses another velocity update (like the one used in SPSO2011) does not fit neatly into the current Class-dependencies, as the topologies do depend on t

[2018-12-14 17:18] whzup commented on #259
Hello @bastinat0r and welcome to PySwarms! 😄 Thank you for your feature request. To me it sounds a bit like the BoundaryHandler we are currently developing #238 but instead of choosing how to handle the boundaries you would like to choose how the velocity and the new positions are calculated, right? I think we could consider this after release 0.4. We are currently very low on labour resources so

[2018-12-18 23:04] guven6 commented on #257
@pdiaz2 ,
Do you have solution? Would you like to share it? Thanks in advance.

[2018-12-19 18:52] pdiaz2 commented on #257
Yes I do. Since I am not very good at github I think the best way is to share upload the modified optimizer function directly. I will do this on Friday if I get the chance, Christmas at the most.

[2018-12-19 19:04] whzup commented on #202
Hey, @abdurrehman11 thank you for your interest in pyswarms. Unfortunately, at the moment the development of this project is a bit stale as the owner of the repository is quite busy at work and I am going to study for my winter finals. If you feel like you could handle a PR for any of the open issues you can leave a comment there. Otherwise, maybe you and @aakritigupta0408 could jointly work on th

[2018-12-20 17:57] abdurrehman11 commented on #202
Hey @aakritigupta0408 what do you think about this?

[2018-12-21 16:51] pdiaz2 commented on #257
Hi!
Here is a file that contains the modified optimizer. I added a lot of enhancements to it, but the one discussed in this post is specially emphasized.
I also modified your compute_position method because it masked the __entire__ particle instead of just the dimension that ended up out of bounds. Since I was only looking for something functional, I did not overwrite that method in the topology l

[2018-12-28 20:02] Anesh117 opened #260 "What is the Objective function in feature selection using PSO?. How do we define our objective function for feature selection? Can we use the same objective function given in the example for all feature selection problems"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - OS: [e.g. Linux]
 - Version [e.g. Ubuntu 16.04]
 - PySwarms Version [e.g. v.0.2.0]
 - Python Version [e.g. 3.6.X]

**Additio

[2018-12-29 04:50] ljvmiranda921 commented on #260
Hi @Anesh117 ,

### What is the Objective function in feature selection using PSO?
Right now, the objective function for feature selection using PSO is the classifier accuracy/performance. This goes with the assumption that **more relevant features leads to better classifier performance**.

### How do we define our objective function for feature selection?
It really depends on the assumptions you'

[2018-12-31 02:39] peterfakhry opened #261 "Modifying swarm's position during iterations"
**Is your feature request related to a problem? Please describe.**
the problem is that some of my functions depending on the swarm may call a 'ValueError' (it is very frequent) and stop the whole iteration which results in stopping the optimization process. what i am doing as a workaround is 'try' the function and if a 'ValueError' appears, we move the swarm position very slightly until the 'Value

[2019-01-07 19:34] stevenbw commented on #258
@ljvmiranda921 I am more than happy to help out on this :)

[2019-01-08 01:06] ljvmiranda921 commented on #258
Hey @stevenbw ! Thanks a lot and welcome to PySwarms! We're planning to have this one open for the next version! Right now we're just doing our best to release a new version (just clean up some documentation, etc.) then once we're done, I'll ping you right away!

Wanna help me triage in this stuff? @whzup ? Will be back by Feb!

[2019-01-08 06:38] stevenbw commented on #258
Thank you, do let me know if there is anything else I can help out with in the meantime :)

[2019-01-10 13:36] peterfakhry commented on #261
Thank you Sir and sorry for the late reply :D . i am sorry my code is long and must read other external files to run, however this is a pseudo code of what i am trying to do:
`no_of_particles = 50
iterations = 4
PSO_hist = []
def control(swarm):
    """Control method as objective function Must take, as an input, a swarm's position vector of shape (n_particles, dimensions) and must return a numpy.n

[2019-01-11 19:06] whzup commented on #261
Thanks for sharing a part of your code @peterfakhry! Although, I'm not quite sure why you get a `ValueError` to be honest. Could you maybe also share the exact error message?
Regarding the swarm modification. I would recommend that you implement your own optimization loop if you really need it (see [here](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/single/global_best.py#L134) fo

[2019-01-12 09:03] peterfakhry commented on #261
Hello whzup,
1) i get a ValueError because Func1 can sometimes raise this error thats why i am using PSO to find a stable optimum solution (position). The error is not regarding any of Pyswarms
2) I will look for custom loops, however is there any chance we can make a small modification in the pyswarms code itself?
3) Noticed duplicating number of iterations because upon printing the number of ite

[2019-01-16 01:18] ljvmiranda921 commented on #250
@stalebot cancel

[2019-01-16 14:04] whzup commented on #261
@peterfakhry Thanks for the further information. It might be the case that your objective function has an extremely steep gradient which in turn might lead to huge velocities. The problem is that if you have high velocities the particles may "crash" into the boundaries and not move at all (we're currently fixing this in a PR).
Let's check if this is the case. Could you print the history of the opt

[2019-01-16 17:53] peterfakhry commented on #261
yes, here all iterations have the same position
[POS_hist.txt](https://github.com/ljvmiranda921/pyswarms/files/2765444/POS_hist.txt)

[2019-01-28 15:59] ljvmiranda921 opened #262 "Use pip-tools for managing dependencies"

[2019-01-28 23:42] starfriend10 commented on #258
I just want to say that this feature will be extremely helpful because my case could cost for days based on a single PC!
I tried tisimst's pyswarm 0.7 which has an argument of "processes", but it seems that it doesn't work for me in a 20-cores desktop.

[2019-01-29 00:18] ljvmiranda921 commented on #258
We'll try our best @starfriend10 , as of now most of us are really swamped by our day jobs and we haven't estimated the complexity of adding this feature (as for myself, I need to learn how subprocessing works). I guess the next critical feature for the 0.5.0 release would be to avoid computing the cost function twice per iteration, that I think we can do in the short-term.

cc: @whzup

[2019-01-29 02:44] starfriend10 commented on #258
@ljvmiranda921 Sure, I saw the discussion you had about the repeating computation problem, it's glad to hear that you will fix it in the near future.
I don't know multiprocessing neither.
Although I don't know if it will be useful, I did a little customization (minor changes) of the code for my case, probably will share my experience in near future when I have more time.

[2019-01-29 08:21] #250 closed

[2019-01-29 12:25] #262 closed

[2019-01-29 12:25] #245 closed

[2019-01-30 02:29] ljvmiranda921 opened #264 "Update example notebooks"
After releasing v0.4.0, it seems that we already had some API changes that were not reflected in the notebook. What you need to do is just rerun all the notebooks in [this link](https://github.com/ljvmiranda921/pyswarms/tree/master/examples) and update the code as necessary to account for API changes :+1:

[2019-01-30 06:40] adrish96 commented on #264
Can you give some more details as to how do I get started with this?

[2019-01-30 07:31] ljvmiranda921 commented on #264
Hi @adrish96 ! Welcome to Pyswarms!

The first step is to [fork this repository](https://help.github.com/articles/fork-a-repo/) and [create your own branch](https://confluence.atlassian.com/bitbucket/branching-a-repository-223217999.html). Clone your branch, then head over to `pyswarms/examples` and you'll see a bunch of jupyter notebooks.

For each notebook
- Just try running the cells inside it

[2019-01-30 07:45] fluencer commented on #264
I am running the notebooks. I cloned the repo and installed the pyswarms library as specified in the readme. But I get the error 'yaml' not found at the line `import yaml`. Is this the library I have to use? https://pyyaml.org/wiki/PyYAMLDocumentation

[2019-01-30 08:38] ljvmiranda921 commented on #264
Hi @fluencer ! Yes that's the library to use :smile:

[2019-01-30 09:11] fluencer commented on #264
@ljvmiranda921 I made changes to the basic_optimization.ipynb notebook and I want to push it. But I am denied access. I am a first-timer so I am not sure what to do.

[2019-01-30 09:16] ljvmiranda921 commented on #264
Hey @fluencer, you should fork this repo first then clone your own fork :) check my comments above and in the contributing guidelines :)

[2019-01-30 18:36] Chimdiya1 commented on #264
pyswarms/examples does not exist

[2019-01-30 20:12] danielcorreia96 commented on #257
Hi @ljvmiranda921  and @pdiaz2 ,

I've opened a pull request based on the solution file provided in the previous comment (full credits to @pdiaz2 🏆 ), which removes the second cost function call using the pbest_cost initialization to np.inf.

[2019-01-31 00:06] ljvmiranda921 commented on #260
Hi @Anesh117

Hmmm, it really depends on the dataset and the algorithm you are using. It's not guaranteed that training a neural network with PSO can solve image problems, it requires more experimentation, etc. I'd be glad if you've already figured this one out! If that's the case, would you mind sharing a Jupyter notebook of your experiments?

[2019-01-31 00:08] ljvmiranda921 commented on #257
Hi @danielcorreia96 ! Welcome to Pyswarms! That's really awesome :+1: Ok, we'll review your work in a while

[2019-01-31 00:13] ljvmiranda921 commented on #264
Oops @Chimdiya1 , so sorry, it should just be in `./examples`.

Also, I realized that there are three people working in this issue, how about we divide the tasks?
Since the first one's already been PR'd, how about:

@fluencer
- custom_optimization_loop.ipynb

@adrish96
- feature_subset_selection.ipynb
- train_neural_network.ipynb

@Chimdiya1
- inverse_kinematics.ipynb
- visualization.ipynb

Just r

[2019-02-02 06:15] fluencer commented on #264
I have finished that were allotted to me. Can I work on the rest and push them along too?

[2019-02-02 11:06] ljvmiranda921 commented on #264
Hi @fluencer, i think @Chimdiya1 and @adrish96 will claim the other notebooks. So it’s all good now, I’ll check your PR and merge them this weekend!

[2019-02-03 02:05] #260 closed

[2019-02-03 23:04] Chimdiya1 commented on #264
could you brief me on how you did it?

[2019-02-04 09:20] adrish96 commented on #264
I have a few doubts,
1) is 'git checkout -b <branch-name>' on the command line same as clicking the 'branch <branch-name>' tab on the github website?
2) I cloned the project and installed it according to the contributing guidelines, it was successful, I then initiated the jupyter notebooks from the conda command line, I was unable to 'import pyswarms as ps', how can I resolve this?
I'm a total beg

[2019-02-04 14:40] ljvmiranda921 commented on #264
Hi @adrish96

1. As far as I know, it's not. `git checkout -b` makes sure that the files in your local repository will be in the state of the target branch. I hope this made sense :smile:
2. Would you mind copying the full error here?

[2019-02-04 14:41] ljvmiranda921 commented on #264
Hi @Chimdiya1

The first step is to [fork this repository](https://help.github.com/articles/fork-a-repo/) and [create your own branch](https://confluence.atlassian.com/bitbucket/branching-a-repository-223217999.html). Clone your branch, then head over to `pyswarms/examples` and you'll see a bunch of jupyter notebooks.

For each notebook
- Just try running the cells inside it
- If there's an error,

[2019-02-05 13:16] miguelcocruz commented on #202
Is this still up for grabs?

[2019-02-07 12:18] pmk21 commented on #264
New to open source and I'd like to contribute, but seems like work has already been allotted.
Can I still contribute to this issue?

[2019-02-08 00:39] ljvmiranda921 commented on #264
Hi @pmk21 , I'm afraid all notebooks in this Issue have been taken. We'll open up a new first-timers issue soon though!

[2019-02-09 03:47] #237 closed

[2019-02-09 04:47] #150 closed

[2019-02-09 04:48] ljvmiranda921 commented on #202
Hi @miguelcocruz , I think this is up for grabs now! Wanna make a PR?

[2019-02-10 02:21] d-lowl commented on #9
As far as I can see, not much work has been done for MOPSO yet. I have written a crude implementation of Multiple Objective PSO on top of this codebase, for my own research (following [this paper](https://ieeexplore.ieee.org/abstract/document/1304847)). It serves my case pretty well, but it definetely requires a lot of cleaning up (I've put this up in one day), and must be adjusted to the current

[2019-02-10 03:48] ljvmiranda921 commented on #9
Hi @d-lowl , I think that would be really helpful! Sure, we can do the cleaning up and we can work together on writing the test cases and documentation! Please ping us here for any updates!

[2019-02-10 15:23] ljvmiranda921 opened #271 "Add contributors"

[2019-02-10 15:24] ljvmiranda921 commented on #271
@all-contributors please add @Carl-K for code and tests

[2019-02-10 15:25] ljvmiranda921 commented on #271
@all-contributors please add @SioKCronin for code, maintenance and ideas

[2019-02-10 15:26] ljvmiranda921 commented on #271
@all-contributors please add @jazcap53  for tests and code

[2019-02-10 15:29] ljvmiranda921 commented on #271
@all-contributors please add @mamadyonline  for code

[2019-02-10 15:30] ljvmiranda921 commented on #271
@all-contributors please add @jayspeidell  for code

[2019-02-10 15:31] ljvmiranda921 commented on #271
@all-contributors please add @slek120  for bug and code

[2019-02-10 15:32] ljvmiranda921 commented on #271
@all-contributors please add @CPapadim  for bug and code

[2019-02-10 15:33] ljvmiranda921 commented on #271
@all-contributors please add @dfhljf  for code

[2019-02-10 15:35] ljvmiranda921 commented on #271
@all-contributors please add @nik1082  for code

[2019-02-10 15:36] ljvmiranda921 commented on #271
@all-contributors please add @jdbohrman for code

[2019-02-10 15:37] ljvmiranda921 commented on #271
@all-contributors please add @bradahoward for code

[2019-02-10 15:38] ljvmiranda921 commented on #271
@all-contributors please add @ThomasCES  for  code

[2019-02-10 15:48] #271 closed

[2019-02-11 19:48] whzup opened #285 "BoundaryHandler's memory is not populated in the Optimizers"
**Describe the bug**
The `BoundaryHandler` sometimes does not handle the positions right because its memory is not populated. This occurs when using the `shrink` or `intermediate` strategy.

**To Reproduce**
Steps to reproduce the behavior:
- Run the following script:
[code]
This returns a `ValueError` from the holdertable function.

**Expected behavior**
The optimization should run without errors

[2019-02-11 20:17] whzup commented on #261
Hey @peterfakhry, we implemented the handlers for the boundaries now. Try updating your pyswarms version and rerun your code. I'm wondering whether this solved your issue as well.

[2019-02-12 00:15] ljvmiranda921 commented on #264
Hi, @fluencer , it seems that the others haven't made progress with their own notebooks. Would you like to do those as well?

For @adrish96 and @Chimdiya1 , you can probably try updating the README or anything?

[2019-02-12 00:22] ljvmiranda921 opened #287 "Update README documentation"
There's so much API change that even the documentation in the README will not work right away. Any help here would really be appreciated. The goal is to just try out the code samples in the docs, and correct them into our new version.

[2019-02-12 01:45] ndngo commented on #287
Hello @ljvmiranda921, I'd like to help out with PySwarms and claim this issue.

[2019-02-12 01:53] ljvmiranda921 commented on #287
Ok thank you @ndngo ! Please do!

[2019-02-12 07:15] adrish96 commented on #264
I really have the desire to work on the Jupyter notebooks, work has been so hectic off late, damn! I'll give it another go this evening :)

[2019-02-12 07:35] ljvmiranda921 commented on #264
Ok sure, it's good to give confirmation! Ok, will reserve that for you @adrish96 , cc: @fluencer

[2019-02-12 08:13] peterfakhry commented on #261
hi whzup, thank you so much for your reply, hope you did well in your exams. i actually noticed that the swarm begin to move when updating to 0.4.0 however:
1) what do you mean by handlers: velocity clamper, inertia.... ?!
2) you mean you implemented this inside the code, so i do not have to modify anything?
**_3) if i want to modify my particle position within the iterations should i use optimize

[2019-02-12 08:13] peterfakhry commented on #261
hi whzup, thank you so much for your reply, hope you did well in your exams. i actually noticed that the swarm begin to move when updating to 0.4.0 however:
1) what do you mean by handlers: velocity clamper, inertia.... ?!
2) you mean you implemented this inside the code, so i do not have to modify anything?
**_3) if i want to modify my particle position within the iterations should i use optimize

[2019-02-12 08:52] whzup commented on #261
@peterfakhry No problem, I am here to help 😄.

1. The handlers are two new classes in the backend of pyswarms. Their task is to handle particles that would surpass the boundaries. They are built into the optimizers, though, so you don't have to invoke them yourself. The only thing you can play around with are the strategies (the bh_strategy and vh_strategy). Here an example with your code above (I

[2019-02-13 18:16] peterfakhry commented on #261
hey, sorry for late reply ok, so i modified the file global_best.py (Lib/site-packages/pyswarms) from the ones in the picture to this:
![capture](https://user-images.githubusercontent.com/40067011/52733491-86ec2400-2fcb-11e9-8d16-c9135e4283af.PNG)
`for i in self.rep.pbar(iters, self.name):
            if not fast:
                sleep(0.01)
            # Compute cost for current position and pers

[2019-02-13 19:02] whzup commented on #261
1. If you have any way to tell if a particular particle is faulty you can just access it by indexing. The position of the swarm is just a `numpy.array`. For multiple faulty particles you may use [numpy array slicing](https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.indexing.html).

2. That's an inheritance error. Could you please show the whole traceback so I can see where the error stems

[2019-02-13 20:50] habeckmatt commented on #287
Hi @ljvmiranda921 I would like to help with this issue.

[2019-02-14 12:16] danielcorreia96 opened #289 "Handlers features from #238 removed duplicate calls fixes from #266"
**Describe the bug**
The PR that added boundary/velocity handlers (#238)  removed the fixes to duplicate function calls.

**To Reproduce**
For example, check the history of GeneralOptimizer at https://github.com/ljvmiranda921/pyswarms/commits/master/pyswarms/single/general_optimizer.py

You can see that the handlers commit reverted the duplicate function call fixes (array np.inf initilization and

[2019-02-14 12:20] ljvmiranda921 commented on #289
Whoops, thanks for catching @danielcorreia96 !

@whzup , can you facilitate the review on the upcoming PR?

Would it be better to work on [this branch](https://github.com/whzup/pyswarms/tree/fix-handlers) since @whzup is introducing another fix to the handlers? So that I can just merge that one and make a patch release

[2019-02-14 13:43] danielcorreia96 commented on #289
I don't think working on top of an existing branch is a good idea: each branch should target a specific feature/problem 👍

[2019-02-14 13:50] ljvmiranda921 commented on #289
Thanks for this, @danielcorreia96 !

[2019-02-14 13:59] #289 closed

[2019-02-14 14:01] peterfakhry commented on #261
ok, so :
1) you mean that we can form a nested loop on the number of particles like 'j' for example and evaluate objective function for every particle but not the whole swarm (like modifying the whole 'i' loop) like
self.swarm.current_cost[j] = objective_func(self.swarm.position[j], **kwargs)
and so on...... I mean for every i iteration do j nested iterations for every particle and delete the loop

[2019-02-14 14:11] #285 closed

[2019-02-14 14:34] ljvmiranda921 commented on #287
Hi @habeckmatt , unfortunately this has already been taken. Perhaps you can prod around our documentation and check for inconsistencies regarding the actual API and the one documented? We would really appreciate that!

[2019-02-14 14:49] ljvmiranda921 opened #291 "NOTICE: Documentations Maintainer Wanted"
After a few API changes for the last few releases, we realized that there are still some inconsistencies in our API Documentation, Tutorials, and Examples with what the actual library is. We would love to welcome a new Maintainer who will be in-charge for that.

**We would appreciate someone who:**
- Is familiar wit the Git workflow (push/pull, branching, etc.)
- Has some design skills (we might p

[2019-02-14 16:15] ndngo commented on #287
Hello @ljvmiranda921, I tried out the code samples in the README. In the code sample for the sphere function optimization, I got a type error:
`TypeError: sphere() got an unexpected keyword argument 'verbose'`
when trying to run [this line of code](https://github.com/ljvmiranda921/pyswarms/blob/574519aa21b4092810998fe89fed2d8f65c00618/pyswarms/single/global_best.py#L183)

The Hyperparameters searc

[2019-02-14 17:11] danielcorreia96 opened #292 "BinaryPSO returns swarm positions instead of best particle position"
**Describe the bug**
The binary optimizer returns the entire final swarm instead of the final best position.

I think this happens because in the return stage of the optimize() function, we are copying self.swarm.best_pos which is an array (n_dimensions, particles), instead of the position of the best particle.

The expected behavior is implemented in local_best.py.

Hence, I think
`final_best_pos

[2019-02-14 17:50] danielcorreia96 commented on #292
FYI, I re-tested with previous versions and this behaviour only appeared at 0.4.0 and I'm pretty sure it was introduced during the commit for fixes in topologies -> https://github.com/ljvmiranda921/pyswarms/commit/d226c35c1d8425b1bf70b7f913d6144bc60eddd1

Notice that local_best.py was updated but binary.py wasn't 🔍

[2019-02-15 01:28] ljvmiranda921 commented on #292
Hi @danielcorreia96 ,

Thanks for this Issue. So this bug is currently active at the current version, right? Would you like to submit a Pull Request for this?

[2019-02-15 08:56] stevenbw commented on #291
@ljvmiranda921 I'm keen to help out with this :)

[2019-02-15 08:56] ljvmiranda921 commented on #287
Hi @ndngo , would you like to make a PR so that the README is updated to make everything work?

[2019-02-15 12:26] danielcorreia96 commented on #292
@ljvmiranda921
1. Yes, this bug is active in the current version (1.0.1).
2. I can make the PR with this fix. I just wanted to check first if the problem was in the optimizer or in the Ring topology (seems to be the common factor here) 👍

[2019-02-15 18:06] ndngo commented on #287
@ljvmiranda921 Sure!

[2019-02-16 12:05] stevenbw opened #294 "DOC: Documentation guidelines"
Writing documentation including docstrings and examples is an ongoing task. I believe there should be some (initially rough) guidelines in place to allow new and existing contributors to follow a consistent standard and formatting of documentation.

I think it would be good to get other people's thoughts on this before diving straight in. Some discussion points could be:

- Are guidelines necessar

[2019-02-16 14:41] ljvmiranda921 commented on #291
Hey @stevenbw ! Awesome! Will get back to you on Monday!

[2019-02-16 14:41] #291 closed

[2019-02-17 14:08] ljvmiranda921 commented on #294
Hi @stevenbw , these are awesome questions. Let me answer in a while

[2019-02-17 16:56] #202 closed

[2019-02-17 18:15] whzup commented on #261
@peterfakhry
1. Yes, nesting should be possible. I beg your pardon, what do you mean by "affect the structure of the array"? What your objective function should return? If so, I guess it should suffice to return a `( ,dimension)` shaped array. But you have to stack the processed arrays together to have a 2d-array with the costs (the swarm needs this).

2. That's weird. 🤔 Are you using Python 3? I

[2019-02-17 18:56] peterfakhry commented on #261
hi sir
1) my objective function takes the swarm as an input and returns a single number (cost) for each particle, so it returns a 1-D array of fitness values whose size is the number of particles (,n_particles) and not (,dimension). lets stop here a bit,,, is this is correct??!  why did you say it should return an array of number of dimensions.  cant understand this " But you have to stack the pro

[2019-02-18 01:45] #292 closed

[2019-02-18 01:59] ljvmiranda921 commented on #294
Hi @stevenbw ,

Again, welcome to PySwarms! Thank you so much for volunteering!

- Yes guidelines are absolutely necessary! This may involve the current writing style (method docstrings should be in imperative form, git commits should also have a certain commit message, etc. etc.)
- I think docstrings and example notebooks should have good guidelines at best
- Right now we adhere to the numpy docs

[2019-02-18 05:20] ndngo commented on #287
Hi @ljvmiranda921, I've gotten the code to compile but I'm having trouble getting plt.show() to display the graphs. I tried changing the backend matplotlib uses from Agg to GtkAgg with no success so I was wondering how it is supposed to be set up.

[2019-02-18 05:51] ljvmiranda921 commented on #287
Hey @ndngo , what is the error message showing?

[2019-02-18 06:05] ndngo commented on #287
ImportError: Cannot load backend 'TkAgg' which requires the 'tk' interactive framework, as 'headless' is currently running

[2019-02-18 06:12] ljvmiranda921 commented on #287
Hi @ndngo ,

Would this work? What is your OS?

[code]

[2019-02-18 06:17] ndngo commented on #287
I'm using Windows Subsystem for Linux.

[2019-02-18 06:18] ljvmiranda921 commented on #287
Can you try the command above? It seems that you don't have TKinter in your system

[2019-02-18 06:36] ndngo commented on #287
I ran the command but it still gives the same error. It doesn't seem to know that TKinter is installed.

[2019-02-18 06:50] ndngo commented on #287
I'll try compiling matplotlib from source as this person has suggested.
https://stackoverflow.com/questions/12933335/tkagg-backend-problems?rq=1

[2019-02-18 20:08] whzup commented on #261
1. Yes you are right, excuse me I was somewhere else with my mind 😅 You have to return a single cost value and after your nested loop you have to stack (e.g. `np.stack`) all these cost values in an `np.array` such that you can assign it to the swarm's attribute like [here](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/single/global_best.py#L183). Since you are diving really deep i

[2019-02-18 20:10] ndngo commented on #287
I saved the graphs as pngs instead of trying to display them in a new window to test the output.
![test](https://user-images.githubusercontent.com/16291290/52973711-f7f55800-338c-11e9-9498-8aebcd33f420.png)
![test1](https://user-images.githubusercontent.com/16291290/52973712-f7f55800-338c-11e9-8a44-a38b902c3a40.png)
![test2](https://user-images.githubusercontent.com/16291290/52973713-f7f55800-338c

[2019-02-18 20:35] stevenbw commented on #264
Hi @fluencer, @adrish96 - how's it going with the example notebooks?

[2019-02-18 21:11] stevenbw commented on #294
Hi @ljvmiranda921 no problem I am happy to help :)

Thanks for the ideas - maybe a little later I will put some brief ideas on guidelines into the contributing guide.

I'll start working through some of the points you mentioned above I imagine some of it will be self assigned but I will create issues anyway.

[2019-02-18 21:21] stevenbw opened #297 "DOC: Sync example notebooks"
Due to some API changes, there was a need to update some example notebooks (see #264). These changes now need to be synced with the [online documentation][doc link].

[doc link]: https://pyswarms.readthedocs.io/en/latest/examples/usecases.html

Status of notebooks:
- [x] basic_optimization.ipynb
- [x] custom_optimization_loop.ipynb
- [x] electric_circuit_problem.ipynb (new)
- [ ] feature_subset_se

[2019-02-18 21:28] stevenbw opened #298 "DOC: Update HISTORY with release notes"
Due to the recent version changes the [HISTORY][hist link] needs to be updated to reflect what is in the [Release Notes][release link].

[hist link]: https://github.com/ljvmiranda921/pyswarms/blob/master/HISTORY.rst
[release link]: https://github.com/ljvmiranda921/pyswarms/releases

[2019-02-19 00:39] ljvmiranda921 commented on #294
Thank you as well! This is much appreciated!
If you have any questions or anything don't hesitate to ping us!
I also added you to the collaborator's list. You should receive an invite by now

[2019-02-19 18:09] danielcorreia96 commented on #258
Hey @ljvmiranda921, just wanted to say that I'm interested in working on this since the objective function I'm using for my project is fairly expensive and I'm happy to help.

From what I can tell, there are 3 main features being discussed in this issue:
1. **Parallel particle evaluation using **multiple threads****
   - This probably won't improve performance due to Python's GIL 🤔
2. **Parallel p

[2019-02-19 21:22] peterfakhry commented on #261
ok sir, i almost got a heart attack when you first commented 3\. just smile. i shall spend some time the coming days trying to produce my custom loop. excuse me, but i will keep you updated if any problems happen. thanks a lot for your precious help, i really appreciate it

[2019-02-20 01:19] ljvmiranda921 commented on #258
Hi @danielcorreia96 ,

It would really be nice to have more hands on deck, especially that parallelism is (to be honest) not something I can definitely dive into! @whzup and I have been thinking of this feature for a while, and a lot of requests are coming in regarding the speed of our optimization algorithms. Having someone dedicated to this task will be very nice!

I think **Parallel particle ev

[2019-02-20 02:35] danielcorreia96 commented on #258
@ljvmiranda921 I'll start working on it then 👍

As far as design goes, we're mostly in agreement except that I think the **default value** should be `None`, as in "**don't paralelize the evaluation**", so that the user can control this part of the optimizer. Depending on the objective function and the execution context, **the overhead of paralelization may or may not be worth it**.

We can still h

[2019-02-20 05:16] whzup commented on #258
@ljvmiranda921 @danielcorreia96 May I provide some thoughts of mine to the design issue. I feel like we should decouple the parallel particle evaluation and the optimizers such that one would still have access to it when he builds his own optimizer. To be honest, I don't know if this is even possible but the optimizers should have as little of additional functionality compared to the backend as po

[2019-02-20 05:54] ljvmiranda921 commented on #258
@whzup makes a lot of sense.

Is it possible to create a pyswarms.backend.multiprocessingand call that whenever the user needs to implement multiproc when building his own optimizer?

This then means that our optimizers will be calling from the backend and the multiproc, the same way that logging (the Reporter module) is decoupled from the high level abstractions (optimizers) to the low-level ones

[2019-02-20 06:01] ljvmiranda921 commented on #258
Not yet sure how pyswarms.backend.multiprocessing should be called, maybe

- as a context?
- as a decorator?

Pardon the code block, currently on phone:

from pyswarms.backend import multiproc

with multiproc(n_jobs=-1, **kwargs):
    # anything below here is executed in parallel

I think implementation wise, you can have the freedom to write as you please, @danielcorreia16

I dont even think mult

[2019-02-20 06:22] citomcclure commented on #297
Hi @stevenbw !

I'll take this one if that's okay! I will follow a lot of the direction given in the referenced issue (#264).

[2019-02-20 06:44] soamaven commented on #258
concurrent? simultaneous?

not difficult to catch an explicit keyword such as `"all"` as well, and protect/warn against more processes than CPUs?

Thanks for working on this everyone -- been wrapping up my thesis and am glad someone has taken the time. I like the strategy you all have created.

[2019-02-20 06:54] whzup commented on #258
I found [deco](https://github.com/alex-sherman/deco) after a quick google search. It seems to be very easy but it would add to our dependencies (and we already have enough of those 😄)  and may restrict us in expanding on the multiprocessing feature.

I feel like a decorator might be a sensible solution (although I have absolutely no experience with contexts and what their use case is besides `with

[2019-02-20 08:00] stevenbw commented on #297
Hi @citomcclure that's great to hear!
Don't hesitate to ask if you need any support with regards to the issue.

[2019-02-20 10:23] DerPhysikeR opened #300 "pyyaml not in requirements.txt"
Hi everybody, thank you for pyswarms!

Is there a reason why pyyaml is only defined as a dev dependency?

**Describe the bug**
Pyswarms can not be imported after installation, since it depends on pyyaml in pyswarms/utils/reporter/reporter.py, which is not defined as a dependency.

**To Reproduce**
Steps to reproduce the behavior:
 1. install pyswarms with pipenv
 2. try to import pyswarms
The erro

[2019-02-20 13:09] ljvmiranda921 commented on #300
Hi, I think this is a mistake on our part. Pyyaml should be in `requirements.txt`
Would you like to open up a Pull Request for that?

[2019-02-20 13:54] DerPhysikeR commented on #300
Yes, I will do that.

[2019-02-20 15:10] danielcorreia96 commented on #258
I'm not sure we should make a new module in backend for parallel evaluation **yet**.

I'd argue we should start with a simpler implementation wherein we **abstract the objective function evaluation**.

Hence, instead of calling the evaluation function directly like this
`self.swarm.current_cost = objective_func(self.swarm.position, **kwargs)`

we would instead call an abstraction such as
`self.swa

[2019-02-20 16:48] whzup commented on #258
Hmm, I agree @danielcorreia96 maybe that's the best strategy at the moment 🤔.

[2019-02-20 18:50] citomcclure commented on #297
Hi @stevenbw

I forked the repo, and then cloned both my fork and the upstream. I made a new branch "issue-297" on my fork. I was able to access the notebooks, but I did not see anything else besides the notebooks in `pyswarms/examples`.

I assume I am suppose to update the `usecases.rst` file seen here: https://github.com/ljvmiranda921/pyswarms/tree/master/docs/examples

Any help would be great!

[2019-02-20 18:52] citomcclure commented on #297
Oh. Well now I see that the docs are in `docs/examples`. I'm good for now then!

[2019-02-20 20:14] #298 closed

[2019-02-20 20:16] citomcclure commented on #297
Hi @stevenbw !

A couple of questions so far:

- I can only update the `custom_optimization_loop.ipynb` so far right? I looked through the recent commits and saw that was the only one updated. So, do I do that one, make a pull request, and then wait for the others?
- I was manually going through and updating changes, but I found a library, `nbconvert`, that can convert to `.rst` files. That should

[2019-02-20 20:51] stevenbw commented on #297
Hi @citomcclure !

Yes - I am trying to find out if the others are in progress or not. As you suggested, I think it would be a good idea to submit the PR for the one file and then wait for the others.

I have not used that library myself but it should be okay. I would suggest reading through before you submit a PR, just to make sure the library hasn't done anything obviously wrong.

[2019-02-20 21:41] stevenbw commented on #156
Hi @whzup !
Do you need some help reviving this issue?

[2019-02-21 00:31] citomcclure commented on #297
Hey @stevenbw  , do I have to do virtualenv tests for documentation changes before making a pull request?

[2019-02-21 07:14] Prathamesh99 commented on #264
I'm an open source newbie and would like to make contributions for example notebooks. I love working on jupyter notebooks. I have forked the repository and have made some changes in example notebooks. All the cells are running successfully. So, can I open a pull request?

[2019-02-22 02:01] danielcorreia96 opened #303 "Optimizers have a "fast" flag that defaults to False"
**Describe the bug**
I was looking at the BinaryPSO code and I noticed this:
https://github.com/ljvmiranda921/pyswarms/blob/843ceba2aee56bae39f987d7f328db193ebb8e2a/pyswarms/discrete/binary.py#L170-L172

which refers to an optional argument `fast` passed to the `optimize` method:
https://github.com/ljvmiranda921/pyswarms/blob/843ceba2aee56bae39f987d7f328db193ebb8e2a/pyswarms/discrete/binary.py#L15

[2019-02-22 02:06] ljvmiranda921 commented on #303
Hi @danielcorreia96 ,

To be honest that was a wrong design decision of mine just so that the progress bars from `tqdm` would look nice. That's an invalid tradeoff, I admit. In hindsight we should remove that non-feature.

[2019-02-22 02:54] danielcorreia96 commented on #303
Hi @ljvmiranda921,

I figured it was something like that to "see" `tqdm` doing things 😅.

I'll make a fixing PR for this soon: should be pretty straightfoward 👍

[2019-02-22 03:32] ljvmiranda921 commented on #303
You can make a PR! I just assigned it to myself for accountability haha

[2019-02-22 19:40] whzup commented on #156
@stevenbw Thanks for the offer! 💯
I don't think it's something that is urgent at the moment. And we probably have to do this ourselves. We had it as a first-timers issue for over a month and no one seemed interested. I have started a Jupyter notebook for it in [my fork](https://github.com/whzup/pyswarms/blob/topology-vis/examples/how_pso_topologies_behave_in_pyswarms.ipynb) if you want to have a l

[2019-02-23 22:20] danielcorreia96 commented on #258
Hey, so I've been playing around with some solutions for parallel objective function evaluation and I've reached a wall.

The main issue is that, currently, objective functions are expected to take an array of particles and return an array of values. In other words, **the objective function passed to the optimizer must evaluate all particles in a single call**.

This is troublesome because, in ord

[2019-02-24 08:26] #287 closed

[2019-02-24 08:38] #303 closed

[2019-02-24 08:54] ljvmiranda921 commented on #258
Hey @stevenbw ,

Thanks for your questions!

It's a design decision to vectorize swarm computations. In this case, evaluating an objective function across the swarm is "parallelized."  It's supposed to be a speedup compared to the previous pyswarm. I'd say we keep it and let it stay that way.

Still, parallelization can still be achieved with the current design by dividing the chuks of compute (sa

[2019-02-24 08:59] ljvmiranda921 commented on #300
Awesome!! Don't hesitate to ping us if you have any questions!

[2019-02-24 13:51] stevenbw commented on #258
@danielcorreia96 - I think Lj is referring to you not me here 😄

[2019-02-24 13:53] ljvmiranda921 commented on #258
Whoops, my bad!! :laughing:

[2019-02-24 18:33] danielcorreia96 commented on #258
Hey @ljvmiranda921,

Thanks for the clarifications.

I'll try to use a chunking approach so that we can have parallelization and vectorization at the same time 👍.
I think that is still achievable with my initial proposal of a  "simple version" using an abstraction for the objective function call (see https://github.com/ljvmiranda921/pyswarms/issues/258#issuecomment-465617716)

Regarding the mainte

[2019-02-25 12:20] DerPhysikeR commented on #300
I'm sorry, but I will not be able to look into this issue for the next few days. If somebody else wants to make a pull request, feel free to do so.

[2019-02-26 14:05] ljvmiranda921 commented on #258
Hi @danielcorreia96 ,

Cool!
Yes, I think the abstraction you proposed should work. However, in case the codebase for parallelization became unexpectedly large, feel free to create your own `parallel` module :smile:

[2019-02-26 17:23] danielcorreia96 commented on #258
@ljvmiranda921 I've opened a draft PR where we can iterate on implementation-specific details of this feature, until we think it's good to go 😄

[2019-02-28 09:20] Axoahi opened #315 "Global optimize algorithm gets outside of boundaries parameters"
**Describe the bug**
We are trying to optimize a DBSCAN algorithms parameters, and it works nice with a few iterations and particles, but when we increase them, we get the error "eps must be positive" and its boundaries are between 0.001 -- 5

**To Reproduce**
Execute a DBSCAN algorithm

**Expected behavior**
It should finish the search :)

**Environment (please complete the following information)

[2019-02-28 09:21] Axoahi commented on #315
#### DBSCAN Optimization
#### Parameters PSO ######
iterationsDBSCAN = 2000
particlesDBSCAN = 100
# Range of values for DBSCAN paramters in PSO Optimization
# eps = 0.001 -- 5
minEps = 0.001
maxEps = 0.5
# Samples = 5 -- 30
minSamples = 5
maxSamples = 30
######################

#Create bounds up and down for the parameters of optimize function
max_bound = maxSamples * np.ones(2)
max_bound[0] = max

[2019-02-28 09:39] ljvmiranda921 commented on #315
Hi @Axoahi we'll get back to you shortly!
Wanna take this on, if you have time? @whzup @stevenbw ?

[2019-02-28 12:00] whzup commented on #315
Hey @Axoahi, thanks for your question. 😄
This error message is not from pyswarms and the `optimizer.hist` attribute only [stores the results of your objective function](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/single/global_best.py#L186). To me it seems like it is a problem with your objective function and not with `pyswarms`. Could you please check if `f_dbscan_accuracy` is

[2019-02-28 12:27] Axoahi commented on #315
Hi guys, thanks for your attention and your job.
@whzup, It could be possible, but it depends of input parameters, that global optimizer sends. The point is, is it possible to work fine with a set of parameters, and work bad with others? Maybe I have minderstood something :P
Anyway, here is the code of the two other functions that I am using, and a img with the error
If you need anything else, no

[2019-02-28 14:06] stevenbw commented on #315
Hi @Axoahi , are you able to show us the `x` parameter that you used? That is, the parameter which you are passing into the `f_dbscan_accuracy` function.

[2019-02-28 17:25] Axoahi commented on #315
Hi @stevenbw, I am using the tutorial from the docs

https://pyswarms.readthedocs.io/en/latest/examples/custom_objective_function.html

In that tutorial, the function f(x) (the equivalent to mine f_dbscan_accuracy). As long as i know, the goal of that function is to move the particles in the dimensional space and then calls the objective-main function (in my case, optimize-dbscan-accuracy)

If you

[2019-02-28 23:39] citomcclure commented on #300
Hi @ljvmiranda921 , I'd be happy to take this one, but we can wait a little bit to see if a first-timer would like to take it. Thank you!

[2019-03-01 11:14] stevenbw commented on #315
Hi @Axoahi thanks for the information.

I have been able to replicate the bug and added a print statement to print the particle positions.

It seems that one particle's `min_sample` (`x[1]`) position goes from 25 to `NaN` causing the error from DBSCAN. Could this be caused by a `NaN` velocity @whzup ?

[2019-03-01 15:54] whzup commented on #315
@stevenbw You can easily check if any velocities are `NaN`. They should be stored in the `hist` attribute as well.

I won't have a lot of time during the weekend so I'd propose that we should try to use `pdb` to debug this one. I think it should be easier to find the error when you can go through the program step by step. Maybe this [SO question](https://stackoverflow.com/questions/242485/starting

[2019-03-04 12:15] Axoahi commented on #315
Hi @stevenbw
Sure, here you have the whole code for the execution, and the data that you need for creating the dataframe. You know, you must put the csv file on same directory as python code

[code]

[normData.zip](https://github.com/ljvmiranda921/pyswarms/files/2926270/normData.zip)

[2019-03-04 15:47] Axoahi commented on #315
BTW, it takes around 8 hours to get a good solution, but it crashes around 4 hours after it gets started

[2019-03-05 12:00] ctangell commented on #300
I'd like to try to take this on, if that's alright.

[2019-03-05 12:30] ljvmiranda921 commented on #300
Hi @citomcclure sorry for the late reply, yes you can take this!
Hello @ctangell , sorry but @citomcclure made dibs on this 5 days ago. But you can still contribute! I can refer you to Issues #297 or #264 if you're interested!

[2019-03-05 15:29] gustavovelascoh commented on #264
Hi, is this still open? Any work to do here?

[2019-03-06 06:58] olixu opened #317 "unexpected keyword argument 'print_step'"
**Describe the bug**

when i play your demo: /example/train_neural_network. it shows:

[code]

**Environment (please complete the following information):**
 - OS: [Linux]
 - Version [manjaro 18]
 - PySwarms Version [v1.0.2]
 - Python Version [3.7.2]

**Additional context**
None

Thank you!

[2019-03-06 09:36] stevenbw commented on #264
Hi @gustavovelascoh , welcome to PySwarms!

Yes this is still open - you can work on the feature_subset_selection.ipynb example.

Let me know if you have any questions.

[2019-03-06 09:38] stevenbw commented on #317
Hi @olixu , welcome to PySwarms!

Thank you for raising this, we are already aware of the issue (see #264 ) and are currently working on updating them. Perhaps you could work on one, if you are interested?

[2019-03-06 10:30] gustavovelascoh commented on #264
Hi @stevenbw, that's the one I have started with :). Regarding the `print_step` argument issue (#317), I have noticed that method optimize does not expect print_step or verbose arguments (as in [docs](https://pyswarms.readthedocs.io/en/latest/api/pyswarms.discrete.html#pyswarms.discrete.binary.BinaryPSO.optimize) ). These are passed to the objective function which does not expect them neither, so

[2019-03-06 19:55] stevenbw commented on #300
Closed by #316

[2019-03-06 19:55] #300 closed

[2019-03-06 20:17] stevenbw commented on #264
Hi @gustavovelascoh !

Regarding the outdated arguments - great that's exactly what the aim of the issue is 😄 . I'm not against changing the name as long as there is a valid reason to change it (in this case "classifier" is much more descriptive) so that's fine, please make sure you have changed all references to "c1" to "classifier". It's difficult for me to help with the Seaborn issue without se

[2019-03-12 21:15] stevenbw commented on #315
Hi @Axoahi - sorry for the delay in responding. I should have some time over the next few days to look into this further. Thanks for providing all of the code and data. Does an eps value of 0.001 make sense in your domain? My first impression is that it is not related to the data but more likely to the accuracy function.

[2019-03-13 09:53] Axoahi commented on #315
Hi @stevenbw. Take it easy, I posted this in order to improve pyswarms. And yes, an eps=0.001 make sense in my domain (its the minimal radius to clusterize our data, taking in account that our data has been normalized). What I am trying to do with pyswarms and dbscan, is to see which combination of eps and samples is the suitable to get the highgest accuracy

[2019-03-15 12:44] gustavovelascoh commented on #264
Hello @stevenbw, sorry for the delay. Regarding the change from `c1` to `classifier`, it was needed because `c1` never existed.

I'm just preparing the PR, it will be open in a few hours. Thanks.

[2019-03-17 13:10] lcyuanjiang commented on #317
obviously, the optimizer function  doesn't have the 'print_step' and 'verbos' interface

[2019-03-17 13:35] ljvmiranda921 commented on #297
Hello @stevenbw , would it be nice to have a checklist on the very first comment just to track how much of our example notebooks and its corresponding examples in the documentation were already done? Something like this:

- [ ] basic_optimization.ipynb (assigned to @ljvmiranda921 )
- [ ] basic_optimization.rst (assigned to @ljvmiranda921 )

[2019-03-17 13:37] ljvmiranda921 commented on #317
Hi @lcyuanjiang , would you like to contribute in updating the documentation?

[2019-03-17 18:52] stevenbw commented on #297
Hi @ljvmiranda921 , I have added a checklist to the first comment. I will update it as the notebooks and documentation are updated.

[2019-03-18 00:17] ljvmiranda921 commented on #297
Awesome! Thanks a lot @stevenbw !

[2019-03-21 02:03] ichbinjakes commented on #258
I have just used this library to try and find a good subset of features using the example in the docs [here](https://pyswarms.readthedocs.io/en/latest/examples/feature_subset_selection.html#feature-selection-and-the-objective-function). I changed the code slightly to execute in parallel:
[code]
Leaving the number of threads out of ThreadPool crashed my kernel in jupyter.
You could use joblib inste

[2019-03-21 04:57] ichbinjakes opened #321 "BinaryPSO does not return best pos"
**Describe the bug**
BinaryPSO does not return best pos

**To Reproduce**
Run Feature Subset Selection [notebook](https://github.com/ljvmiranda921/pyswarms/blob/master/examples/feature_subset_selection.ipynb)

After running the optimiser, calling `f_per_particle(pos)` does not return a value equal to `cost`.

**Expected behavior**
`f_per_particle(pos) == cost` should return True

**Environment (pl

[2019-03-21 06:18] ichbinjakes commented on #321
I am not sure if this is the intended behaviour. The Docs say:
[code]
But the code comments say ```# Obtain the final best_cost and the final best_position```. Is  `final_best_pos` the overall best solution found? Is this the same or different to local best position?

The global best pos can be found with:
[code]

I can submit a PR that fixes the return value or, add a method or variable to access

[2019-03-22 08:54] whzup commented on #321
Hello @ichbinjakes and welcome to pyswarms! 😄

Thanks for your report. :+1: It seems like there is a small "typo" in the [code](https://github.com/ljvmiranda921/pyswarms/blob/master/pyswarms/discrete/binary.py#L205). Instead of the `position` argument, it should use the `best_pos` argument as you say. It should return the best position that has been found over the entire course of the optimization

[2019-03-23 14:12] johnnyhatem commented on #264
Hi, is this still open?

[2019-03-24 21:43] #261 closed

[2019-03-25 18:38] brandondube opened #323 "Relax dependency requirements"
Pyswarms does not explicitly depend on the state of (for example) scipy@1.2.0.  It would be nice to see the requirements changed to be (for example) scipy > 1.2, if it depends on features introduced then.

It would also be nice to see this folded into setup.cfg in keeping with the best practices for modern setuptools/distutils.

Would a PR making these changes be welcome?  If so, are there any fan

[2019-03-26 13:07] ljvmiranda921 commented on #323
Hi @brandondube ,

We'd want to pin the `requirements.txt` and `requirements-dev.txt` file as much as possible so that everything is reproducible. If you are to use PySwarms into your system, I'd recommend installing it inside a virtual environment so that it avoids clashing with any dependencies you currently have system-wide.

Are you encountering any problems with the dependencies? Maybe we can

[2019-03-26 13:24] brandondube commented on #323
Why such a strong goal of reproducibility?  This is a library, not an app.  Compatibility is arguably (and IMO) more important.  Save reproducibility for CI with a travis.yml configuration that has pinned versions or something.

The pinned versions are an annoyance more than a problem -- I installed pyswarms and it clobbered a good chunk of my venv's (superior) versions with its own, arbitrary req

[2019-03-26 13:34] ljvmiranda921 commented on #323
Hello,

As a scientific tool, we'd want our tools to be as controlled as possible. I'd still maintain that we pin our dependencies. It's also my guarantee, as a maintainer, that whatever I ship will always work. Hmm, it's definitely my first time to encounter a dependency problem in this library.

Normally I'd set things up like this:

[code]

I wonder how it clobbers your virtual environment. Any

[2019-03-26 14:16] brandondube commented on #323
Clobbering is because *that's what pip does.* . pyswarms wants scipy@1.2.0, I have 1.2.1.  It uninstalls 1.2.1 and installs 1.2.0.

"Control" with your req.txt is really an illusion.  Your dependencies produce > 100 other packages, most of which without pinned versions.  And if you did a pip freeze > req.txt, that file might not work on a different OS.  Pip doesn't have a resolver, so you might en

[2019-03-26 14:58] ljvmiranda921 commented on #323
Sure, this won't really matter if you are inside a virtual environment because it's separate from your system-wide dependencies. Have you tried the recommendation above?

Seems possible. Thanks for the recommendation!

[2019-03-26 15:14] ljvmiranda921 commented on #323
A good resolution would be to maintain `requirements.txt` + `requirements-dev.txt` and use `requirements.in` (a relaxed version) for `setup.py`.

I'm also going to call you out for being rude in your manner of tone. It's fine to be annoyed if things don't install properly that way you're used to, but you gonna temper your words dude. We're all volunteers just using our free time to build tools for

[2019-03-26 15:15] #323 closed

[2019-03-26 16:47] brandondube commented on #323
Don't tone police your users.

[2019-03-27 06:46] whzup commented on #261
Hey, @peterfakhry have you resolved your problem yet?

[2019-04-03 14:09] ljvmiranda921 opened #325 "Migrate from Travis"

[2019-04-06 09:31] #258 closed

[2019-04-06 09:31] ljvmiranda921 commented on #258
Closed by #312

[2019-04-10 03:45] #325 closed

[2019-04-10 05:02] ArtificialZeng commented on #317
the same situation.

[2019-04-10 05:02] ArtificialZeng commented on #317
Did you solved this???

[2019-04-10 05:14] ArtificialZeng commented on #264
trining_neural_networks.ipnb doesn't work out in Jupiter.!!!

[2019-04-10 05:17] lcyuanjiang commented on #317
optimize(fx.sphere,inters=20000) ,get rid of the"print_step="

[2019-04-10 05:19] lcyuanjiang commented on #317
just get rid of the “print step”in optimize发自我的iPhone------------------ Original ------------------From: 曾小健  <notifications@github.com>Date: Wed,Apr 10,2019 1:02 PMTo: ljvmiranda921/pyswarms <pyswarms@noreply.github.com>Cc: lcyuanjiang <lcyuanjiang@sina.com>, Mention <mention@noreply.github.com>Subject: Re: [ljvmiranda921/pyswarms] unexpected keyword argument 'print_step'(#317)Did you solved this

[2019-04-10 05:48] ljvmiranda921 commented on #264
Hi @ArtificialZeng I apologize for that. It's really difficult for us to update all documentation and examples because most maintainers don't have some time. I'l find some time next week to cleanup all docs. What error are you experiencing?

[2019-04-12 14:30] ljvmiranda921 commented on #315
@stalebot stop

[2019-04-17 02:26] ljvmiranda921 commented on #297
Stalebot keep

[2019-04-19 19:35] d-lowl commented on #9
Well, I got carried away, but I finally had some time today to try and put that together. I'm rather busy most of the time so I thougth I should give an update. https://github.com/d-lowl/pyswarms/tree/multiple-objective

The link above: MOPSO algorithm is added, MultiSwarms class is created (I could not come up with the way to use Swarms class and current topologies template properly, without brea

[2019-04-20 02:10] ljvmiranda921 commented on #9
Hi @d-lowl , let me look at this next week! Sounds awesome!! cc: @whzup @SioKCronin

[2019-04-24 10:02] #321 closed

[2019-04-30 16:20] ljvmiranda921 opened #335 "Update example notebooks by just linking on an HTML file"
Instead of maintaining an RST file, let's just link base everything from the .ipynb file, compile it into HTML and link to that file in our documentation

[2019-05-01 03:33] ljvmiranda921 commented on #335
Use [`nbsphinx`](https://nbsphinx.readthedocs.io/en/0.4.2/) instead

[2019-05-01 05:15] ljvmiranda921 commented on #297
Closing this issue.

[2019-05-01 05:15] #297 closed

[2019-05-01 05:16] ljvmiranda921 commented on #317
Hopefully this is already solved. Closing this issue

[2019-05-01 05:16] #317 closed

[2019-05-01 05:16] ljvmiranda921 commented on #294
Closing this issue. Thank you @stevenbw for joining us!

[2019-05-01 05:16] #294 closed